[2018-11-05 14:45] kyyash commented on #458
[code]

[2018-11-05 14:47] dsherret commented on #458
@kyyash is the code accidentally calling `addStatements` somewhere with an extra close brace (`}`)?

[2018-11-05 14:55] kyyash commented on #458
no @dsherret, I had checked it , nothing extra there,

your code snippet posted in comment
https://github.com/dsherret/ts-simple-ast/issues/458#issuecomment-435399281
works fine for me in always but once I start using it into my code , i did console before and after
I still face issue.

how can I enable source map for simple ast so that I can debug myself ?

[2018-11-06 01:41] cancerberoSgx commented on #490
The use case would be, In a LanguageService Plugin or when interacting with an existing TS Project/Program instance, if there is no need to create a ts-simple-ast project but want to add a new declaration to an existing SourceFile using ts-simple-ast structures for this (since they are much more easy to use than current TypeScript node creation API). Currently I need to instantiate a new project,

[2018-11-08 02:45] dsherret opened #492 "Method for adding source files to project based on current files"
For example, given the following files:

[code]

And following tsconfig.json:

[code]

The following setup...

[code]

...will cause only *main.ts* to be added to the project.

It would be nice to have a method that adds all the referenced files to the project. I'm not sure what this would be called, but it should be in an `addX` format to be consistent with the other methods on `Project`.

[2018-11-09 04:15] dsherret opened #493 "Renaming renamed at wrong text location"
When doing this rename:

https://github.com/dsherret/ts-simple-ast/commit/8143384e8cf308f26af773a780f46e9c20ada2a7

There was one line of code where the replace didn't happen exactly in the right place. It was related to renaming `sourceFile` to `_sourceFile`. Need to re-run that refactor and then look into this.

[2018-11-09 09:47] osyrisrblx opened #494 "How to get the type of an import?"
Given an ImportDeclaration that looks like:
[code]

Is there a way I can get the type of `Foo` as it is declared/exported from `"./module"` ?
I'd like to know if it's an InterfaceDeclaration or ClassDeclaration, etc..

[2018-11-10 16:45] #493 closed

[2018-11-11 00:47] dsherret commented on #494
Hey @osyrisrblx,

I've found these two ways work. There may be other ways of doing it as well.

[code]

[2018-11-11 19:07] dsherret commented on #470
This is more important than I thought before... perhaps it should have its own method? Maybe `getTextWithoutLeadingIndentation()`, but that's long.

My problem right now is how `replaceWithText` will use queued indentation, which cause problems when working with the original text that included all the indentation. Right now I have to do this:

[code]

[2018-11-12 02:57] dsherret commented on #492
I'm beginning to think this should be done always and instead add a "skip" property to the project options to skip doing this.

[2018-11-12 03:35] Gerrit0 commented on #492
I would expect that all referenced files be added to the project by default, especially since that is what happens when using `ts.createProgram` directly.

"skip" is a bit ambiguous, maybe "resolveFileDependencies"?

[2018-11-12 04:37] dsherret commented on #492
Yeah, it wouldn't be "skip," but I do like your idea of `resolveFileDependencies`. I think people might think setting that to `false` would disable it completely... so working off what you said maybe `skipDependencyResolution`?

For a method name, I'm thinking either `addDependencySourceFiles()`, `resolveDependencies()`, `resolveFileDependencies()` or `resolveSourceFileDependencies()`.

[2018-11-12 08:40] mi5ha opened #495 "Difference between emitting and saving?"
Hi there, this library makes AST magic much easier to understand :-) But for beginners like me there are still some blind spots in the documentation.

For example after reading the docs I can't see the difference between saving and emitting? Both seem to commit current node tree to the file system/memory?

Cheers

[2018-11-12 08:57] lazarljubenovic commented on #495
[Saving](https://dsherret.github.io/ts-simple-ast/manipulation/#saving-changes) saves the changes you made to the source TypeScript files you made. For example, you can create a new TypeScript file `foo.ts` and write some text in it. When you hit `project.save()` (and the promise resolves), a new file will be create on your disk with the contents you specified in your manipulation code. Before you

[2018-11-12 14:49] mi5ha commented on #495
So, saving is updating/creating .ts files, and emitting is creating compiled .js files? Got it, thanx

[2018-11-12 16:00] dsherret commented on #495
Yup! Thanks for answering this @lazarljubenovic!

Also, sorry this wasn't clear @mi5ha. I just did a commit to update the docs for this and I will merge that to master soon. I need to spend a lot more time updating the documentation.

[2018-11-12 18:11] dsherret commented on #489
Implemented by @cancerberoSgx in #491.

[2018-11-12 18:11] #489 closed

[2018-11-12 23:21] dsherret commented on #492
This will be in v19. I'm making this a breaking change because more source files may appear in the project after constructing it.

[2018-11-12 23:21] #492 closed

[2018-11-13 08:40] mi5ha opened #496 "Can I read/set nested structures?"
For example when I am creating variable with nested object as value, I create VariableStatement node with a structure like this:

[code]

But initializer here is string? Can this initializer be nested structures that describe ObjectLiteralExpression nodes and PropertyAssignment nodes and everything that is needed to construct VariableStatement?

[2018-11-13 16:08] dsherret commented on #496
This is somewhat experimental, but see if it works to use `WriterFunctions.object` (`import { WriterFunctions } from "ts-simple-ast"`):

[code]

If that doesn't work well for you, you could create your own writer function then reuse that throughout your code. See here for how `WriterFunctions.object` is implemented if you want to do that: https://github.com/dsherret/ts-simple-ast/blob/6e189528cef0

[2018-11-13 19:51] mi5ha commented on #496
Thanx for the directions, will try it out!

[2018-11-15 07:24] myfjdthink opened #497 "how can I read Array's generic type"
Hi there, this library is so cool and it helps a lot.

I got a problem. I want to iterate the properties of an interface named SearchResult.
Actually， the property 'data' type is Array.
How can I get the generic type 'PlayerStats' from 'data'?

code
[code]

[2018-11-15 15:37] dsherret commented on #497
Hey @myfjdthink, thanks! I'm glad it's helping you.

Use `.getArrayType()` on `Type`:

[code]

[2018-11-16 03:22] dsherret opened #498 "OfKind methods should use ts.forEachChild"
Methods like `getDescendantsOfKind` should not use `compilerNode.getChildren()` if the node can be found if navigated via `ts.forEachChild`.

[2018-11-19 04:12] no-more opened #499 "Question: Compare files ignoring whitespace and comments"
Hello,

this might be quite weird, but I'm looking for a way to compare two typescript file but ignoring comments and indentations.
I need to do this before saving a file, if no code changes detected I don't want the file to be saved (in same case).
I was wondering if there was any way to achieve this with ast or if I should code something myself.

Thanks.

[2018-11-20 05:12] no-more commented on #499
Thanks a lot, I'll try that later today.

[2018-11-20 05:28] qiansc opened #500 "Question: Error when add let-kind variableStatement"
Hi,
I have to say ts-simple-ast is an excellent project 👍

And I have two question after using.

Question 1:
Is there any way to add variableStatement whitout declarationKind, just like

[code]

Question 2:
I want to add [a variable statement](https://dsherret.github.io/ts-simple-ast/details/variables) such as `let key = 1;` , so try following but got an error (in TS 3.1)：

[code]

Error: Unexpect

[2018-11-20 18:01] dsherret commented on #500
Hey @qiansc. Thanks for the compliment!

**Question 1**

`num = 1;` is an expression statement. You can add it by using `.addStatements` in the block of code you want to add it to:

[code]

**Question 2**

That's very strange, I tried the problem you mentioned with the following code, but was unable to reproduce it. What's the value of `console.log(VariableDeclarationKind.Let)`?

[code]

Also, wha

[2018-11-21 15:12] qiansc commented on #500
I tried again today and suddenly found that the second problem did not recur. Maybe I made a mistake since project tsconfig was wrong yesterday and failed to get tips.

Issue can be closed, thanks a lot!

[2018-11-21 15:13] dsherret commented on #500
@qiansc Cool, no problem. I'm glad it's working!

[2018-11-21 23:41] gt3 opened #501 "Signature type arguments (question)"
Given the following Typescript declaration file:
[code]
What is the cleanest way to retrieve `CustomType1` argument in `calc` function signature?
I have this so far:
[code]

[2018-11-22 00:55] dsherret commented on #501
Using only the AST, the type argument node's text in the return type can be retrieved by getting the return type node, assuming it's a `TypeReferenceNode`, then getting its first type argument's text (using https://ts-ast-viewer.com helps to figure out what kind of node that is):

[code]

You may not know what kind of node the return type is though, so using type guards can help in that scenario..

[2018-11-22 01:12] gt3 commented on #501
@dsherret thanks for the prompt and accurate response. As you pointed out `TypeReferenceNode` type is key here. I am guessing you can use the same technique for class declaration. I'll try it out.
[code]

[2018-11-22 01:14] gt3 commented on #501
btw ast-viewer is super cool!!!

[2018-11-22 01:18] dsherret commented on #501
Thanks!

Yeah, it's an expression with type arguments so using the ast alone you can just do:

[code]

[2018-11-25 13:12] lazarljubenovic opened #502 "Add a tokenizer/lexer"
**Is your feature request related to a problem? Please describe.**

I'm trying to build a syntax highlighter.

**Describe the solution you'd like**

A tokenize method which would return an array of tokens with LOC information, so that the original code can be reconstructed as-is, with correct whitespace and comments.

**Describe alternatives you've considered**

- [Esprima](http://esprima.org/demo

[2018-11-26 22:41] dsherret commented on #499
@no-more by the way, after reading #502 I realized that this is possible just using the scanner in the compiler api. It's the fastest solution as you wouldn't have to parse the entire file to figure out if they're the same.

For example:

[code]

[2018-11-26 22:43] dsherret commented on #502
Yeah, as you mentioned it would probably be best to use the scanner. See here for another example:

https://github.com/dsherret/ts-simple-ast/issues/499#issuecomment-441828794

[2018-11-28 10:56] kyyash opened #503 "Unable to update a value of property"
**Describe the bug**
protected configVariable: ITestConfiguration = {
    "params": {
      "fgroup1": {
        "name": "group1",
        "type": "string",
        "value": ""
      }
    },
    "events": {
      "subscribed": [],
      "published": []
    }
  };

Version: 18.0.0

**To Reproduce**

[code]
const property = classDeclaration.getPropertyOrThrow(propertyName);
					property.setInitial

[2018-11-28 11:20] kyyash commented on #392
propertyDecln.fill does not work

with 18.0 version of ts simple ast.

[2018-11-28 13:38] no-more commented on #499
Sorry for the late response.
Your solution is working great! Thanks a lot!

[2018-11-28 14:44] dsherret commented on #392
@kyyash `.fill` is now called `.set({ initializer: "newName" })`. For this scenario it's best to use `.setInitializer("newName")` though.

Read the breaking changes document for more info: https://github.com/dsherret/ts-simple-ast/blob/master/breaking-changes.md#fill-methods-are-now-set

[2018-11-28 14:54] dsherret commented on #503
Hi @kyyash,

I'm unable to reproduce the problem you're describing. If you'd like me to resolve the issue you're having, then please take the time to fill out the bug report template properly with a reproducible example.

Here was my attempt at reproducing what you mentioned, but I'm not able to reproduce:

[code]

Outputs the following as expected:

[code]

[2018-11-29 10:21] kyyash commented on #503
We were able to achieve using setInitializer

[2018-11-29 10:22] kyyash opened #504 "Unable to use getClasses on sourceFile"
**Describe the bug**
Unable to use getClasses on sourceFile
Version: 18.0.0

Unable to use getClasses on sourceFile
**To Reproduce**

[code]

**Expected behavior**

[2018-11-29 11:36] #503 closed

[2018-11-29 14:04] dsherret commented on #504
@kyyash I can't reproduce this. You'll need to provide some code that reproduces the problem.

[2018-12-01 17:44] dsherret opened #505 "TypeParameteredNodeStructure - Accept strings"
Change:

[code]

To:

[code]

[2018-12-02 17:56] dsherret opened #506 "Get variable statement by a declaration's name"
Right now I'm having to do this:

[code]

But it would be nice if I could just do:

[code]

[2018-12-02 18:06] dsherret opened #507 "CompilerNodeToWrappedType sometimes resolves to any"
Right now the `CompilerNodeToWrappedType` type will sometimes resolve to `any`:

https://github.com/dsherret/ts-simple-ast/blob/698ca54707f5ee2908f04e87427d70cfc67c7d73/lib/ts-simple-ast.d.ts#L4775

The reason for this is a limitation in the typescript compiler where you cannot nest more than 50 conditional types: https://github.com/Microsoft/TypeScript/issues/28663

I spent a decent amount of tim

[2018-12-02 20:08] #506 closed

[2018-12-02 21:18] dsherret opened #508 "Expose Node.forgetDescendants()"
The currently internal `forgetChildren()` method would be useful for others as it will only get the children in the cache (so it does not unnecessarily put them in).

Note: Naming this `forgetDescendants` would probably be better.

[code]

This is probably most useful on a source file `sourceFile.forgetDescendants()` in order to forget all the nodes in the source file without forgetting the source

[2018-12-02 23:00] #508 closed

[2018-12-03 05:59] kyyash opened #509 "Life time of the temp ts file"
What is the life time of the temp ts file we create here, how does it gets cleaned and can we expect any concurrency issues if we use the same file name.

const project = new Project({
			useVirtualFileSystem: true,
		});

		let sourceFile = project.createSourceFile('___temp__.ts', fileContent);

[2018-12-03 17:22] Gerrit0 commented on #507
Since compiler nodes have the `kind` property set to enable differentiated union behavior, could you do something like this?

[code]

[2018-12-04 00:15] dsherret commented on #507
@Gerrit0 you just made my day!!! 😄

I had tried that in the past, but ran into issues. I ran into issues this time too, but now I had my ` npm run code-verification validate-compiler-node-to-wrapped-type` script to run each time to validate all the passed in types. I was able to come up with the following type that falls below the max depth of 50.

[code]

I'll do a release sometime today or tomor

[2018-12-04 02:18] #507 closed

[2018-12-04 02:18] dsherret commented on #507
This is released in 19.1.0. Thanks again @Gerrit0!

[2018-12-08 22:40] #505 closed

[2018-12-09 21:37] dsherret commented on #509
@kyyash sorry for my delay in replying to this!

When calling `let sourceFile = project.createSourceFile("myFile.ts", fileContent);`, that file will exist in memory until `project.save()`, `sourceFile.save()`, or an ancestor directory is saved. Once that happens, it will be also written to the underlying file system (by default, the actual computer's file system and not a virtual one).

During all

[2018-12-15 18:10] dsherret opened #511 "createSourceFile - Add overload that accepts writer function"
As title. Should be on both Project and Directory.

[2018-12-15 18:11] dsherret commented on #504
Please reopen when posting reproduction steps.

[2018-12-15 18:11] #504 closed

[2018-12-15 18:39] #511 closed

[2018-12-15 20:39] dsherret opened #512 "Change descendant traversal order"
Given the following tree:

[code]

The current traversal order for methods like `forEachDescendant` and `.getDescendants()` is `FunctionDec1, Identifier1, Block1, FunctionDec2, Identifier2, Block2, FunctionDec3, Identifier3, Block3, EndOfFileToken`.

The problem with this traversal order is that when you remove say `FunctionDec2` during the iteration (`Identifier2` and `Block2` are now forgotten),

[2018-12-15 22:09] dsherret commented on #512
@lazarljubenovic thanks for the feedback! Yes, exactly (preorder to postorder). I was so focused in to my transformation scenario that I didn't spend enough time thinking about analysis. Yes, definitely agree that we need both!

How about the following?

[code]

**Pre**
* Pros: Probably what people would expect by default.
* Cons: Leads to an error if someone manipulates a node.

**Post**
* Pros:

[2018-12-15 22:11] dsherret opened #513 "Add ability to traverse tree in post order"
Instead of #512, there could instead be an option to traverse in post order.

For example:

[code]

See [this comment](https://github.com/dsherret/ts-simple-ast/issues/512#issuecomment-447601251).

[2018-12-15 22:11] dsherret commented on #512
I'll probably close this and implement #513 instead.

[2018-12-15 22:30] lazarljubenovic commented on #512
I like the straight-forwardness of just telling the lib how to traverse the tree. Declarative and powerful, the best combination IMO :+1:

I'm wondering if it would be worth the trouble to overload the signature and do a run-time check of the argument type (because we can't have default parameter as first arg) in order to move the traversal ordering as the first argument.

[code]

I just don't lik

[2018-12-15 22:39] dsherret commented on #512
Agree! Thanks, I updated the other issue.

Yeah, it's better for people to think about what kind of traversal they're going to be doing right at the start and when reading, to read that before they read the body.

[2018-12-15 22:41] #512 closed

[2018-12-15 22:48] lazarljubenovic commented on #513
Continuining https://github.com/dsherret/ts-simple-ast/issues/512#issuecomment-447602471, it just crossed my mind that something like this might be an interesting idea too...

[code]

It:

- forces the user to always be explicit without causing too much hassle (basic autocompletion)
- removes the need for an additional import of `TreeOrder`
- removes the burden from the lib about checking type arg

[2018-12-16 01:17] dsherret commented on #498
This is a breaking change. Previously the `sourceFile.getFirstChildByKindOrThrow(SyntaxKind.ClassDeclaration)` would throw, but now it will return the class declaration:

[code]

[2018-12-16 01:27] #498 closed, assigned to nobody

[2018-12-16 15:35] dsherret opened #514 "Ability to get results of forEachChild as an array"
This would probably be called `forEachChildAsArray()` for discoverability and be implemented like so:

[code]

[2018-12-17 03:33] dsherret commented on #176
This is implemented now. Some examples:

[code]

[code]

[2018-12-17 03:33] #176 closed

[2018-12-17 03:48] dsherret commented on #514
This is a sad name, but considering the compiler API design I think it's necessary.

[2018-12-17 16:31] marikaner opened #516 "tsconfig.json expected in js projects"
I was using `ts-simple-ast` with js and it took me a long time to figure out why I got the following error: `throw this.getFileNotFoundErrorIfNecessary(err, filePath);` as it cannot find the `tsconfig.json`. But I don't need it in my js project...

Creating an empty config with `touch tsconfig.json` solved the issue. When I find the time I will post a more exact desciption in the future, but I gue

[2018-12-17 16:56] dsherret commented on #516
@marikaner could you post some reproduction code? You shouldn't need to specify a tsconfig and it should only be loaded when specified.

[2018-12-21 15:43] marikaner commented on #516
@dsherret Sorry for the sloppyness, I found the error in our own code.

Just FYI: we basically had a code generator (written in ts) using `ts-simple-ast`, that was relying on a `./tsconfig.json` in the project (which I missed).
When packing it and sharing it with other colleagues, they got the mentioned error.
The fix was simple:
[code]

Thank you for your support, though!

[2018-12-21 15:43] #516 closed

[2018-12-21 16:05] marikaner opened #517 "OrganizeImports breaks sourcefile filtering"
We use `ts-simple-ast` for a code generator. I just recently decided to beautify the generated code by cleaning up the imports (among others). Weirdly this changes what sources belong to the project:

This is a minimal example:
[code]

I would expect the number of files not to change.

Also: we ❤️`ts-simple-ast`

[2018-12-24 06:11] WanderWang opened #518 "feature request : add a " add all missing import " method in LanguageService"
**Is your feature request related to a problem? Please describe.**

I want to convert a big size  typescript library from " global-variable-based " to ES6 modules

Here is a example :

from:

[code]

to :
[code]

First step , I have added a  export keyword with all classes  , It works now .

Second step , I need to " add all missing import " ( such as manual in vscode ) programmicly , but failed .

[2018-12-30 04:34] Gerrit0 opened #519 "type.isTuple is false for destructured tuples"
Version: 20.0.0

Types seem to break when using `...` in destructured declarations, I would expect `isTuple` to be true, since hovering over `rest` in the following code shows `[number]`, but both `isTuple` and `isArray` return false.

[code]

**To Reproduce**

[code]

**Expected behavior**

`type.isTuple()` should return true.

[2019-01-02 20:07] Gerrit0 commented on #519
After looking in to this a bit more, I'm not entirely sure it is a bug. In this case the type is a reference type... which points to a tuple type (that does have `ts.ObjectFlags.Tuple` set)

The current behavior is unexpected if you aren't familiar with the compiler (me, most people), but I'm not sure it is *wrong*.

[2019-01-02 20:50] dsherret commented on #519
@Gerrit0 Thanks for the update! I didn't investigate this, but I was suspecting there was a chance it wasn't a bug. I'll look at it soon... I took a break during the holidays from working on open source, but I'll get back into it now that it's the new year.

[2019-01-05 17:01] dsherret opened #520 "getVariableDeclaration - Search object and array binding patterns for name"
For example, given the following variable statement:

[code]

Doing:

[code]

Should return the `VariableDeclaration` with the `ObjectBindingPattern`. The same should happen when searching for variable statements.

From #519.

[2019-01-05 17:05] dsherret opened #521 "Add StatementedNode.getNameIdentifier"
Related to #520.

Say you had the following code:

[code]

Then doing the following:

[code]

...would return the identifier for `a`, but only the one in the object binding pattern.

Note that this should not search for identifiers in descendant scopes.

Edit: This should be `getNameIdentifier` to prevent confusion. For example, in the example above the `a` identifier in the object literal express

[2019-01-05 17:36] dsherret commented on #519
@Gerrit0 in that scenario, using `.getDeclaredType()` will return a type of `any` (`type.getText()`).

I found it works fine if I do this:

[code]

Or this (opened #521 to make it easier to get the identifier):

[code]

To be honest, I'm not sure what `.getDeclaredType()` is supposed to do, but I've always found `.getTypeAtLocation(node)` to work.

By the way, `isTuple()` will look at the referenc

[2019-01-05 18:21] #520 closed

[2019-01-06 03:17] Gerrit0 commented on #519
I agree, this isn't actually a bug. #521 looks great, thanks! Closing issue.

[2019-01-06 03:17] #519 closed

[2019-01-06 21:01] dsherret commented on #518
This will be in version 21. Hopefully will release later today.

[2019-01-06 21:01] #518 closed

[2019-01-06 21:02] dsherret commented on #518
By the way, this is done using `#getCombinedCodeFix()` on the language service, but is available as a simple method call on the source file like so: `sourceFile.fixMissingImports()` (similar to `sourceFile.organizeImports()`)

[2019-01-06 23:11] dsherret opened #522 "Project should not return implicitly resolved files and directories"
Given the example from #517, the following behaviour will happen:

[code]

Note: If on a `Directory` object it will still return all the implicitly resolved files and directories.

[2019-01-06 23:13] dsherret commented on #517
Hey @marikaner, this is because organizing the imports will cause file dependency resolution... so the files will be added to the project.

Also, sorry for the long response, but it was the holidays and I've been thinking about what can be done here. I think the expected behaviour you're describing makes a lot of sense, so I've opened #522 and that should resolve this issue once implemented. Let m

[2019-01-07 01:59] dsherret opened #523 "Do not return resolved node_module source files or the directory from Project#getSourceFiles() and getDirectories()"
With what I've been doing in #522 it should be possible to not include resolved source files in the `node_modules` directory in the results of `Project#getSourceFiles()` and `getDirectories()`.

Notes:

1. Files in `node_modules` are added if added explicitly.
2. When calling `.resolveSourceFileDependencies()`, the files in `node_modules` will only be added if the `node_modules` directory is alrea

[2019-01-07 10:08] WanderWang commented on #518
great jobs ! could you publish a tag ( such as  ts-simple-ast@next ) in npm before you release  version21 ?

[2019-01-07 13:32] WanderWang opened #524 "Error: Not implemented to set a namespace name that uses dot notation. Please open an issue if you really need this and I'll up the priority"
[code]

[2019-01-07 20:02] dsherret commented on #524
It is easier to implement this now than it was a while ago. I will work on this soon.

As a temporary workaround, use the following code (but it will forget all the descendant nodes of the namespace):

[code]

[2019-01-08 04:54] WanderWang commented on #524
I solved the problem with a similar way at  last night . Thank you for your reply

[2019-01-08 04:57] WanderWang commented on #518
Thanks for you hard working in ts-simple-ast again ! . This feature  saved me tens of hours 👍

[2019-01-10 02:59] dsherret commented on #517
This will be resolved in version 21 via #522 and #523.

[2019-01-10 02:59] #517 closed

[2019-01-10 08:48] marikaner commented on #517
Thank you for fixing it so quickly! I did not have time to try it out yet, though.

[2019-01-10 14:02] dsherret commented on #517
I haven't released it yet. I still have to write up the list of breaking changes and then publish it (will do by sunday night).

[2019-01-23 21:51] philipp-sorin opened #525 "Navigation in type arguments in property declaration"
How can I access to ARG1 and ARG2?
Now it possible only with compiler api, as far as I understand

`
class A {
    public property: Map<ARG1, ARG2> = new Map();
}
`

[2019-01-23 21:51] philipp-sorin commented on #525
Also, this project is awesome :)

[2019-01-23 22:15] dsherret commented on #525
Hey @philipp-sorin! It's possible :)

Using just the ast (only the nodes):

[code]

Or using the type checker (this is useful when the property is implicitly defined):

[code]

[2019-01-23 22:16] dsherret commented on #525
By the way, https://ts-ast-viewer.com is useful for telling that the type of the property is a type reference.

[2019-01-24 08:44] philipp-sorin commented on #525
Cool!!
Seems like I didn't have Map definition on my local.
Thanks a lot :)

[2019-01-24 16:02] dsherret commented on #525
No problem! Yeah, if you ever get a type resolving to `any` you can try doing `sourceFile.getPreEmitDiagnostics()` or `project.getPreEmitDiagnostics()` to see if there are any compiler errors ([read more](https://dsherret.github.io/ts-simple-ast/setup/diagnostics)).

[2019-01-25 02:51] WanderWang opened #526 "feature request : support rename filename"
**Is your feature request related to a problem? Please describe.**

I want to rename my sourcefile's filename via languageService

**Describe the solution you'd like**

here is source file

[code]

when i execute this script
[code]

it should be

[code]

**Describe alternatives you've considered**

[2019-01-25 02:57] dsherret commented on #526
Hey @WanderWang, does `sourceFile.move(“c.ts”)` already do what you want? It should change module specifiers automatically.

[2019-01-25 03:07] WanderWang commented on #526
it works ! thanks u david !

by the way , could you improve https://dsherret.github.io/ts-simple-ast/manipulation/renaming with this method ???

[2019-01-25 03:16] dsherret commented on #526
Good idea! I’ll do that soon.

[2019-01-28 21:08] dsherret opened #527 "Adding namespace with quotes should default to ambient module"
For example, when doing the following:

[code]

The output should be:

[code]

That said, if the user sets `hasDeclareKeyword` to `false`, it should not add the declare keyword, but if they set the `NamespaceDeclarationKind` to `namespace` then it should error because it won't parse correctly (as currently happens).

[2019-01-31 21:33] ihorskyi opened #528 "Error with TypeScript 3.3.1"
Version: 21.0.2
**To Reproduce**
Just run `tsc` with version 3.3.1 of *TypeScript*

<img width="1440" alt="screen shot 2019-01-31 at 4 26 29 pm" src="https://user-images.githubusercontent.com/6171149/52086813-d5ce9e00-2575-11e9-88e4-2efe8136447d.png">

[2019-01-31 22:26] #528 closed, assigned to nobody

[2019-02-02 16:42] #527 closed

[2019-02-02 16:50] #526 closed

[2019-02-05 22:11] FaBeyyy commented on #273
Doesnt work for me sadly... if overwrite is set to true it does not throw an error but also doesnt overwrite the file.

[2019-02-12 07:07] brianzinn opened #529 "adding types like classes/interfaces"
It's very easy to add classes and interfaces like:
[code]

I am trying to generate Types and finding that it is not as intuitive.  I can use a similar structure to create the type alias, but it is not as easy to build dynamically:
[code]
In the above example the type must be a string (ok, that string can be `{prop1: value, prop2: value2}`), whereas I want to dynamically add to it.  That part is OK

[2019-02-12 07:16] Pineapples opened #530 "feature request: JSDocTypeExpression"
I'd like to request a wrapper for JSDocTypeExpression to read out the types of parameters in JSDoc tags.

[2019-02-12 07:23] Pineapples commented on #530
I've added a pull request. Seems like your dev is behind on master. Cool project to work on. Let me know what you think.

[2019-02-12 13:00] Pineapples opened #532 "feature request: Expose isBracketed on JSDocPropertyLikeTag"
Requesting the isBracketed boolean on a JSDocPropertyLikeTag to be exposed.

[2019-02-12 13:02] Pineapples commented on #532
Added a PR for this, let me know what you think.

[2019-02-12 13:06] dsherret commented on #529
@brianzinn yeah, sorry about that. It's not as intuitive because type aliases can have more than just object types (ex. `type MyType = string | number;`).

There is a currently a helper function for writing out object literal expressions (`WriterFunctions .object` [see here](https://github.com/dsherret/ts-morph/blob/d7575778b340a11c5af8fd21e3955783676f8586/src/utils/WriterFunctions.ts#L16)), but i

[2019-02-12 13:15] dsherret commented on #530
Thanks for the contributions @Pineapples! I just took a brief look and it looks good, but I have to go to work now. I'll merge this tonight after work.

By the way, I've updated the dev branch. Sorry about that, I just forgot to push it. Thanks for following the contributing instructions so well though :)

[2019-02-12 20:41] brianzinn commented on #529
That helper function looks useful (and 'objectType' perhaps even more so), although I was able to dynamically generate the string equivalent.

My main question was whether or not there was any way to construct `union` or `intersection` on other Types to generate.  Like above, but also to generate intersection on Types like:
[code]

[2019-02-12 22:00] #532 closed

[2019-02-12 22:14] dsherret commented on #529
@brianzinn for the time being, it's probably easiest to use a writer:

[code]

Then create your own writer functions to suit your needs similar to what's done in `WriterFunctions.object`.

I'll add some more functions to `WriterFunctions` so that the following could be done:

[code]

[2019-02-13 00:46] dsherret commented on #529
By the way, as you mentioned, this would also be useful (but on the type node so it would work with types anywhere):

[code]

[2019-02-13 04:19] brianzinn commented on #529
that was a fast start!  i'll be keeping a watch on this :) thanks.

[2019-02-14 02:37] dsherret commented on #530
This is released in v1.1.0. Thanks again, @Pineapples!

[2019-02-14 02:37] #530 closed

[2019-02-14 04:49] osyrisrblx opened #534 "Cannot find types if project folder is not cwd"
**Describe the bug**

Version: 1.0.0

**To Reproduce**

Create a TS project folder with a simple tsconfig.json + some .ts files in a "src" folder.
Set the following options in tsconfig.json:
- `"noLib": true,`
- `"types": [ "my-types" ],`
( `"my-types"` should be an npm package with type declaration files)

[code]

**Expected behavior**

I expect the following output:
[code]
But if I run the code

[2019-02-14 14:52] dsherret commented on #534
@osyrisrblx hmmm that's strange! I would expect the second output both times though since `noLib` is true and I'm guessing `my-types` is located in `node_modules/my-types` rather than `node_modules/@types/my-types`. Perhaps the compiler api is searching in the `node_modules` of the current working directory to try to resolve types and that's why the first one finds the files.

[2019-02-14 15:01] Pineapples opened #535 "feature request: Expose typeExpression for JSDocTypeTag and JSDocReturnTag"
Sorry to bother you again with another feature request, but I would like to have the typeExpression property for JSDocTypeTag and JSDocReturnTag exposed.

I'll submit a pull request soon.

[2019-02-14 15:07] dsherret commented on #535
For sure! I'll take a look at it after work. The jsdoc area hasn't been fully wrapped so I know it's missing stuff... sorry about that, but thanks for adding those methods. I appreciate it!

Maybe I will spend a bit of time this weekend wrapping more stuff in there.

Btw, take note that as a temporary workaround you can always fall back to the typescript compiler api node from any node by inspecti

[2019-02-14 18:25] MichalLytek opened #537 "Using ts-morph in transform plugin"
**Is your feature request related to a problem? Please describe.**

I am trying to use `ts-morph` to create a custom transformer that will enhance the limited TypeScript reflection system.

The raw TS API is really hard to use without proper docs and tutorials but I've tried your API and it's great and have all I need, works great using a standalone Project API.

In transformer signature I can use

[2019-02-14 20:31] osyrisrblx commented on #534
@dsherret

Yep.

https://www.typescriptlang.org/docs/handbook/tsconfig-json.html
![image](https://user-images.githubusercontent.com/9200592/52815784-8c9a4600-306d-11e9-83f3-7b5c0ba17b02.png)

This part of the documentation seems to indicate that `"types"` is just an array of package names to be included as type declarations.

[2019-02-14 20:43] dsherret commented on #534
@osyrisrblx the documentation is not so great on this point. From my understanding, `types` is based out of the packages in `typeRoots` which by default is `node_modules/@types` (see the source: https://github.com/Microsoft/TypeScript/blob/b534fb4849eca0a792199fb6c0cb8849fece1cfd/src/compiler/moduleNameResolver.ts#L240).

Anyway, something strange is going on here. I'll look into it soon.

[2019-02-15 05:57] yantrab opened #539 "d.getArguments()[0].compilerNode.getText() return stings with comma"
Thank for the great jobs!

I glad if you take a look on my using your lib to compile [nest controller to client api](https://github.com/yantrab/nest-angular/blob/master/generator/index.ts).

to get the name of the method i did:

`d.getArguments()[0].compilerNode.getText()`
the result is like " 'getHello' ".

[2019-02-15 16:29] dsherret commented on #539
Hey @yantrab, do you mean it returns the string with quotes? That node is probably a string literal. You can do the following:

[code]

Also you can check if the node is a string literal by using a type guard:

[code]

[2019-02-15 16:53] schiller-manuel opened #541 "wrap typeChecker.getResolvedSignature"
I did not find `typeChecker.getResolvedSignature` to be wrapped by ts-morph.
Is this functionality already somehow covered? If not, I would like to contribute this feature.

[2019-02-15 17:05] schiller-manuel opened #542 "wrap signature.getDeclaration"
I did not find `signature.getDeclaration` to be provided by ts-morph.
Is this functionality already somehow covered? If not, I would like to contribute this feature.

[2019-02-16 00:21] dsherret commented on #541
Sure, feel free. Thanks!

[2019-02-16 00:23] dsherret commented on #542
Hmm yeah looks like `JSDocSignature` would need to be implemented at the same time. Thanks also for this!

[2019-02-16 00:34] #535 closed

[2019-02-16 04:03] dsherret opened #543 "Wrap IndexedAccessTypeNode"
As title.

[2019-02-18 04:32] brianzinn commented on #529
I did a comment on your branch commit.  I was thinking you could avoid needing the 'StructurePrinterFactory' by passing it from the caller, but the changes needed looks to be exploding:
https://github.com/brianzinn/ts-morph/commit/33e97693bf0e1808aa5da5e4b636685beb0bcecb
ps: I tried already passing a new type WriterContext { factory: StructurePrinterFactory }, but then saw that does not fit how wr

[2019-02-18 16:34] dsherret opened #546 "TypeNode - Add methods for manipulating types"
From #529. Some examples:

* `addUnionType("string")`
* `addIntersectionType("{ prop: number; }");`

Needs more thought though.

[2019-02-18 16:34] dsherret commented on #529
Yeah sorry, I was away in Montreal for a few days. I just merged this and kept it as a static class.

I will look into adding methods for manipulating type nodes in #546.

[2019-02-18 16:34] #529 closed

[2019-02-18 16:59] #543 closed

[2019-02-18 17:12] dsherret opened #547 "Wrap JSDocSignature"
As title.

[2019-02-18 17:32] dsherret opened #548 "Getting JS doc descendants by kind should find nodes"
Right now it won't find the nodes because they won't be returned by `forEachChild`.

[2019-02-18 18:17] #548 closed

[2019-02-18 18:24] #547 closed

[2019-02-21 01:28] #542 closed

[2019-02-21 02:39] #541 closed

[2019-02-26 08:33] vibodev opened #552 "A problem for export default Variable"
demo.ts
[code]

test.js
[code]
**Error:**
TypeError: declaration.isDefaultExport is not a function

HELP!~

[2019-02-26 14:57] dsherret opened #553 "VariableDeclaration - Add isDefaultExport()"
From #552.

Right now `isDefaultExport()` only exists on `VariableStatement`, but it would be useful to add it to `VariableDeclaration` as well.

[2019-02-26 15:04] dsherret opened #554 "ModuledNode#getExportedDeclarations - Restrict return type to only the possible node types"
From #552.

[2019-02-26 15:04] dsherret commented on #552
Right now `isDefaultExport()` only exists on `VariableStatement`. I've opened #553.

Current workaround is:

[code]

Opened #554 as well.

[2019-02-26 20:51] yantrab opened #555 "Emit diagnostics do not include semantic diagnostics"
[code]
why diagnostic is empty in this case?

[2019-02-26 21:13] dsherret opened #556 "Improve jsdoc for EmitResult#getDiagnostics() to talk about `noEmitOnError`"
Right now it says it only returns the declaration diagnostics...

...but it should talk about how it returns more when the `noEmitOnError` compiler option is set.

Related to #555.

Edit: See https://github.com/Microsoft/TypeScript/blob/4db4c5892423562c9ea3938b9b2366de35dd0c5e/src/compiler/program.ts#L1526

[2019-02-26 21:14] dsherret commented on #555
What you probably want to do is check the pre-emit diagnostics:

[code]

With that configuration it won't return the semantic diagnostics.

**Sidenote**

Right now the jsdoc on `getDiagnostics()` for `EmitResult` says:

However, I just looked at the compiler api source and it seems that an exception to this is that it will return more diagnostics if the `noEmitOnError` compiler option is true (see

[2019-02-28 02:25] vibodev commented on #552
Thanks!!!

[2019-02-28 02:25] vibodev commented on #552
Thanks!!

[2019-03-02 01:08] #556 closed

[2019-03-02 02:53] dsherret opened #557 "ExportableNode#isNamedExport() does not work when named export is done via export statement"
Not sure how I missed this one because I ensure it for default export.

[2019-03-02 03:42] #553 closed

[2019-03-02 03:56] #557 closed

[2019-03-02 16:06] dsherret commented on #448
Putting this one on hold for the next while.

[2019-03-02 16:06] #448 closed

[2019-03-02 16:31] dsherret commented on #534
@osyrisrblx

Do you get these errors when `process.cwd()` is the project folder?

[code]

Because I get those errors when the cwd is the project folder, which should be expected for both scenarios.

[2019-03-02 16:35] #257 closed

[2019-03-02 20:05] #394 closed

[2019-03-02 20:21] yantrab opened #558 "How to get classes from index.ts"
I wont to get all classes from one index.ts file, that look like this :

`export * from './some-path';`

there is a way to do that?

thanks.

[2019-03-02 20:39] dsherret commented on #558
@yantrab Try this:

[code]

[2019-03-02 20:44] yantrab opened #559 "How to get isOptional for properties?"
[code]

[code]

[2019-03-02 20:45] dsherret commented on #559
Check `hasQuestionToken()`.

[2019-03-02 20:49] yantrab commented on #559
thanks!

[2019-03-02 20:53] yantrab commented on #558
thanks.
But how can i add new import for each class ?

[2019-03-02 20:58] dsherret commented on #558
Sorry, I think I'm not understanding your question. Could you rephrase it and ask it again? Right now the original question's code has a syntax error in it. Was that meant to be `export` instead of `import`?

[2019-03-02 21:06] yantrab commented on #558
You right, i did mistake with import instead of export.
what i wont to achieve, is to get one files, with new import from some module, and all classes from index.ts.

Thanks for you help.

[2019-03-02 21:07] dsherret commented on #558
Could you expand on the question a bit? Maybe show a before and after of the desired code?

[2019-03-02 21:20] yantrab commented on #558
I wont to add decorators to all classes:

[code]

1. how can i using index.ts instead  `project.addExistingSourceFiles(modelPaths + '/**/*.ts')`
2. new question : how can i using model from memory?

[2019-03-03 00:52] yantrab opened #560 "how can i check if prop type is enum?"
class{
f:someEnum
}

[2019-03-03 00:55] dsherret commented on #560
`property.getType().isEnum()` should work.

[2019-03-03 01:01] dsherret commented on #558
Oh ok, I think you mean something along the lines of this?

[code]

[2019-03-03 05:25] yantrab commented on #560
But is not work for me:

[code]

[2019-03-03 18:35] dsherret commented on #560
@yantrab thanks that was definitely a bug! This should be fixed in 1.3.0 (just released). Let me know if not.

[2019-03-03 18:41] granmoe opened #561 "How do I get module locals?"
In ts-ast-viewer.com, the SourceFile node has a property called "locals" that contains all symbols in module scope:

<img width="1792" alt="screen shot 2019-03-03 at 12 35 47 pm" src="https://user-images.githubusercontent.com/5620706/53699744-46edb500-3db1-11e9-8d4b-fbb65b17dac6.png">

Is there a way to get this using ts-morph? Or perhaps it is exposed somehow in the normal typescript compiler API

[2019-03-03 19:04] dsherret commented on #561
Hey @granmoe, always feel free to ask questions... there's a lot that's not really obvious and still a lot not implemented.

The `locals` property is on any node and internal to the compiler api. See [here](https://github.com/Microsoft/TypeScript/blob/8794ebdff5c00a92bb197a5afba02d573681538e/src/compiler/types.ts#L620). Having access to that symbol table would be incredibly useful though. Currentl

[2019-03-06 03:52] granmoe commented on #561
Thank you for the excellent answer! The links were very helpful.

I simply (heh) need to find all symbols available in module-scope, and I've tried many, many different approaches, but all seem to break down in some way or another. It seems that I'd either have to handle each and every statement in module scope with all of its inherent complexity, or, hopefully, find something *like* `locals` (but

[2019-03-06 14:03] vidal7 opened #562 "Using ts-morph in custom tslint rule fails to report in Visual Studio Code"
I am using ts-morph in a custom tslint rule. The lint error is reporting fine when using tslint cli command but is not reporting in vscode. I don't know if it's a ts-morph, typescript-tslint-plugin, ms-vscode.vscode-typescript-tslint-plugin or vscode issue.

Version: 1.3.0

Rule is failing to report in vscode when using createWrappedNode or new Project(). To reproduce, simply remove comments on co

[2019-03-07 04:35] granmoe commented on #561
I tried getting `locals` using the solution above, but it's always `undefined`. Here's what I'm trying:

[code]

I also tried some different ways of adding a file to the project with no luck:

[code]

Any ideas?

[2019-03-07 14:34] dsherret commented on #561
@granmoe sorry, I didn't test out what I said last time. This seems to work:

[code]

[2019-03-08 06:25] WanderWang opened #563 "Error: Not implemented feature for syntax kind 'ArrayBindingPattern'."
**Describe the bug**

I want to generate API docs from my .d.ts file . So I use ts-morph to convert .d.ts jsdocs to JSON but it emit a error

Version: 1.3.0

**To Reproduce**

**Expected behavior**

No Error

[2019-03-08 06:26] WanderWang commented on #563
[mydts.zip](https://github.com/dsherret/ts-morph/files/2944601/mydts.zip)

here is the .d.ts file

[2019-03-08 14:58] dsherret commented on #563
@WanderWang providing the stack trace would be useful.

[2019-03-09 17:25] dsherret commented on #563
Nevermind, I remember what this is now. I'll implement this soon.

[2019-03-09 20:28] yantrab commented on #560
@dsherret    Thanks, it works. but how can i check is if array of enum?

[2019-03-09 20:47] dsherret commented on #560
I'm not at my computer, but there should be an `isArrayType` and `getArrayType` method. Then check if that's an enum.

[2019-03-09 22:11] dsherret commented on #563
This will possibly throw a more descriptive error message in 2.0.0. Most likely you will need to use `.getNameNode()` instead, but the return type for that will be fixed on `ParameterDeclaration` in 2.0.0.

[2019-03-09 22:11] #563 closed

[2019-03-09 22:14] dsherret commented on #534
Closing for now. @osyrisrblx please reopen when you have more details.

[2019-03-09 22:15] dsherret commented on #558
Closing this question. Please reopen if the above does not answer it.

[2019-03-09 22:16] #227 closed

[2019-03-09 22:17] #26 closed

[2019-03-09 22:18] #74 closed

[2019-03-09 22:19] #521 closed

[2019-03-09 22:26] dsherret commented on #562
@vidal7 This seems like a problem elsewhere. Does the rule run at all? Does the file get executed? What about when you have a try, catch around the `createWrappedNode` statement? Does an exception occur then?

[2019-03-09 23:51] dsherret commented on #537
Hi @19majkel94, sorry for the delay in my reply.

In order to implement this properly, I believe a new program, type checker, and language service would need to be created between each AST update. That doesn't sound so performant. Overall, I would highly recommend not using this library in custom transformers.

I'd also recommend not using the program, type checker, or language service in transfor

[2019-03-10 00:47] dsherret opened #564 "Expose VirtualFileSystemHost"
This would allow for code like the following:

[code]

Would this be useful? Can't people just do:

[code]

[2019-03-10 00:47] #564 closed

[2019-03-10 10:20] 19majkel94 commented on #537
@dsherret
Thanks for your answer 😉

I've managed to overcome this problem by using the raw `ts` API to emit new code. I'm just reading the type info and emitting a new decorator, so I don't suffer from the synchronization lost issue.

It's also not so slow using `ts-morph` with `typeChecker` and `createWrappedNode`. Maybe in the future I will rewrite it to the raw `ts` API when the PoC become a re

[2019-03-10 15:33] tiehm opened #565 "Inserting at specific position"
Hello! I am trying to insert some code at a specific position within a method, however, I have no idea if it is possible and if so; how?

[2019-03-10 16:52] Gerrit0 commented on #565
You probably want `addStatements`, or `insertText` - https://dsherret.github.io/ts-morph/manipulation/#adding-inserting-and-removing-statements

[2019-03-10 18:15] tiehm commented on #565
Thanks!

Is it also possible to get the position of one specific statement within a method?

[2019-03-10 23:12] dsherret commented on #565
@tiehm yeah, call `.getChildIndex()` on the statement.

@Gerrit0 thanks for answering!

[2019-03-11 02:09] granmoe commented on #561
Awesome! Thank you again 🙂

[2019-03-11 13:50] Liero opened #566 "Question: Is there swagger code gen example?"
I believe I'm not the first one who is trying to get some custom code gen from swagger.json.

It would be very nice to have some example of how to generate the type definitions based on swagger input.
I believe it would be perfect demonstration of the ts-morph capabilities and perfect learning source.

[2019-03-11 14:12] tiehm commented on #565
Thank you. I only have one issue now, how would I use something like `<ClassDeclaration>.getMethod('run').getStatement(fn)`
I wonder what `fn` would have to get `await func(x)` from
[code]

[2019-03-11 14:24] dsherret opened #567 "Methods like `.getStatement` should work seamlessly with type guards"
Based on #565. Write some code verification script to catch these too so they're not missed.

[2019-03-11 14:25] dsherret commented on #565
It depends how you want to find that statement. I recommend using https://ts-ast-viewer.com to see what the statements look like, but one example would be to do:

[code]

Note: I just opened #567, which will make `.getStatement` a little better.

[2019-03-11 15:01] tiehm commented on #565
Is there also the possibility to detect comments and get their index?

[2019-03-11 15:16] dsherret commented on #565
There are the methods `.getLeadingCommentRanges()` and `.getTrailingCommentRanges()` on every node. Comments aren't part of the AST though so that makes them a little difficult to work with (they won't have an index). Read more here: https://github.com/Microsoft/TypeScript/wiki/Architectural-Overview#trivia

If there's a scenario you think one of the methods isn't handling comments well enough the

[2019-03-11 15:25] tiehm commented on #565
So I guess the best method to get the index of a specific comment (by content) I would have to get the index in the `bodyText`.

[2019-03-13 14:54] vidal7 commented on #562
Hi @dsherret, I gave another try. I found something interesting. In the tslint cli command, the rule is running perfectly with or without the `createWrappedNode` statement. But, in the context of vs code, the rule is not run at all so the try, catch strategy is useless. Here's is what is interresting.

Custom tslint rule are written in typescript and must be compiled down to javascript to be execu

[2019-03-14 00:47] dsherret commented on #562
That's strange. Does it throw in the require statement? (What happens when you surround that require in a try/catch?)

ts-morph is released as ES5. I have a feeling that vscode can't find the package for some reason.

[2019-03-14 15:38] vidal7 commented on #562
Hi @dsherret, I dug down again the problem and the require statement is working perfectly and no throw occurs. I even commented out all lines in node_modules/ts-morph/dist/main.js and everything is working in vs code. So I tried to remove comments on random lines ans here he's the file that works for me.

[code]

Removing a single commented out line is falling my linting rule to report to VS Code

[2019-03-15 01:53] dsherret commented on #562
@vidal7 that is very strange! Maybe it's a dependency like `fs-extra` or something. Ok, I'll take a look into this soon (do you have a repo I could reproduce this on quickly? Otherwise, I'll try to come up with my own reproduction). Thanks!

[2019-03-15 12:40] vidal7 commented on #562
Thank you @dsherret, I don't have a repo yet but I can set up one for you in the next following days. This will not be hard. Stay tuned.

[2019-03-15 13:59] dsherret commented on #566
Thanks for the idea @Liero! I will add some help pages with examples for code generation specifically. There's a way to do it extremely fast that I'm not even using in my code generation scripts. It would be a good exercise to do to find any shortcomings.

[2019-03-15 15:21] Liero commented on #566
I wanted to have classes instead of interfaces, for example. I needed to handle generic types (definitions). I wanted to have class property to have a default value, when defined in swagger,etc..

[2019-03-15 20:54] dsherret opened #568 "Structures - Add leadingTrivia and trailingTrivia"
Add `leadingTrivia` and `trailingTrivia` to structures

The idea would be:

[code]

Note: The comments will not be returned when calling `.getStructure()`. Perhaps in the future that could be added via some options passed to the method (ex. `.getStructure({ includeComments: true })`)

[2019-03-15 20:56] dsherret opened #569 "Structures - Add new `statements` array to bodied/bodyable structures"
There should be more alignment between the structures and the actual AST to support more scenarios. Right now the structures are restrictive because their design is not flexible.

This change would deprecate `bodyText` and any properties like `classes`, `namespaces`, etc. So instead of this:

[code]

It would look like this:

[code]

An additional huge advantage here is that `sourceFile.getStructu

[2019-03-17 18:39] dsherret commented on #470
Ended up adding an `options` parameter to `getText()` because this probably won't be used much.

[2019-03-17 18:39] #470 closed

[2019-03-17 19:16] dsherret opened #571 "Code Verification - Ensure mixin is not applied twice to node"
A mixin that's applied could cause problems. Ex. the new `StatementedNode` implemented multiple times could cause multiple writes when setting the statement.

[2019-03-18 23:45] dsherret commented on #568
Implemented in 5f4943b.

[2019-03-18 23:45] #568 closed

[2019-03-18 23:45] dsherret commented on #569
Implemented in 5f4943b.

[2019-03-18 23:45] #569 closed

[2019-03-18 23:52] dsherret opened #572 "ClassDeclarationStructure/InterfaceDeclarationStructure - Replace properties with `members` array"
Similar to #569.

Instead of:

[code]

The following would be done:

[code]

[2019-03-18 23:52] dsherret commented on #572
While I think it was appropriate to do this in #569 because order is very important with a `.statements` array, I don't think I'm going to do this here. It's verbose and requires importing the `StructureKind` enum. Order is not so important with classes/interfaces as compared to statements.

[2019-03-18 23:52] #572 closed

[2019-03-19 21:32] #571 closed

[2019-03-19 22:10] dsherret commented on #474
In version 2 it will be possible to do the following:

[code]

This can be extracted out to a function:

[code]

I'd still like a global option to add blank lines between properties though.

[2019-03-20 00:04] dsherret opened #573 "Fix ModuledNode#getExportedDeclarations()"
Noticed this while implementing #554.

There are certain scenarios where `getExportedDeclarations()` will return a source file (I did not know this until now). The problem with this is that the user doesn't know the name of the declaration. Right now, some scenarios may also return `* as ts`.

What would be better is if the `* as ts` results were removed and instead a Map was returned going from n

[2019-03-22 00:22] dsherret opened #574 "Target ES2015"
I'm having a minor annoyance wanting to export a map type. For now, I created a custom `Map` interface, but in this version I'm just going to target ES2015 and get rid of all the code that supports it. I actually noticed that I've accidentally been using `Array.from` instead of `ArrayUtils.from` for some time now and nobody has complained.

This undoes #110 and seems like Compodoc has a minimum ve

[2019-03-22 00:59] #574 closed

[2019-03-22 00:59] dsherret commented on #554
Fixed by #573.

[2019-03-22 00:59] #554 closed

[2019-03-22 00:59] #573 closed

[2019-03-22 01:03] dsherret opened #575 "Leading comments as statements"
I'm going to do a PR with a whole proposal for this, but basically the idea would be to make leading comments statements. So calling `#getStatementsWithComments()` on the following code:

[code]

...would return these three nodes (obviously not these objects, but nodes like them)...

[code]

This would also be done for nodes with members (ex. classes, interfaces, enums, object literal expressions,

[2019-03-22 01:10] dsherret opened #576 "Calling remove on node should remove comments on same line"
Example, removing this variable statement:

[code]

Should leave the source file with this:

[code]

Do this while working on #575.

I'm actually not sure what the current behaviour is, but this is what it should be.

[2019-03-22 13:32] anthonybriand opened #577 "Get full structure object from sourceFile"
**Describe the bug**

Version: 1.1.0

**To Reproduce**

[code]

**Expected behavior**

Return a full SourceFileStructure object, actually only return a simple object containing a bodyText key

[2019-03-22 14:27] dsherret commented on #577
It's your lucky week. This is resolved by #569 and will be available in 2.0.0 (I will do a release either this weekend or next weekend).

Previously it wasn't possible to get an accurate structure object from a source file because order is important and the source file may contain statements that don't have a corresponding structure. That's why it previously only returned a string of the body text

[2019-03-22 14:28] dsherret commented on #577
I'm going to close this as it's resolved by #569.

[2019-03-22 14:28] #577 closed

[2019-03-23 20:52] dsherret commented on #575
# Inserting Into Statements Handling Comments

## Prerequisites

* Understand comment ownership: https://github.com/Microsoft/TypeScript/wiki/Architectural-Overview#trivia
* Current api is for inserting statements: `insertStatements(index: number, statements: string | WriterFunction | (string | WriterFunction)[]): Statement[];` where `index` is the compiler API child index of the node.

## Issues

[2019-03-24 01:27] granmoe opened #578 "How to get ts-morph node from symbol?"
In #561, you showed a way to get the module locals symbol table. Is there a way to get the corresponding ts-morph node for a given symbol? What I'm really after is to get all identifiers in module scope and build a graph of dependencies within and outside the module (if exported) (hopefully using `findReferences`). Does this approach make sense?

[2019-03-24 12:58] cancerberoSgx commented on #513
Hello guys, what about a flag for differentiating between getChildren() and forEachChildren() "modes" ?

I have this one, but not 100% tested: perhaps it helps:

[code]

[2019-03-24 13:04] cancerberoSgx commented on #578
My two cents: from a symbol you can get the declarations using getDeclarations - those are the actual declaration nodes and could be even in another file. Also if you can get an identifier (and often you get a symbol from an identifier, then you can grab the declarations like this (although I'm not sure if this is what you need - if not snippet please)

[code]

[2019-03-24 19:38] cancerberoSgx opened #579 "fix npm for development"
I'm working with latests npm, node, tsc and some tests are failing.

Seems to be related with manipulation settings `insertSpaceAfterOpeningAndBeforeClosingNonemptyBraces` and an old commend you made in breaking-changes.md:

I could fix the error but probably not eleganly. and forcing that configuration where is needed (and you probably will reject the PR). I  really would like to work on this pro

[2019-03-24 19:43] dsherret commented on #579
Looks like I just forgot to push master (just did now so it should be fixed), but I recommend always doing development on the `dev` branch. For example, at the current moment there's been many changes in there.

[2019-03-24 19:43] #579 closed

[2019-03-24 19:44] cancerberoSgx commented on #579
aja, thanks! will do currently with a very limited connection, that's also why I prefer npm, thanks

[2019-03-24 20:11] cancerberoSgx opened #580 "Extending the library"
This library is awesome, but unfortunately, when I tried to extending it to add extra APIs to current types, it was very hard or impossible.

Imagine I want to add some extra API on top of ts-morph classes like Node, SourceFile, Project, without having to wrap objects, just plain old class/interface inheritance.

Currently I'm encountering myself developing lots of small tools around it that certa

[2019-03-24 20:19] cancerberoSgx commented on #357
@dsherret @lazarljubenovic I'm doing just that to test a type utility library where I need to check for failures . With tools like tsd-check that run at compile time you cannot make the test fail (cannot leave compile errors in the project)... so I did basically what you mention:

https://github.com/cancerberoSgx/tsd-check-runtime/

BTW is based on ts-simple-ast, sorry, ts-morph. I added lots of f

[2019-03-24 23:46] dsherret commented on #580
Hmmm I don't believe the library is stable enough to offer that at the moment. I've found a wrapper pattern works well for me and helps simplify whatever I'm analyzing by creating simplified abstractions of the code being analyzed/manipulated. I don't have much time at the moment to explain it exactly, but I've been planning to write it down sometime in the future.

[2019-03-24 23:48] dsherret commented on #561
I'm going to reopen this because I'd like to expose it in the library (even though it's internal to the compiler).

[2019-03-24 23:54] dsherret commented on #578
Yes, as @cancerberoSgx said, you should be able to get the corresponding nodes for a symbol by doing `symbol.getDeclarations();`. Sometimes you may need to do `symbol.getAliasedSymbolOrThrow().getDeclarations()` (or use `#getAliasedSymbol()`) if the symbol represents an alias (ex. a local alias symbol like an import declaration's named import).

I believe you could do this without `findReferences`

[2019-03-25 00:17] dsherret opened #581 "TraversalControl - Add ability to return a value"
The `.stop` method should allow returning a value:

[code]

This should also work on `forEachDescendant` as well.

[2019-03-25 00:18] dsherret commented on #513
@cancerberoSgx thanks for the idea! I don't think I'll make it a flag though.

Generally I try to avoid boolean flags because it adds a bit of obscurity. There's a few cases where it is used, but that's because it copies the compiler API. For example:

[code]

Second, although I've only put "pre" and "post" in that enum, there are many more ways to traverse a tree. It isn't accurate to use a boole

[2019-03-25 01:06] cancerberoSgx commented on #580
I think we already discuss some of this in the past. And first let me say the discipline I see in this source code from several point of views is surprising for me being this mostly one-person project. (I'm talking from my point of view- that's is a sloppy developer that often do it for fun).

Ans pardon the audacity, but if the motive is not willing / interested / have enough time to support issu

[2019-03-25 15:33] Shamilik opened #582 "Finding all references doesn't return all results"
Hi!

Is there any way to find all the references to some exported thing (const, interface etc.)?
For example, I have project structure like this:
[code]
index.ts
`export * from './SomeUtil.ts';`
MyModule.ts
`import { SomeUtil } from '../utils'`
MyModule2.ts
`import { SomeUtil } from '../utils/SomeUtil'`

Trying to find references for node from SomeUtil.ts like this
`node.findReferencesAsNodes();`

[2019-03-25 15:38] dsherret commented on #582
@Shamilik can you check the diagnostics (`project.getDiagnostics()`)? Perhaps there is a compile error happening that's preventing `.findReferencesAsNodes()` from working.

[2019-03-26 01:51] granmoe commented on #578
This is helpful. Thank you both 🙏 @cancerberoSgx @dsherret

I actually tried `getDeclarations` before opening this issue, but assumed I was doing something wrong because I got a crazy stack overflow type error, but that went away now (must have been a mistake in my test code or some weird caching or something going on).

Are there any good resources for learning about how to work with symbols? I'v

[2019-03-26 12:59] dyatko opened #583 "ObjectBindingPattern and ArrayBindingPattern"
**Describe the bug**

Version: 1.3.0
ts-morph throws errors syntax on ObjectBindingPattern and ArrayBindingPattern.

[code]

**To Reproduce**

The bug was reported in my project, I've requested some code samples: https://github.com/dyatko/arkit/issues/49

**Expected behaviour**

The syntax patterns handled properly.

[2019-03-26 13:39] dsherret commented on #583
@dyatko I fixed this a few days ago and it will be available in v2.0 (not sure when I'll release that... hopefully this weekend or next). In 2.0, when calling `.getName()` it will always return the name node's text even if it's an array binding pattern or object binding pattern.

A temporary workaround is to not use `.getName()` and instead do:

[code]

[2019-03-26 13:39] #583 closed

[2019-03-26 13:42] dsherret commented on #583
Oh, by the way, if you need to handle array binding patterns or object binding patterns (ex. `function f([a], {b}) {}`) then you might not want to get the text. In that case, you should handle them specifically by using type guards:

[code]

[2019-03-26 18:11] dyatko commented on #583
@dsherret Great, thank you!

[2019-03-26 20:34] dsherret commented on #514
For some reason this was not merged to master. Reopen and investigate what else might be missing during that time.

[2019-03-26 21:14] cancerberoSgx commented on #514
When coding https://github.com/dsherret/ts-morph/pull/584 I had an idea for methods related to children. If we want to give support to both getChildren modalities (getChildren and forEachChild) and don't introduce methods, this could be an alternative: add a optional boolean parameter `asForEachChild` that , if true, the method obtain children using forEachChild instead of getCihldren. This way we

[2019-03-26 21:41] dsherret commented on #514
Thanks for your input again! In scenarios like this, my preference is to add new methods for different behaviours rather than changing behaviour based on a boolean parameter (also, see my comment [here](https://github.com/dsherret/ts-morph/issues/513#issuecomment-476016881) on why I try to stay away from boolean parameters). The name `forEachChildAsArray` is also used because the `forEachChild` pr

[2019-03-26 21:44] cancerberoSgx opened #585 "feature: Node selectDescendants() and buildSelector() feature"
I have a descent implementation for building a node's path from an ancestor and selecting a descendant using the selector. I wonder if you would accept a PR to include this functionality.

Motivation:

 * re-select a node quickly when (it or its ancestors) get forgotten.
 * Have a simple selector query language supporting index, syntax kinds, children , descendants and siblings. Probably no more t

[2019-03-26 22:17] cancerberoSgx commented on #514
Understandable.

Also in Node.js there is an internal one called _getCompilerForEachChildren - this is, getForEachChildren could be another option although it doesn't source nice.

I like to name new things, but in this case, I wouldn't like to be in your shoes :P .

My two cents

[2019-03-26 23:17] dsherret commented on #585
Hey @cancerberoSgx is this another form of #351? I don't want to add/support any querying in this library at the moment. Someone can build that on top of this library if they'd like (similar to how tsquery is built on top of the typescript compiler api).

[2019-03-26 23:35] dsherret commented on #514
Going with `forEachChildAsArray` for discoverability. Problem here was I accidentally committed to a different branch other than `dev`.

[2019-03-26 23:35] #514 closed

[2019-03-26 23:49] cancerberoSgx commented on #585
Yes is more or less the same, sorry, The only difference is that I have it implemented now. it's been a while since I work with this library and I forgot about that issue. thanks.

[2019-03-26 23:49] #585 closed

[2019-03-27 14:27] cancerberoSgx opened #586 "Add Node.getEndLinePos()"
Node has `getStartLinePos(includeJsDocComments?: boolean)`, `getStartLineNumber(includeJsDocComments?: boolean)` and `getEndLineNumber()` methods, but no `getEndLinePos()` . Can I add it ? Or is there an obvious  way of getting it that I'm not seeing? (currently using `ts.getLineAndCharacterOfPosition()`)

Thanks

[2019-03-27 14:38] dsherret commented on #586
No, doesn't exist at the moment. What's the use case for this?

[2019-03-27 14:41] cancerberoSgx commented on #586
I'm selecting the node's text in monaco-editor. I need lineNum and character both on start and end, that's the only one missing :(

[2019-03-27 15:06] dsherret commented on #586
I recommend using `sourceFile.getLineNumberAtPos(node.getEnd())` and `sourceFile.getLengthFromLineStartAtPos(node.getEnd())` for now.

We should consider possibly a `sourceFile.getLineAndColumnAtPos(pos: number): { line: number; column: number; }` maybe and deprecate `SourceFile#getLineNumberAtPos(pos: number)`.

The problem I see with `getEndLinePos` is that it's ambiguous as to whether a method

[2019-03-27 15:21] dsherret commented on #586
@cancerberoSgx if you'd like you can submit a PR for the `getLineAndColumnAtPos(pos: number): { line: number; column: number; }` method (and deprecate `getLineNumberAtPos`). Would that cover your use case?

[2019-03-27 15:27] cancerberoSgx commented on #586
yes, will do, Do you want me to also  take care of the "deprecation" part? or should I leave that part to you? Thanks

[2019-03-27 15:31] dsherret commented on #586
If you'd like. Up to you! This can go into 2.0 so it's ok to be a breaking change.

[2019-03-27 15:31] dsherret commented on #586
Thanks! 😄

[2019-03-27 15:40] cancerberoSgx commented on #586
OK, I just want to make sure I'm correct assuming It's OK that I just remove the method, right ? I'm asking because some people first tag the method with @deprecated but leave it a couple of releases before actually breaking. I'm 99% sure this is not the case, but would like to verify, thanks!

[2019-03-27 15:51] dsherret commented on #586
I usually just add `@deprecated` when I don't want to cause a major release, but I'm doing a major release anyway so we might as well remove it at this time.

[2019-03-27 23:31] dsherret commented on #586
Closing in favour of #587.

[2019-03-27 23:31] #586 closed

[2019-03-28 01:36] dsherret opened #588 "Move `ChildOrderableNode` to `Statement`?"
I feel like `ChildOrderableNode` should be on `Statement`.

[2019-03-28 05:15] cancerberoSgx commented on #578
@granmoe unfortunately in my experience one learn this by playing and experimenting. TypeScript API is almost no documented. I think symbols are created after the compiler tokenizes the source, and try to associate values with names (binding) - although  a big part remains a mystery for me too. This could help

https://basarat.gitbooks.io/typescript/content/docs/compiler/overview.html
https://basa

[2019-03-29 16:05] cancerberoSgx opened #589 "Remove unused and other TS built-in refactors and code fixes"
Hi, I have working implementations of several TypeScript built-in code fixes and refactors that I could integrate in this library. Particularly remove-unused which removes all unused variables, imports, parameters, type parameters, etc in a source file could be nice to have.

The implementation is quite simple, I just use LanguageService getSuggestionDiagnostics and getCodeFixesAtPosition and then

[2019-03-29 17:14] dsherret commented on #589
Hey @cancerberoSgx, yeah a lot of these would be useful, but if we are to add them could you open one issue per item, use the feature issue template, outline the changes to the public api that would happen as well as how it would work, and then we can discuss them individually? For some of them, it would be better if we implement it ourselves rather than using the language service so that the node

[2019-03-29 17:16] dsherret commented on #589
I'm going to close this issue as it's very broad. Please open individual ones as mentioned in the last comment.

[2019-03-29 17:16] #589 closed

[2019-03-29 19:03] cancerberoSgx opened #590 "Remove Unused"
Similar to methods `organizeImports()` , `formatText()`, `fixMissingImports()` I would like to have a method `removeUnused()` that removes any variable, parameter, named import, type parameter, method, etc. that is not used.

[code]

**Alternatives**
The method could accept some options to control which kind of nodes should be removed or not. Also if we decide to put the method in SourceFile inste

[2019-03-29 19:12] cancerberoSgx commented on #589
Ohhh !! didn't knew that. Perhaps could be nice to have a section in the docs that collects any "refactor-like" method such as orgenizeImports, formatText, extractInterface, rename(), move(), remove(), etc ?

BTW I opened https://github.com/dsherret/ts-morph/issues/590 so we can start discussing it. If you feel is viable I could start prototyping something, from scratch so nodes are not forgotten

[2019-03-29 21:23] dsherret commented on #590
Would this also include removing functions/classes/interfaces/etc? I think though that for performance reasons we should do it at a project level with the ability to optionally provide a source file or sourcefiles to limit the refactor to. That would allow us to do all the analysis first across the entire project for what to remove and then afterwards do the manipulation. If it's analysis, manipul

[2019-03-30 03:52] dsherret commented on #590
Or actually maybe just`removeUnusedDeclarations`.

[2019-03-30 15:22] dsherret opened #591 "Do new version 1 build that restricts to TS < 3.4"
TypeScript 3.4 has some changes that make version 1 of this library incompatible. TypeScript 3.4 support will require a breaking change so that will go in version 2.

[2019-03-30 15:23] dsherret opened #592 "Support TypeScript 3.4"
As title.

[2019-03-30 16:08] #592 closed

[2019-03-30 16:26] #591 closed

[2019-03-30 20:38] #588 closed

[2019-03-30 23:33] cancerberoSgx commented on #590
The current  solution I have, using TypeScript code fixes, removes any kind of unused declaration (if it's not exported and not locally referenced then it's removed)

+1 - I think being able to exclude files (using glob pattern or similar) is mandatory since there are valid cases where you don't want to remove unused stuff (tests)

[2019-03-30 23:56] cancerberoSgx opened #593 "sourceFile.moveDeclaration()"
Similar to `SourceFile` methods getClass(), getStatement(), etc. I would like to have methods `moveClass()`, or more general `moveDeclaration()` to be able to move a top-level source file's declaration to another source file. Features:

 * should support only declarations that are declared as children of the source file (top-level)
 * should support class, interface, function, enum, variable, type

[2019-03-31 03:53] cancerberoSgx commented on #590
I think it's better to have `LanguageService#removeUnusedDeclarations(filePathOrSourceFile: SourceFile | string): this;` since in general that's the signature of LanguageService methods. Then we can have, as you suggested:

`SourceFile#removeUnusedDeclarations(containers?: Node | Node[]):this`
`Project#removeUnusedDeclarations(containers?: Node | Node[]):this`

Maybe in the case of Project `Projec

[2019-03-31 15:19] dsherret opened #596 "CombinedCodeAction#applyChanges()"
This method would apply a `CombineCodeAction` across multiple source files (this essentially already exists on `Project` as `applyFileTextChanges`).

[2019-03-31 15:38] dsherret commented on #596
FYI @cancerberoSgx

[2019-03-31 15:38] #596 closed

[2019-03-31 15:58] cancerberoSgx opened #598 "Convert parameters to destructured object refactor"
Add `convertParamsToDestructuredObject()` method to `ParameteredNode` so any function-like node's parameters can be converted to a destructured object form: `function f(a: number, b: string[]) { }` to `function f({ a, b }: { a: number; b: string[]; }) { }}`.

Example:

[code]

This refactor is available in 3.4.1 under the "Convert parameters to destructured object" name.

[2019-03-31 16:19] dsherret opened #599 "Multiple text edits per manipulation"
The underlying manipulation system could improve to support multiple text edits per manipulation. This would increase the complexity a bit, but greatly improve the performance. Also, lazy edits could be considered. Also, these edits could be evaluated lazily.

[2019-03-31 16:19] dsherret commented on #599
Putting this on hold and needs more thought. I think a better/simpler solution would be lazy parsing, but I'm not sure how viable that is. I'll look into it in the future as this is a big change.

[2019-03-31 16:19] #599 closed

[2019-03-31 19:56] dsherret commented on #598
I wonder how difficult it would be for us to implement this ourselves. How does this refactor affect statements that call the method/function?

[2019-03-31 20:14] dsherret commented on #580
Sorry, won't be doing this. I recommend writing reusable functions and then using them in your project:

[code]

[2019-03-31 20:14] #580 closed

[2019-03-31 20:15] dsherret commented on #582
Closing due to lack of activity. Please reopen this issue if you're still having this problem.

[2019-03-31 20:15] #582 closed

[2019-03-31 21:36] #581 closed

[2019-04-02 03:41] WanderWang commented on #563
Update :

It works in 1.3.2 , thank u

[2019-04-02 17:56] cancerberoSgx commented on #598
Some time ago I implement this based on ts-simple-ast and it was not so hard but I'm afraid I didn't considered all edge cases like super calls, overrides, overloads, subclasses, etc.

It changes all call expression referring to that function

I was thinking about adding more and more built-in TypeScript code fixes / refactors to the library. I would love to hear your thoughts about it.

TL;DR:

[2019-04-02 21:40] dsherret commented on #592
This is in 1.3.3.

[2019-04-03 01:24] dsherret commented on #590
After thinking this through, I think what you did in #595 is sufficient. This is normally a refactor that people do at the end and so keeping track of the nodes is not very necessary.

By the way, here's an example of calling this until there's no more changes:

[code]

[2019-04-03 01:24] #590 closed

[2019-04-03 01:40] dsherret commented on #598
Ok, I've been thinking about this more..

I think methods like `organizeImports` and `fixUnusedIdentifiers` on source file are ok to forget nodes because they're refactors people can reasonably do as a last step. Refactors like this "Convert parameters to destructured object" aren't reasonable to require as last step and many users might be confused about nodes being forgotten in this scenario.

S

[2019-04-03 03:25] cancerberoSgx commented on #598
Yes it does, so basically I should remove the method from ParameteredNode and add it to LanguageService, right ? When you say "first class" you are referring to Node subclasses and Project basically right ? Thanks

[2019-04-04 13:30] WanderWang opened #602 "is it possiable implements " transpileOnly " when project.emit()"
**Is your feature request related to a problem? Please describe.**

I've wrote a toolkit with these features:
1. generate typescript code via ts-morph API ( such as   sourceFile.createClass )
2. emit javascript code for runtime

when step 1 create a very huge project  , it emit very slow in emit javascript code  because of type checking .

**Describe the solution you'd like**

add a flag called "t

[2019-04-04 23:39] dsherret opened #603 "Make `emit` async and add new `emitSync`"
From #602.

To speed up emitting, `emit` should be async. Right now the compiler API does too many things synchronously IMO and this is one of those areas that could benefit from some parallel work.

* [x] Make `emit` async
* [x] Add `emitSync`
* [x] Add `saveFiles()` and `saveFilesSync()` to `MemoryEmitResult`

[2019-04-04 23:42] dsherret commented on #602
Internally that `transpileOnly` flag is probably using `ts.transpileModule`. That actually uses `Program#emit`, which is what this library uses when you call `emit` (https://github.com/Microsoft/TypeScript/blob/865b3e786277233585e1586edba52bf837b61b71/src/services/transpile.ts#L26).

I don't believe that `emit` actually does much type checking, but it might do a bit of `declaration` is set to `tru

[2019-04-05 01:22] dsherret commented on #603
Done. Also the `emitBOM` compiler option wasn't working, but now it is.

[2019-04-05 01:22] #603 closed

[2019-04-05 02:00] dsherret commented on #602
@WanderWang Implemented #602. It will be in 2.0. That will give a big performance boost.

Actually, maybe `emit` is slow because the program has all the source files in it.

Maybe try setting these compiler options to see if it speeds things up? `{ noResolve: true, isolatedModules: true }`. If not, I'll create an additional method that uses `ts.transpileModule`.

[2019-04-07 20:30] dsherret opened #605 "Add insert/add methods for inserting any structure or string"
This is breaking up a task from #575.

The motivation is to have a way to add/insert comments, but at the same time structures should be allowed to be passed in as well.

This should be done on:

* [x] ClassLikeDeclarationBase
* [x] TypeElementMemberedNode
* [x] EnumDeclaration
* [x] ObjectLiteralExpression
* [x] StatementedNode

So for example, on `StatementedNode`, `addStatements` should change

[2019-04-08 00:12] dsherret commented on #310
Looks like `getSymbolsInScope` in the compiler API would be useful for this.

[2019-04-08 00:22] dsherret opened #606 "Symbol - Rename `getXByName` methods to `getX`"
This `ByName` suffix seems unnecessary.

[2019-04-10 15:21] dsherret opened #607 "Searchable Documentation"
The documentation needs to be searchable. I'm not sure how to do this with github pages though...

[2019-04-10 19:47] zxti commented on #398
@dsherret Hi, is this still supported in ts-morph?  I didn't find any trace of file watching in the new codebase....

[2019-04-10 19:56] dsherret commented on #398
@zxti are you wondering about the new incremental builds released in ts 3.4? This issue has to do with incremental building within the language service.

For incremental builds as in the `--incremental` flag, that won't be in the compiler API until TS 3.5.

[2019-04-10 19:57] dsherret commented on #398
@zxti oh, or are you asking about the ability to have file watching?

[2019-04-10 19:58] zxti commented on #398
@dsherret Ah yeah I'm asking about file watching, not the incremental feature in 3.4 - sorry, overloaded terminology!

[2019-04-10 20:09] dsherret opened #608 "Add file watching example"
It would be beneficial to add a file watching example to help show people how to keep a Project up to date with the file system.

---

I recommend using file watchers such as [chokidar](https://github.com/paulmillr/chokidar) alongside this.

Some methods that are helpful:

* `SourceFile#refreshFromFileSystem()`
* `SourceFile#remove()` - Removes a file from the project (not from the file system)
*

[2019-04-10 20:10] dsherret commented on #398
@zxti yeah, sorry I was confused haha. File watching isn't implemented in the library. I just opened up #608. Take a look at the information in there.

[2019-04-10 23:47] #606 closed

[2019-04-11 23:03] #575 closed

[2019-04-11 23:04] dsherret commented on #189
Will be fixed in v2.0 due to #575.

[2019-04-11 23:04] #189 closed

[2019-04-11 23:04] #576 closed

[2019-04-12 03:22] dsherret opened #609 "Conditionally parse extended comments"
These should be lazily parsed. Also, when someone forgets all child extended comments, it shouldn’t parse them on the next manipulation (perhaps the containers should have a `commentCount` property or something... will figure it out when I’m not sleepy).

[2019-04-12 15:59] dsherret opened #610 "Fast Remove"
As part of the future performance improvements, working on improving the `#remove()` method's performance might be a good start.

On remove, the following happens today:

1. Source file text is changed to not include the node's text.
2. Source file text is reparsed.
3. Wrapped nodes are updated with new compiler nodes.

A better solution, but a bit more complicated would be:

1. Source file text i

[2019-04-13 19:58] dsherret commented on #610
I hacked together something for this today and this was 10x faster than the current way on the `002_Removing.ts` performance test.

[2019-04-14 10:46] Morphexe opened #611 "Ability to use TS-Morph as Language server?"
I am not sure if I am misunderstanding and  my lack of knowledge is not helping.

Basically I want to use this to facilitate the use of refactors and intellisense in vscode or event to create language service plugins to fix.

The way I see this is to re-implement a language server using ts-morph  as supported - I was trying to avoid this.

Somehow link ts-morph and the current tsserver so I don't

[2019-04-17 23:39] dsherret opened #612 "insertOverloads should only print"
Right now it's doing the old way of printing some of it and setting the rest, which is slow.

[2019-04-18 13:53] dsherret commented on #611
Hey @Morphexe, sorry for my delay in responding. See #326... in summary: this isn't possible at the moment.

[2019-04-18 20:57] Morphexe commented on #611
@dsherret No need for apologies! :)
Any idea on where to start if something like this would be possible? Any problems you  foresee  if I were to use ts-morph as a separate language server?

[2019-04-19 22:46] seancheung commented on #566
I implemented a CLI with ts-morph to generate OpenAPI 3.0 definitions. It seems easier to do the reversal. Here is my Doc and Schema typings which might help:

[code]

[2019-04-20 17:46] dsherret opened #613 "fixMissingImports breaks when adding to empty named imports"
I'm not sure exactly what happened here, but I had:

[code]

And that caused this:

[code]

Kind of looks like that might be a bug in the compiler though.

[2019-04-20 20:47] dsherret commented on #497
Note: in ts-morph 2.0 this method is going to be renamed to `.getArrayElementType()`. I was using this and was super confused by the method name when writing this:

[code]

[2019-04-20 23:25] dsherret commented on #565
@tiehm in ts-morph 2.0 certain comments will be returned when calling `#getStatementsWithComments()`. When inserting, the index will be based on the index in that array. It will allow you to insert before or after comments that are on a line by themselves. See #575 for more detail.

I believe this is resolved now.

[2019-04-20 23:27] #459 closed

[2019-04-21 15:47] #567 closed

[2019-04-28 20:10] dsherret opened #615 "Remove `isLastNonWhitespaceCharCloseBrace` regex"
The `isLastNonWhitespaceCharCloseBrace` regex in `StatementsStructurePrinter` is incredibly slow. When printing this library's declaration file, it spends 9% of its time executing this regex.

Edit: It actually doesn't make sense it's taking so much time... I may be misreading chrome's profiling tools (I'm used to using dotTrace for c#). It still would probably be better to do a non-regex solution

[2019-04-29 00:50] dsherret opened #616 "Incorrect indentation when printing type parameter constraint on multiple lines"
In the latest 2.1 it fixed the indentation, but created a different problem. Basically, now it's being written as the following:

[code]

But it should be:

[code]

Not sure what's going on here, but will look into it later.

[2019-04-29 01:57] dsherret opened #617 "Update performance documentation"
The docs on performance should mention working with structures. By doing this there can be massive performance gains.

[2019-04-30 20:27] osyrisrblx commented on #534
Hi @dsherret, sorry I forgot to get back to you on this!

No, I do not receive those errors because I have an npm package that supplies types for those.
( https://www.npmjs.com/package/rbx-types )

It seems like for whatever reason, if `process.cwd()` is _not_ my project folder, it cannot find the types in my node_modules folder. My tsconfig.json looks like this:
[code]

[2019-04-30 20:38] dsherret commented on #534
I think it's not resolving for the reason I mentioned in my previous comment:

I wonder if it would resolve it fine if `rbx-types` was in the `typeRoots` folder of `node_modules/@types` (so at `node_modules/@types/rbx-types`. I think it happens to resolve when it's in the `cwd` because typescript will search `node_modules` in the cwd as well, but yeah I'll look into it more again.

[2019-04-30 20:46] osyrisrblx commented on #534
Hmm I tried manually moving `node_modules/rbx-types` into `node_modules/@types/rbx-types`, but that seems to still give me the same error. Even if I remove my `types` field in the tsconfig.json.

[2019-04-30 20:47] dsherret commented on #534
@osyrisrblx ok, thanks for checking! I'll look into this again soon.

[2019-05-02 20:24] zxti opened #618 "Extract method/function"
It would be great to have an "extract method/function" operation (like what tsserver offers, but with ts-morph's more complete treatment).

Is this already possible / did I miss anything?

[2019-05-02 20:31] dsherret commented on #618
Hey @zxti, yeah, there's not a specific method for doing this right now. It would be nice though!

[2019-05-04 20:12] dsherret opened #619 "Rename `StructureTypeGuard` methods to remove word "Node""
That was a bit of an oversight, but this looks weird:

[code]

Should be this:

[code]

Also, probably `isClassDeclaration` should be just `isClass`.

[2019-05-04 20:20] #617 closed

[2019-05-04 20:55] #615 closed

[2019-05-04 21:25] dsherret opened #620 "Printers: Indentation queuing should happen at a higher level"
This is regarding #616.

For example, when writing a function header, it will currently queue child indentation when writing the individual parts (ex. parameter types, type parameters, etc). This doesn't make sense. The queuing should happen at the function header level instead.

[2019-05-06 08:20] evollhhan opened #621 "get type by using typechecker"
Hi, I'm confused on how to get the type, for example:

[code]

Usually i can get the TEXT type by using typechecker
[code]

But when i set baseUrl and Path in tsconfig.json, change my code to
[code]

I can not get the correct type. In origin way, I only get any. In ts-morph, I use
[code]

[2019-05-06 13:57] dsherret commented on #621
@evollhhan are there any diagnostics on the project? (Check `project.getPreEmitDiagnostics()`)

You can get the type of any node by calling `#getType()`. For example:

[code]

[2019-05-07 14:32] dsherret commented on #611
It's not really designed for that at the moment so it would require a huge redesign that would touch a lot of the internals.

I'm not sure about what problems there could be for using it as a separate language server because I don't really have any experience with that. It seems a major issue is that it will be inefficient as @cancerberoSgx noted in that referenced issue.

Closing this. Follow #32

[2019-05-10 20:20] dsherret commented on #620
After looking at this a bit more, it actually makes more sense to do it the way I currently am. I'm going to do a cleanup though.

[2019-05-10 20:20] #620 closed

[2019-05-15 16:46] ChuckJonas opened #622 "How to construct object literals"
So I know that I can create a property like this:

classDeclaration.addProperty({
            name: 'foo',
            scope: Scope.Private,
            type: 'number',
            initializer: '4'
});

but how would on build a more complex object:

For example, how would I construct `bar` in the class below?

[code]

I know I could just string build it and set `initializer`, but I'm wondering if

[2019-05-15 17:07] dsherret commented on #622
This is similar to [#320](https://github.com/dsherret/ts-morph/issues/320#issuecomment-429574081). Basically use the `WriterFunctions` (kind of experimental, but they'll probably stick around):

[code]

You can also create your own writer functions in case you want more control. You'd just have to write something similar to what's done in that `WriterFunctions` utility class methods. See the defin

[2019-05-15 17:18] dsherret commented on #622
Updated my response to use `.quote("text")`. That's a bit better because then it uses the quote character specified in the [manipulation settings](https://dsherret.github.io/ts-morph/manipulation/settings).

[2019-05-15 18:41] ChuckJonas commented on #622
beautiful! thanks!

[2019-05-15 20:03] ChuckJonas commented on #622
@dsherret sorry to keep bugging you, but how would I add the `as const` keyword when using `WriterFunctions.object(`

[code]

[2019-05-15 20:09] dsherret opened #623 "Add WriterFunctions.assertion"
From #622.

[2019-05-15 20:10] dsherret commented on #622
That's no problem!

Hmmm never thought about that. You could do this:

[code]

But it would perhaps be better if I added an `WriterFunctions.assertion` (or `assert`?) function or if you implemented one yourself. So something like this:

[code]

Opened #623.

[2019-05-15 20:13] ChuckJonas commented on #622
nvm, figured it out

[code]

[2019-05-15 23:52] #623 closed

[2019-05-17 21:35] LeonardKoch opened #624 "No generic type on SourceFileBase in typings"
**Describe the bug**

Version: 2.1.0

Excerpt from the typings starting at line 7475:
[code]

When SourceFile is declared it is said to extend SourceFileBase of generic type ts.SourceFile.
But accordinmg to the declaration above SourceFileBase does not support a generic type.
This leads to to for example Intellij/Webstorm to not include any of the properties from SourceFileBase in its completion f

[2019-05-17 22:20] dsherret commented on #624
Interesting. `SourceFileBase` is a variable declaration so it can't have a type parameter. Seems like a bug in intelliji/webstorm as this works fine with typescript's language service (I think jetbrains does their own thing and they probably don't handle this scenario).

That said, perhaps for the sake of the typings I could transform the code when emitting the declaration file so this works. Not

[2019-05-18 10:47] LeonardKoch commented on #624
Hey,
thanks for responding to this so quickly David.
I'll definitely raise an issue with Jetbrains about fixing this in their TS implementation.
They do this funky thing where they have their own service for completions, but use the TS Language Service for error reporting.

This is really quite interesting, because the code makes total sense in the source:
From the ts-morph source:
src/compiler/as

[2019-05-18 19:31] #616 closed

[2019-05-18 19:53] #619 closed

[2019-05-18 20:23] dsherret commented on #561
Added `Node#getLocals()`, `Node#getLocalByName(name: string)`, and `Node#getLocalByNameOrThrow(name: string)` in version 3.0.0 (unreleased).

Obviously this relies on a symbol table that's internal in the compiler so use these methods at your own risk knowing they could break more easily than the other methods (added a warning to the jsdoc).

[2019-05-18 20:23] #561 closed

[2019-05-19 20:45] dsherret commented on #310
In 3.0.0 there is a new method `Node#getSymbolsInScope(meaning: ts.SymbolFlags)`.

[code]

I'm not sure what a sensible default would be for `meaning`. Internally in the compiler api, that's a filter on the results. I put in a request to the TS team to see if a default would make sense there. Perhaps `SymbolFlags.Value`?

[2019-05-19 20:45] #310 closed

[2019-05-19 23:40] arxenix commented on #624
I'm having this same issue. Haven't had any problems with IDEA typescript integration thus far

[2019-05-20 14:23] dsherret commented on #624
@arxenix @LeonardKoch I just tried this out in WebStore 2019.1.2 (WS-191.7141.49 -- May 7th) and it seems to work fine now. What versions are you using?

What I did find, is it takes about a second for the completion list to populate entirely with WebStorm. I also found that if I typed enough of the method name it wouldn't show up at all.

![delete](https://user-images.githubusercontent.com/160902

[2019-05-20 14:23] #624 closed

[2019-05-21 15:43] dsherret commented on #433
This may be fixed in 3.4.1. I'll look into it again soon.

[2019-05-21 15:57] arxenix commented on #624
@dsherret interesting... I was still on 2018.2.x. Just updated to the same version as you (2019.1.2) and it seems to be resolved. I'm also not having the issue where it stops showing up if you type enough of the method name.

Thanks!

[2019-05-21 18:10] maximelkin commented on #433
Great!

[2019-05-23 10:57] shrinktofit commented on #537
I have the same requirements, I generate a complex AST in my plugin, but it's hard to write it using `ts.createXX`.
I'm fans of ts-morph's `insertStatements('console.log()')`.

[2019-05-24 17:31] DanTsk opened #626 "Custom compiler host"
Can I pass my own compiler host implementation for ts.Program ?
For example - custom module resolution like in this [example](https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API#customizing-module-resolution)

[2019-05-24 17:37] dsherret opened #627 "Support custom module resolution"
From #626.

[2019-05-24 17:38] dsherret commented on #626
Hey @DanTsk. No, most of the functionality that a custom compiler host would offer is already configurable in other ways (ex. by providing a custom file system host).

What you're suggesting by custom module resolution would be a good idea though! I can add a way to configure that. Opened #627.

Is there anything else you'd like that a custom compiler host would provide?

[2019-05-24 17:47] DanTsk commented on #626
Hi @dsherret . I am currently working on the TypeScript runtime environment, with custom module resolution for node packages (without node_modules folders in each project folder) and Go-like imports: file URLs, GitHub project and etc.  And I am using **ts-morph** for types analysis and project compilation, so I really need those features to continue my work.

It would be great to have all next ove

[2019-05-24 17:51] DanTsk commented on #626
But also, some additional information is needed during the building overrides. For example, for successful `resolveTypeReferenceDirectives` implementation, `ts.LanguageServiceHost` is required.

[2019-05-24 18:09] dsherret commented on #626
Yeah, I think those being on `ProjectOptions` would work and then they could be passed down to the compiler host and language service host. A PR would be great if you're up for it! Otherwise, I can take a look at this sometime soon. Thanks!

[2019-05-24 18:54] DanTsk commented on #626
I've opened pull request - [628](https://github.com/dsherret/ts-morph/pull/628)

[2019-05-25 13:51] dsherret commented on #626
Closing this. As discussed a custom compiler host isn't going to be allowed, but specific options for custom module resolution and resolving type reference directives will.

[2019-05-25 13:51] #626 closed

[2019-05-25 15:49] dsherret commented on #627
Implemented in #628.

[2019-05-25 15:49] #627 closed

[2019-05-25 17:38] dsherret opened #629 "SourceFile#getTypeReferenceDirectives() should better reflect the compiler api"
Change `sourceFile.getTypeReferenceDirectives()` and similar methods to instead return a `FileReference`. It seems the methods are not currently resolving file references or type references correctly.

[2019-05-25 17:40] dsherret commented on #629
Also, this method should probably return an object with the type reference directive information which you can then use to get the source file.

[2019-05-25 17:43] dsherret opened #630 "Wrap SourceFile#libReferenceDirectives"
As title.

[2019-05-25 20:52] philipp-sorin opened #631 "Type#getTypeArguments() weird behaviour"
Version: 2.2.0

**Overview**

Type#getTypeArguments()
returns first subclass as instance of TypeParameter
At least when it was got as ClassDeclaration#getExtends().getType()

**Sampe **

[code]

**Expected behavior**
Seems like it shouldn't return any type arguments

[2019-05-25 22:59] dsherret commented on #631
This is all compiler api behaviour so it's probably working ok. Looks like the type argument passed down is the `this` type. I'll look into this more later.

[2019-05-27 14:45] cancerberoSgx commented on #279
Quick question about forEachChild library's method. I'm trying to use it like I use ts.forEachChild but I can't figure out how. Concretely, how would you implement this the following?

[code]

I want to migrate lots of functions I have so I can use the library without working with the compiler nodes, but I cannot reach a clean solution. And performance here is really important. At the time I imple

[2019-05-27 14:53] dsherret commented on #279
@cancerberoSgx can you open new issues for questions? This is an issue about a task and that question isn't related to descendant statements. I'll answer if you open up an issue.

[2019-05-27 20:57] dsherret opened #632 "Question: How to return a value from `forEachChild`?"
From @cancerberoSgx in [this issue](https://github.com/dsherret/ts-morph/issues/279#issuecomment-496235886):

[2019-05-27 20:57] dsherret commented on #632
Use the `.stop(returnValue)` on the second parameter:

[code]

[2019-05-27 21:29] dsherret commented on #632
@cancerberoSgx I'm thinking that I should change `forEachChild` to work more like the compiler api. I think it was a mistake that I deviated from it when I created this library.

[2019-05-27 21:44] dsherret opened #633 "Align forEachChild with the compiler API"
This is a big breaking change, but I think it's necessary. Basically when I created this library I deviated from the compiler api and made `forEachChild` not return values that are returned from it. The problem with doing this is that it makes using `forEachChild` very impractical for finding values in the AST. I've regretted that deviation for a while now.

Regarding #632

CC @cancerberoSgx

* Th

[2019-05-27 22:55] #633 closed

[2019-05-28 14:59] marikaner opened #634 "ReturnStatementStructure?"
This is more a question than an actual feature request, but I have been looking for this at multiple occasions already.

I am currently improving the readability and performance of our project, that uses ts-morph and I am wondering what is the best way to achieve the following:

[code]
I am creating a function that returns an object literal. Currently I am creating a `FunctionDeclarationStructure`

[2019-05-28 16:59] dsherret commented on #634
Hey @marikaner, no, right now for most statements and expressions there's no helper functions or structures for doing this. I'm thinking to continue with the `WriterFunctions` pattern, though I wish that had a better/shorter name (I can't think of one... any ideas?).

So similar to [`WriterFunctions.assertion`](https://github.com/dsherret/ts-morph/blob/2145e89b33290516febec6dc3c67853a36df41cf/src/

[2019-05-29 05:36] marikaner commented on #634
Yes, that sounds legit. I just had a look at the implementation and it looks like this should be very easy to do. If I have some time left I might just make a PR, if you're interested.
Also, I don't have a better name, but `Writers` might be shorter and good enough? (Why is this a class at all...?)

[2019-05-29 05:36] #634 closed

[2019-05-30 00:52] dsherret commented on #634
@marikaner I like `Writers`! Thanks! I'll probably change (or at least alias) it to that next release.

It could just be an object with method declarations, but I'm just too used to static classes because of my mainly c# background :)

[2019-05-30 01:00] dsherret opened #636 "WriterFunctions.returnStatement should do hanging indent in certain cases"
For example, in this case:

[code]

But not when using braces:

[code]

That should be the general rule for most statements that use this.

[2019-05-30 09:55] nchanged opened #637 "How to replace PropertyAccessExpression"
HI! I've read everything, and checked every related issue, but couldn't find an answer to this:
I am trying to replace a PropertyAccess expression with a single variable (or a string). For example:

Having a source
[code]

The objective is to replace foo.bar with just a string to it looks like

[code]

Trying this:

[code]

How one would do that?
Thanks

[2019-05-30 13:35] dsherret commented on #637
Hey @nchanged, doing `id.replaceWithText(`"something"`)` should work. If not, let me know.

[2019-05-30 19:22] nchanged commented on #637
[code]
Nope, won't work

[2019-05-30 19:30] dsherret commented on #637
@nchanged it's helpful to provide reproducible snippets of code when you get errors.

Are you sure it's the `replaceWithText` line erroring? Looks like there's a node being used that doesn't exist anymore.

Is your code doing something like this?

[code]

If so, that doesn't work because `id` was replaced with new node (it's no longer an identifiery for example). Ensure something like this is done

[2019-05-30 19:37] nchanged commented on #637
@dsherret just tried with 1 member it works fine, however:

[code]

and the contents:

[code]

throws the above-mentioned error.

[2019-05-30 19:45] dsherret commented on #637
Oh right! I forgot about the code in the original post. That's because after calling `replaceWithText` on that node, the `bar` and `oi` nodes will no longer be in the source file, but they'll still be in the array of `Identifiers`. In other words, it's visiting the node `foo.bar.oi` first then visiting `bar.oi` after.

To solve this, you just need to check `id.wasForgotten()` before doing anything

[2019-05-30 23:53] #629 closed

[2019-05-31 00:29] dsherret commented on #433
@maximelkin sorry, I just looked into this and it doesn't look like they actually fixed it :(

I've comment on the original TypeScript issue about it not being fixed in the language service.

[2019-05-31 00:42] dsherret opened #638 "RenameLocation - Support `prefixText` and `suffixText` when renaming"
These properties were recently added and are currently not being properly used for renaming.

[2019-05-31 05:22] nchanged commented on #637
Nice!!!
[code]

did the trick! Thanks for such an awesome lib!!
I have a few more questions, I will create an issue a bit later ;-) Thanks again!

[2019-05-31 14:01] dsherret commented on #433
And nevermind. So there's a new `providePrefixAndSuffixTextForRename` parameter on `findRenameLocations` that I have to use:

[code]

I'll fix this now by implementing #638.

[2019-05-31 18:29] nchanged opened #640 "Local scopes"
Hi, here I have another question or a feature request ;-)

Let's take a look at this snippet:

[code]

In this example I would like to trace down all `bar` variables, but the ones that belong to the root scope (modules' body). Ideally when capturing all Identifiers I would check whether it has been defined locally (in case of where it's inside the function `foo`) and skip any transformations. Anot

[2019-05-31 19:27] dsherret commented on #640
Hey @nchanged, if you get the identifier's symbol (`id.getSymbol()`) you can use `Symbol#getDeclarations()` to see where it's defined. I believe that's all you'll have to do.

See putting that code in [ts-ast-viewer.com](https://ts-ast-viewer.com), click on the identifiers, then look at the "Symbol" section.

Some other features coming in v3.0 (hopefully released within the next couple of weeks) t

[2019-05-31 19:38] nchanged commented on #640
@dsherret awesome! I started playing around with it, however, I've found a bug

[code]

It gives me `NodeJS.Process`
The things is, I've seen a LOT of cases, where people just override it.

[2019-05-31 20:04] dsherret commented on #640
@nchanged it doesn't also return that local declaration?

I feel like when using `var` (not `let` or `const`) it would return both that variable declaration and the `NodeJS.Process` in the array. That's basically all compiler API code so I'd be very surprised if there was a bug in that.

[2019-05-31 20:05] nchanged commented on #640
Actually, here is another one (please correct me if I am wrong)

[code]

The first one, gives a wrong symbol or reference for the first expression (should give none) but refers to the declaration on the second line

[2019-05-31 20:09] dsherret commented on #640
@nchanged is it still referencing `NodeJS.Process` when using `const` though? Also, when using `var` does it list both `NodeJS.Process` and the variable declaration in `#getDeclarations()`?

[2019-05-31 20:12] dsherret commented on #640
Also, doesn't `#getDeclarations()` at least always return the local declaration?

[2019-05-31 20:12] nchanged commented on #640
[code]

All referencing that `const`

If I change it to `var` it start referencing `NodeJS.Process` too + that variable. And In both cases which is super odd

[2019-05-31 20:25] dsherret commented on #640
I think the `process` above `const` referencing the variable declaration is expected behaviour. I get a runtime error when running the following code in node.js when using `const`, but no error when using `var` (since `var` is hoisted):

[code]

Also, TypeScript's language service goes to the variable declaration when doing "go to definition".

When using `var`, I'm not sure why the compiler API r

[2019-05-31 20:30] nchanged commented on #640
Let's just forget for a second the `process`

[code]

Gives the same weird result. First line - `foo` is undefined, however, it's successfully linked the the constant..

[2019-05-31 20:31] dsherret commented on #640
@nchanged I think `var` returns both declarations because it's legal to do this:

[code]

Unlike with `const` or `let`. So probably something similar is happening with `process`. Anyway, this is making more sense to me and seems like expected behaviour.

[2019-05-31 20:32] dsherret commented on #640
@nchanged that example with `foo` pointing to the declaration makes sense. It is referring to the variable declaration:

![image](https://user-images.githubusercontent.com/1609021/58733154-a9ab1880-83c1-11e9-851a-e48f47474c05.png)

[2019-05-31 20:36] nchanged commented on #640
I understand that, but `foo` could be a global variable, and with `var` it would give me wrong results.
That's what I am trying to figure out. How to detect **valid** references...

[2019-05-31 20:47] dsherret commented on #640
No, not in that context. `foo` is referring to the variable declaration on the line below. It seems all declarations are hoisted in JavaScript, but `let` and `const` declarations can't be used before they're initialized. Read more here: https://stackoverflow.com/a/31222689/188246

That seems to be the case, but you should be able to evaluate what the best match is. Perhaps it returns the multiple

[2019-06-01 00:15] dsherret commented on #640
By the way, just to reinforce this point, the following code:

[code]

Throws the following error in node.js at runtime (though I think it should return a more specific error... same one happens with `foo`):

[code]

But once the declaration is removed it runs fine.

[2019-06-01 05:30] nchanged commented on #640
Thank you! Then I will just rely on it. It's just I have seen so many weird scenarios (being a maintainer of a js bundler) just wanted to be sure :)

[2019-06-01 17:04] #636 closed

[2019-06-01 23:35] #638 closed

[2019-06-02 15:44] dsherret commented on #433
@maximelkin so, one annoyance with this new `providePrefixAndSuffixTextForRename` parameter is that it also adds aliases to import and export specifiers. I would have hoped that one option would control this for shorthand property assignments -> property assignments and another for adding aliases to import/export specifiers.

This is going to be off (`false`) by default for these reasons:

1. It's

[2019-06-02 15:44] #433 closed

[2019-06-02 15:46] dsherret commented on #434
See my comment here: https://github.com/dsherret/ts-morph/issues/433#issuecomment-498042194

This now renames that to the following:

[code]

[2019-06-02 15:46] #434 closed

[2019-06-02 16:00] dsherret commented on #630
Oh, this is implemented already in 3.0.0 (`SourceFile#getLibReferenceDirectives()`).

[2019-06-02 16:00] #630 closed

[2019-06-02 20:24] dsherret commented on #534
@osyrisrblx I've discovered the issue here. There is a `project` compiler option I never knew about, but it's not used by the compiler api. Instead there's an internal `configFilePath` and setting that will fix the issue here.

So a temporary workaround is to do:

[code]

I will fix this internally in the library for 3.0.0 so no extra compiler options will be necessary. I've also opened an issue i

[2019-06-02 21:09] osyrisrblx commented on #534
Thanks for investigating! I'll use your fix for now.

[2019-06-03 12:40] nchanged opened #641 "[question] Get thenStatement body text"
Hi, here is another question.
(Would be nice to start documenting all of that) ;-)

I am doing static computations and  I would like to unwrap this statement (replace the original `IFStatement` with one of those block conditions
[code]

`node.getThenStatement()` gives me a BlockStatement, therefore `node.replaceWithText(thenStatement.getText());` adds `{` and `}` to the code.

What I am trying to

[2019-06-03 14:32] dsherret commented on #641
@nchanged could you post some before/after code that shows what you'd like to do? That way I can ensure I understand what you mean?

Yeah, the `thenStatement` property in the compiler api is the block. See here: https://ts-ast-viewer.com/

[2019-06-03 14:34] cancerberoSgx commented on #279
Thanks!

[2019-06-03 14:39] nchanged commented on #641
Yeah, sure. The original code:
[code]

after the transformation:

[code]

[2019-06-03 14:55] dsherret commented on #641
@nchanged hmmm... I should probably add a `getBodyText()` method to `Block` (along with `setBodyText`).

I think for now this workaround should work for you:

[code]

[2019-06-03 19:05] nchanged commented on #641
@dsherret
[code]

Getting this typing error, and formatting isn't fixed ;-(

[2019-06-03 19:07] dsherret commented on #641
@nchanged What version of ts-morph are you using?

https://github.com/dsherret/ts-morph/blob/9e4f07ddef7def316ed9601b3c78a1409c7aed01/lib/ts-morph.d.ts#L4504

[2019-06-04 01:17] dsherret commented on #534
So, turns out the `project` option is only used by `tsc` and the `configFilePath` option was being set when parsing a tsconfig.json file, but I had this statement on the line below because I thought it didn't do anything (facepalm):

[code]

Thanks so much for sticking through with me on this one @osyrisrblx and sorry it took a bit of time.

This will be resolved in 3.0.0.

[2019-06-04 01:17] #534 closed

[2019-06-04 06:32] nchanged commented on #641
@dsherret that's better.
But how to handle this situation?

[code]

`getChildSyntaxListOrThrow` throws an exception...

[2019-06-04 07:45] nchanged opened #642 "JavaScript heap out of memory"
Hi,
So i've tried transforming the entire lodash-es library using `ts-morph`

After around 50 modules (there are ~900 there) JavaScript runs out of memory, not to mention that it's very very slow on my speedy Mac, (what would happen on a slower machine on a some CI in docker - I can only imagine)

Do you have any plans on optimising it, or any tips on making it faster? I must find another solution

[2019-06-04 13:28] dsherret commented on #642
@nchanged yeah, there's a lot of optimizations that can be done in the library especially when it comes to manipulations. You can read here about how to improve performance here: https://dsherret.github.io/ts-morph/manipulation/performance

Regarding `#findReferences()`, that method calls the compiler api and then wraps the returned object. There's probably a lot of stuff it constructs internally

[2019-06-04 14:04] starFelix opened #643 "How to get the ast-json from ast-node"
I'm very sorry that ask a question which is not report a bug.
I want to get the ast-json from ast-node.
But I didn't find anyway to do it simple.

[2019-06-04 14:22] dsherret commented on #643
@starFelix that's fine! Lots of questions on here and I prefer questions being asked in the issue tracker.

So you're wondering how to take a node and get a json representation from it? Do you need to reload it after it's been serialized? What's the purpose for converting it to json? I'm trying to understand the use case.

So it's kind of difficult to serialize the wrapped nodes because they have

[2019-06-05 03:15] starFelix commented on #643
hi, @dsherret ,thanks for your answer.

[2019-06-05 07:52] nchanged opened #644 "Performance issue with getExportedDeclarations()"
Found another show stopper.
Here is a full snippet:

[code]

It will take approx 1 second to complete, however, commenting out `testFile.getExportedDeclarations();` makes it 1ms. There must be something wrong with it. I've been happily traversing imports and exports until I stumbled upon that.

Running on NodeJs `v11.13.0`
Similar issues #432

A workaround for now:

[code]

[2019-06-05 13:38] dsherret commented on #644
@nchanged see the jsdoc and return type of that method: https://github.com/dsherret/ts-morph/blob/9e4f07ddef7def316ed9601b3c78a1409c7aed01/lib/ts-morph.d.ts#L2714

The method you are looking for is `#getExportDeclarations()`

[2019-06-05 13:46] dsherret commented on #644
@nchanged Sorry, I previously jumped the gun by thinking you wanted export declarations.

The `#getExportedDeclarations()` uses symbols so it will be slow because it requires binding. It's pretty useful because it will transitively finds exported declarations (ex. `export { SomeDeclaration } from "./otherFile";`).

I think `#getExportedDeclarations()` is probably what you want because it will be m

[2019-06-05 14:06] dsherret commented on #643
@starFelix by ast-viewer do you mean ts-ast-viewer.com? If so, try opening the options and disable binding and using ts-creator... then try pasting in the text. That might lower the amount of work it has to do enough so that it doesn't get stuck.

Yeah, I think using circular-json on the `node.compilerNode` should get what you need.

[2019-06-05 17:08] nchanged commented on #644
@dsherret thanks as always ;-)
But I still don't get it. The project has only 1 source file, the file consists of literally 7 lines of code, why does it make it 1000x slower? for 0ms to 1100s that's a huge leap, I don't think that the compiler is even that slow.

I am building a tree shaking algorithm, so an average project consist of ~1500 files (including node modules), now imagine if a 7 line f

[2019-06-05 17:37] dsherret commented on #644
@nchanged once you use binding it will have to set up the program and type checker. That has a startup cost (ex. loading lib files).

I ran a profile just now, and most of the time is spent hitting the file system (resolving modules... ex. resolving those module specifiers to see what files they could be pointing at) and then binding. I don't have the other files the module specifiers are pointing

[2019-06-05 17:44] nchanged commented on #644
@dsherret well not that particular case, I just know that it wouldn't take that much time ;-)
besides,  in my caseI have my own custom modules resolution and I deal with rather files in-memory as opposed to the filesystem (all my modules are resolved long before the tree shaking occurs) and I just need a super fast analysis limited to one file.

[2019-06-05 17:54] dsherret commented on #644
@nchanged so then using the custom module resolution here and dealing with files in memory should help a bit with performance. The rest of the time will be spent binding and that's unavoidable unless you use a method that does use symbols (as `#getExportedDeclarations()` does behind the scenes).

I highly recommend not traversing all the descendants unless you need to though as that will be slow.

[2019-06-05 18:01] nchanged commented on #644
@dsherret thanks for the hint! I can get them all - imports and exports now ;-) Thanks

[2019-06-06 10:03] wongchichong opened #645 "getter refactoring."
Should we refactor all those getXXX() { } functions into getter function like get XXX() { }

[2019-06-06 10:56] starFelix commented on #643
It works! Thank you.

[2019-06-06 14:00] dsherret commented on #645
Hey @wongchichong, I thought about doing that in the past and actually went to refactor the code once, but was quickly stopped in my tracks.

There are several advantages to using functions for this library rather than get accessors:

1. They can be parameterized if necessary and this is done in certain cases. I stopped the refactor to get accessors because I ran into a case where a method accepte

[2019-06-06 19:48] negue opened #646 "[Help / Question] Find reference scope"
I'm trying to find the full scope of references of an variable / array, but I can only get the line and not the surrounding scope

Having this file to parse:

[code]

I tried with this code:

[code]

I only get the following result:

[code]

Is there a way to get the full `for (...) { ... }` block?

[2019-06-07 00:44] dsherret commented on #646
Hey @negue, I highly recommend not using structures in that way. Structures are intended to be used for manipulation purposes (ex. getting the structure of a file or declaration, manipulating the structure, then adding or setting it back to a file). In this case you can stick with the original AST/wrapped nodes.

**Problem**

Take a look at the AST of that code in https://ts-ast-viewer.com and loo

[2019-06-16 06:22] jingzhou123 commented on #457
so i know how to get the value, but how to get the key?

[2019-06-16 06:27] jingzhou123 commented on #457
oh...i know, that's getName...

[2019-06-17 11:50] claudv opened #647 "Support for Map"
Very nice project.

Just inquiring on the chance to see `Map<K,V>` supported any time soon?

[2019-06-17 22:26] dsherret commented on #647
Hey @claudv, thanks! Are you having diagnostics (`project.getPreEmitDiagnostics()`) about the map type not existing?

To get that to work it's essentially the same as getting `Map` to work with the typescript compiler on its own—you can change the `target` property in the compiler options to `es2015`.

If you're specifying a tsconfig.json file in the project constructor then you can change the `ta

[2019-06-18 01:48] dsherret opened #648 "getNodesToReturn needs to handle leading trivia that could cause a comment node"
Right now `getNodesToReturn` is not robust and leadingTrivia specified on some structures could be returned rather than the nodes that were inserted.

To be honest, I kind of want to remove returning the nodes for `insertXs` and `addXs` methods. It's probably not used most of the time and slows things down.

[2019-06-18 08:56] claudv commented on #647
Hey @dsherret, many thanks for the quick reply.

What I meant is the possibility to tell is a type is a map.

The class `Type` has a number of convenience methods such as `isArray()` plus `getArrayElementType()` to inspect the contained type.

I was wondering if we can have `Type.isMap()` with accessors for the underlying key/value types (eg `getMapKeyType()` and `getMapValueType())`.

If your ans

[2019-06-18 13:50] dsherret commented on #647
@claudv ah, ok I see what you're asking. I just double checked and there is no special handling of the es2015 `Map` type in the compiler api so I probably won't add it to the library.

You could create your own function for checking if the type is the `Map` type. I believe this should be sufficient:

[code]

Then you can get the key and value from the type arguments:

[code]

[2019-06-18 14:27] claudv commented on #647
@dsherret that should do, thank you very much for your help.

[2019-06-18 16:46] #645 closed

[2019-06-19 13:17] furstenheim-geoblink opened #649 "Parse text to node"
Hi,
I'm not sure if this is possible. But I don't seem to find the way to do it.
How does one obtain a node from a string. Everything I read seems to point out that I should be writing a file to disk, which doesn't make much sense, I'd say.

Something like:

    const someString = 'Array<MyClass>'
    const node = project.Parse(someString)

My usecase is a plugin for https://github.com/geoblink/ap

[2019-06-19 22:13] dsherret commented on #649
Hey @furstenheim-geoblink,

Files aren't written to file system unless `.save()/.saveSync()` is called on the file, directory, or project. Until then everything stays in memory.

Regarding parsing strings like "Array<MyClass>" to a node, it's not always possible to parse nodes without some context. For example in this case, should that string be parsed as a type reference (ex. `let v: Array<MyClas

[2019-06-20 03:12] osyrisrblx opened #650 ".findReferences() crash with allowSyntheticDefaultImports + ExportAssignment"
**Describe the bug**
Calling `.findReferences()` on a default import Identifier node which comes from an `ExportAssignment` node where the expression is an object causes a crash.

Seems to only happen with `allowSyntheticDefaultImports` set to `true`

Version: 2.3.0

**To Reproduce**

[code]

![image](https://user-images.githubusercontent.com/9200592/59815738-6102c300-92ce-11e9-8e90-d3891040239c.p

[2019-06-20 03:58] osyrisrblx commented on #650
This might be a TypeScript compiler bug, but I wasn't sure.

[2019-06-20 14:05] dsherret commented on #650
Hey @osyrisrblx, yeah, I think this might be a bug in the compiler. I'm able to reproduce this in vscode (this is the tsserver log):

[code]

I believe it's this issue: https://github.com/microsoft/TypeScript/issues/27635

[2019-06-24 06:18] furstenheim-geoblink commented on #649
@dsherret Thanks a lot! that was pretty clear

[2019-06-25 02:25] dsherret opened #651 "Split off underlying compiler setup into separate package"
I've wanted to do this for a while. I think the underlying part of ts-morph could be split off into a separate library that ts-morph also uses.

Basically, it would be compiler api based other than the setup. There wouldn't be any wrapped nodes and manipulation would not be possible. It would basically provide a quick way to get compiler api source files, program, type checker, and language servic

[2019-06-25 11:32] claudv opened #652 "Possible bug with Type.isNullable()?"
I am experiencing unexpected behavior regarding detection of a nullable type within an interface property using `Type.isNullable()`. (As a novice user I might be doing something silly, but I have been struggling with this for quite a while and cannot find a way out.)

Here is a simple source file **interfaces.ts** defining an interface

[code]

and a main **index.ts**

[code]

I obtain the followi

[2019-06-25 14:13] dsherret commented on #652
Hey @claudv, you'll need to enable the strict null checks compiler option. Otherwise the compiler thinks all types are not nullable and ignores `undefined` and `null` in union types.

[code]

I was confused by that too when I first started... it's disabled by default in the compiler api (this project uses the same defaults as the compiler api).

[2019-06-25 14:50] claudv commented on #652
Many thanks, again. Sorry for spamming you bug reports.

[2019-06-25 14:53] dsherret commented on #652
@claudv it's really no problem! No need to apologize. Keep filing issues!

I'm sure other people will run into this issue so it's good to have it in the issue tracker.

[2019-06-26 09:44] claudv opened #653 "How to detect type alias correctly"
I would appreciate a few pointers to understand what I am doing wrong in my attempt to detect the name of a type alias.

To give a bit of context, I am building a tool for auto generating C++ types that match TS interfaces or classes and I use ts-morph as the TS parsing engine.

I need somewhat fine-grained control on the mapping from TS `number` to different C++ numeric types (`int`, `float`, `do

[2019-06-26 18:59] dsherret commented on #653
Hey @claudv, see this issue on TypeScript's main repo: https://github.com/microsoft/TypeScript/issues/28197

Wes' response:

Luckily, I think this hack fixes the problem (use a [brand](https://basarat.gitbooks.io/typescript/docs/tips/nominalTyping.html)). Does this work? Seems like arithmetic operations still work (ex. `obj.numLayers++`). Let me know!

[code]

[2019-06-27 08:43] RWOverdijk commented on #569
@dsherret Hey! Finally made the step to update to the new module, but I'm hitting a wall here. bodyText is not longer allowed in `.addMethod()`. How can I set the body for a method now?

[2019-06-27 12:18] claudv commented on #653
Hey @dsherret, thanks for your help!

The brand trick seems to work indeed, and no unpleasant side effect showing up so far.
Will let you know if I run into any gotcha's that invalidate the approach.

[2019-06-27 13:05] dsherret commented on #569
@RWOverdijk I have `statements` accept a string in 3.0 (https://github.com/dsherret/ts-morph/blob/c9a1b84fb44d8c6fbc98669d61cec4a21225723f/lib/ts-morph.d.ts#L10970)

I really need to get that released soon... it's taken longer than I expected because I keep finding stuff to fix and I got distracted with another project. I'll try for this weekend.

[2019-06-27 13:10] RWOverdijk commented on #569
@dsherret Hehe I know the struggle. But array is fine. Flexibility is one thing, it being functional another. I'd say forcing an array is _fine_ and I'm more than happy to use it that way. :)

[2019-06-29 01:50] budiadiono opened #654 "addPropertyAssignment remove existing properties"
**Describe the bug**

Version: 2.3.0

Adding new property using `addPropertyAssignment` or `addPropertyAssignments` on existing object literal when containing **comment** in the code it will remove existing properties.

**To Reproduce**

Let say you have this object located on `src/fixtures/object-literal.ts`:

[code]

Now try add new propery on it:

[code]

console.log returns:
[code]

It will re

[2019-06-29 01:52] dsherret commented on #654
@budiadiono thanks! I was working on this bug last weekend. Will be released and fixed in 3.0 probably on Monday.

[2019-06-29 01:56] budiadiono commented on #654
Awesome! Thanks you @dsherret

[2019-06-29 03:02] dsherret opened #655 "ExpressionedNode - Add `getExpressionIfKind` methods"
Similar to `getInitializerIfKind(kind)`.

[2019-06-29 13:21] #654 closed

[2019-06-29 16:34] #648 closed

[2019-06-29 16:34] #605 closed

[2019-06-29 17:19] dsherret commented on #654
@budiadiono this is released now. Please review [breaking-changes.md](https://github.com/dsherret/ts-morph/blob/master/breaking-changes.md) when upgrading.

[2019-06-29 17:20] dsherret commented on #561
This is now released in 3.0.0. Sorry about the delay! I should have done smaller and faster releases.

Please review [breaking-changes.md](https://github.com/dsherret/ts-morph/blob/master/breaking-changes.md) when upgrading.

[2019-06-29 17:40] dsherret commented on #633
@cancerberoSgx FYI, this is now released in 3.0.

[2019-06-30 00:36] budiadiono commented on #654
Cool! Thank you so much @dsherret!

[2019-06-30 00:59] dsherret commented on #654
Let me know if you run into any weird behaviour. That area should be better than before... it’s gotten smarter about dealing with commas and comments. (Uses the scanner to find the right place to insert commas)

[2019-06-30 20:37] budiadiono commented on #654
Sure

[2019-07-02 11:05] marikaner opened #656 "Emitting directory crashes with non-ts files"
Some context first: I am generating multiple ts based modules like so:
[code]
I use one instance of `Project` with some subdirectories for this. In addition to ts files I am also generating package.json, tsconfig.json, README.md and CHANGELOG.md files.

The generation has been working for a while, now I want to transpile the modules at generation time. For this, I tried using emit on the directory

[2019-07-02 14:05] dsherret opened #657 "Ability to specify script kind when creating a source file"
I thought this was already implemented, but it should be possible to specify a script kind when creating a source file.

Somewhat relates to #656 (Edit: Actually, not really).

[2019-07-02 21:45] dsherret commented on #656
Reproduction:

[code]

Stack Trace:

[code]

----

Hmmm... probably best to not add those files to the project in the first place and just write to them using the file system object (`project.getFileSystem().writeFile(...);`). That said, since these files don't show up in the program and emit is driven by the program, I think it's a bug here that it doesn't ignore them when calling `directory.emit

[2019-07-03 01:07] #657 closed

[2019-07-03 01:14] dsherret commented on #656
@marikaner the directory emit is fixed in 3.1.0 (released now). I recommend not putting non ts/js files in the project though. Perhaps something could be done to have regular files (and not ts/js source files), but I'm not sure of a good api for that at the moment.

Anyway, if you could follow up on the map file issue and open a new issue when you get a chance that would be awesome. Thanks!

[2019-07-03 01:14] #656 closed

[2019-07-03 08:01] marikaner commented on #656
Great, thank you for taking care so fast (Timeshift FTW). I will try to change our implementation to your recommendataion and I will follow up on the other issue and try to make it less fuzzy. In fact, I guess it is either a feature request or just my own inability to setup a correct config ;)

[2019-07-04 07:14] marikaner opened #658 "Creating source maps on directory emission"
More detailed follow up on https://github.com/dsherret/ts-morph/issues/656

I have a project where I generate multiple (more than 120) modules:
[code]

Up to now I have been transpiling the sources in a separate step on my own. Now I want to do this as part of the generation using ts-morph.

The result is supposed to be something like this:
[code]

Now I wonder how to achieve this or whether this

[2019-07-08 05:47] HamedFathi opened #659 "[Question/Help] How to get a related comment for each node?"
I have a block of code

[code]

How to get a related comment for each node?
I need `whole comment text` and the type: `MultiLine` or `SingleLine`.

For example:

**ClassDeclaration**
[code]

![1](https://user-images.githubusercontent.com/8418700/60785982-21f7bd00-a16a-11e9-941d-32d10eddaeb7.png)

**MethodDeclaration**
[code]

![2](https://user-images.githubusercontent.com/8418700/60785989-258b4400

[2019-07-08 14:10] dsherret commented on #659
@HamedFathi in this case, use `classDeclaration.getJsDocs()` and `methodDeclaration.getJsDocs()` as those are part of the AST (unlike when calling `Node#getLeadingCommentRanges()` which parses out the comments after the fact).

[2019-07-08 14:19] dsherret opened #660 "Ability to share ASTs between projects"
See #658.

It might be useful to have a document registry that could be shared between projects.

[2019-07-08 14:23] HamedFathi commented on #659
@dsherret

Unfortunately, `getJsDocs` **does not return whole the text**. I need the text and type because I wrote my own JsDoc parser.

![Untitled](https://user-images.githubusercontent.com/8418700/60817774-8e49df00-a1b1-11e9-83cb-198958539f7f.png)

Any idea?

[2019-07-08 14:27] dsherret commented on #659
@HamedFathi what do you mean by "type"?

But it does! 😃 If you're going to parse out the jsdoc from the text then you can get the entire jsdoc text by calling `#getJsDocs().map(doc => doc.getText())`.

[2019-07-08 14:29] HamedFathi commented on #659
MultiLine or SingleLine

[2019-07-08 14:29] dsherret commented on #658
@marikaner sorry, for my delay:

This is probably what you will want to do it if those tsconfig.json files in each directory have different settings that could affect the emit. Under the hood, the emit is driven by the "program", each program has a single configuration, and there is one program per ts-morph "project" object. So, you'll want to load one project per tsconfig.json.

Yeah, that will p

[2019-07-08 14:32] dsherret commented on #659
@HamedFathi jsdocs will always be multiline—won't be `// text` (single line). If you want to get the single line comments then use `getLeadingCommentRanges()` on the node you want to get the comments from.

[2019-07-08 14:33] HamedFathi commented on #659
@dsherret

You made my day. You are so amazing man :)
Please keep your great work. 👍

[2019-07-08 14:57] dsherret commented on #659
@HamedFathi no problem! Glad to help.

By the way, there is also a thing called "comment nodes" that's specific to ts-morph: https://dsherret.github.io/ts-morph/details/comments#comment-nodes -- I'm not sure if it's helpful in this scenario though, but worth mentioning just in case (and might be useful for someone else reading this).

[2019-07-09 07:13] marikaner commented on #658
I resorted to using just one project, which is perfectly fine in my case as the configs are all the same. I am not using a `tsconfig.json` anymore, only the  `ProjectOptions`:

[code]

In addition, for emitting the directories I was using `{ outDir: 'dist' }`.

[2019-07-09 23:17] dsherret opened #661 "Bundle scripts"
It really helps with start up time if all the scripts are bundled into a single js file.

[2019-07-11 23:41] DanTsk opened #662 "[Question/Help] Is there any way to find out if the type is global, local or imported?"
`Date` or `Promise` types are global. Also, I can import an interface from an external module (like `express`). And my local type that was declared in the project sources.

For example, I called `getReturnType()` on `FunctionDeclaration` and get type instance. Is there any way to find out if the type is global, local or imported?

Can't find anything about it in the docs.
Thanks!

[2019-07-12 16:42] lramos15 opened #663 "Security Vulnerability in Globby"
When I install TS morph I am warned of many high severity security vulnerabilities. These are caused by an older version of globby which ts morph is relying on. It seems TS morph relies on 8.0.1 and the current latest is 10.0.1

[2019-07-13 18:23] #663 closed

[2019-07-13 18:31] dsherret commented on #663
@lramos15 thanks for reporting this. It will be fixed in 3.1.1.

[2019-07-16 10:58] Validark commented on #650
Now that I consider it, it's kinda funny that I ran into this and we found this bug. I wasn't even looking for trouble either; I'm just a troublesome TS-writer.

[2019-07-17 13:29] nchanged opened #665 "OpenBraceToken was not found"
Hi

There is a problem with this snippet

[code]

Basically, removing `<div></div>` helps, but otherwise it breaks on this JSX file. And the `JSX` is valid.  Also removing an argument from `getSourceStyle()` works just fine.

[2019-07-17 13:31] Martaver commented on #665
Example of react component suffering from the same problem:

[code]

[2019-07-17 13:34] dsherret commented on #665
Does it work when the file has a .tsx extension?

Could you also follow the issue template and post the error message? Thanks, will look into this later.

[2019-07-17 13:51] Martaver commented on #665
In my case, the file has a tsx extension, yes. The error message I get is:
[code]

[2019-07-17 13:53] dsherret commented on #665
By the way, change this:

[code]

To this to ensure the same ts version is used that ts-morph uses:

[code]

@Martaver thanks! Will look into it. Looks like single statement arrow functions are not handled properly in the comment parser.

[2019-07-17 13:55] dsherret commented on #665
@nchanged changing `'src/MyClass.ts'` to `'src/MyClass.tsx'` seems to resolve that scenario. I'll look into the one @Martaver later this week (probably on the weekend... I have a busy week this week).

[2019-07-17 14:03] Martaver commented on #665
Thanks for your fast reply!

[2019-07-17 17:23] dsherret commented on #662
@DanTsk I'm not sure if there's a way to tell if a type is imported, but you can tell if it's global by looking at the source file location of its symbol's declarations (`type.getSymbolOrThrow().getDeclarations().map(d => d.getSourceFile.getFilePath())`).

There's probably a way to get the local symbol of the type and follow that to the import declaration, but I'm not sure and haven't figured it o

[2019-07-17 19:08] nchanged commented on #665
@dsherret thanks!! that does seem to work, however, I can't seem to figure out how to name those
```project.createSourceFile(sourcePath, module.contents);```
if I give it an existing path it says that the file exists, if I give it something else it says that it doesn't. A bit confusing. As a matter of fact, I don't really need to specify any file name since I am loading the contents manually. Can

[2019-07-17 19:25] dsherret commented on #665
@nchanged

It shouldn't mention anything if the file doesn't exist. Is it really saying it doesn't exist? Please open an issue if so.

By default, the Project will work with the actual file system and so if you create a file at a location that exists then it will throw (that message should direct you to provide an `{ overwrite: true }` option if you want it to overwrite the existing file). If you

[2019-07-17 21:23] dsherret commented on #665
I'm only able to reproduce these scenarios in non-jsx/tsx files. For some reason when doing this, the compiler will parse block nodes with zero length and this causes the issue in ts-morph (since it expects a block to have an open brace token):

![image](https://user-images.githubusercontent.com/1609021/61412291-7dd2ec00-a8b6-11e9-8f70-0f47a3f30297.png)

Probably a bug in the compiler, but this is

[2019-07-17 21:23] #665 closed

[2019-07-18 01:01] dsherret commented on #665
And published in 3.1.3. Please let me know if there are any other issues!

[2019-07-18 06:32] nchanged commented on #665
@dsherret thanks for that.
[code]

I added this option, however, it didn't solve anything. Passing an absolute path to a file that exists in the real fs, throws an error `Error: Could not find file`.

The only thing that works is `MyClass.tsx` that's pretty frustrating, since I don't want to depend on the filesystem at all and I don't need saving nor reading, I do the analysis in-memory only.

Why

[2019-07-18 13:03] dsherret opened #666 "Calling Project#createSourceFile with an existing file should suggest to add the overwrite option"
Right now it only says:

[code]

[2019-07-18 13:22] dsherret commented on #665
@nchanged yeah, if you use a virtual file system (in memory file system) then it will be in memory and it will not access anything on the actual file system. That doesn't seem like what you want for that scenario.

Could you be more specific with the question? Perhaps open a new issue so it's not so off-topic with this one.

If I'm understanding this correctly, if the file system looks like this:

[2019-07-18 13:30] nchanged commented on #665
@dsherret the problem is that if I give it a real absolute path that **exists**, it throws this error

[code]

That's my main issue ATM. **/Users/.../node_modules/react/index.js** exists 100%.

I handle all references manually (I have my own dependency tree) So It's all resolved.

[2019-07-18 13:37] dsherret commented on #665
@nchanged that is a different issue not related to `createSourceFile` as that's after calling `findReferences`.

Could you open an issue with some reproduction steps? Most likely `react` it's not resolving react and the compiler can't find the file in the program. Check if there are any diagnostics in `project.getPreEmitDiagnostics()`.

[2019-07-28 12:40] WanderWang opened #668 "divide typings XXXXStructure into XXXX-Getter-Structure and XXXX-setter-Structure"
**Is your feature request related to a problem? Please describe.**

I want to modify my code such as this :

[code]

here is ImportDeclarationStructure 's typings :
[code]

so when I modify ```namedImports``` , it maybe " WriteFunction , so I cannot write this code :

[code]

But we know , "getter structure" should not be WriteFunction .

**Describe the solution you'd like**

divide XXXStructure i

[2019-07-30 01:14] Validark opened #669 "add second parameter to getParentWhile condition"
Builds off: https://github.com/dsherret/ts-morph/issues/107

Being able to call `node.getParentWhile(p => ts.TypeGuards.etc(p) || etc)` is very nice. However, I would like to be able to easily check whether the node under it has the proper relationship to the current parent. For example, let's say I want to figure out whether something is in the conditional of an if statement:

[code]

Where:
-  `

[2019-07-30 01:24] dsherret commented on #669
@Validark that sounds like a good idea. Would you like to implement it? If not, I'll get to it sometime soon.

[2019-08-02 22:21] brapifra opened #671 "Get overwritten native type"
Hey, first of all, congrats for this awesome lib!
I'm trying to get the type of `T` in this file but I can't make it work:

[code]

As far as I know I should be able to get the string type by doing something like:
[code]

I've also checked its definitions, and none of them are actually the `type Date = string;` that I added at the beginning.

[2019-08-04 03:09] dsherret commented on #671
Hey @brapifra, thanks!

So, I tried out the code you posted and for me it outputs `string` as you say is expected.

Did you mean that you expected it to print `Date` and not `string`? If so, see my comment here: https://github.com/dsherret/ts-morph/issues/653#issuecomment-506003489

[2019-08-04 03:15] dsherret opened #672 "Add Type#getPropertyOrThrow"
As title.

[2019-08-04 03:16] dsherret opened #673 "Format on save"
Add a global option that will run the `.format()` method on save.

Edit: I guess a drawback for this is that it requires forgetting all child nodes. Not a big deal though... people usually on save once they're finished manipulating a file.

[2019-08-04 03:19] dsherret opened #674 "Ability to specify a custom formatter"
Would be useful to be able to specify a custom formatter.

For example, I'd like to format using my new formatter: https://github.com/dsherret/dprint

This could just be a global configuration somewhere. It would be a function injected that is provided a TypeScript AST and file text then returns a new file text.

[2019-08-04 03:24] dsherret commented on #562
Closing this for now. Please reopen if you find out anything.

[2019-08-04 03:24] #562 closed

[2019-08-04 03:30] dsherret commented on #474
I'm going to close this. If anyone wants to do this they can use the solution described above.

I don't believe I will be adding any more configuration for changing how the code looks. I'm currently developing a code formatter that will have a lot of configuration (https://github.com/dsherret/dprint) and that could be used with #664

Basically, it's extremely hard to get code formatting right and

[2019-08-04 03:30] #474 closed

[2019-08-04 08:13] HamedFathi opened #675 "[Question] How to traverse a TS node?"
Hi,

I want to know how to traverse a AST tree?
I want to visit any node and find each `comment`.
Something like [walk-parse5](https://github.com/stevenvachon/walk-parse5/blob/master/README.md)

[code]

[2019-08-04 13:41] dsherret commented on #675
Hey @HamedFathi,

See this page: https://dsherret.github.io/ts-morph/navigation/

I think you're probably look for either the `forEachChild` or `forEachDescendant` method.

[2019-08-05 21:46] brapifra commented on #671
Wait what? It outputs `Date` for me :thinking:

All I'm doing is this:

[code]

[2019-08-05 21:52] dsherret commented on #671
@brapifra I added a test here that shows the behaviour I'm seeing:

https://github.com/dsherret/ts-morph/commit/05455c2fa286c9ef02dad7d6c7834fb4956a4684

[2019-08-05 22:03] brapifra commented on #671
Hmm... interesting. I've tried your test and it works as expected. But it doesn't when I change it to use an existing source file (That's basically my case):

[code]

Result:
![imagen](https://user-images.githubusercontent.com/17855450/62497871-29e06680-b7d5-11e9-8794-2db46e74e5e5.png)

[2019-08-05 22:05] dsherret commented on #671
@brapifra strange. Is the source file text of "test.ts" exactly what you posted above? It shouldn't matter if it's an existing source file or one loaded in via text—they both are treated the same way.

[2019-08-05 22:10] brapifra commented on #671
Yup, it has exactly the same content :confused:

[2019-08-05 22:12] dsherret commented on #671
@brapifra oh, I know what it is. It's because the `Date` type exists in the global scope and when using a virtual file system it doesn't load in the lib files. I'm able to reproduce this now.

Basically, try pasting this into an empty .ts file:

[code]

Then inspect `Date` on `T`. You'll see it's pointing to the global `Date` object. This does not occur when using modules though:

[code]

I'm not

[2019-08-05 22:20] brapifra commented on #671
Oh, true! I've just checked it and VScode already throws an error when trying to overwrite the Date type:

![imagen](https://user-images.githubusercontent.com/17855450/62498483-47aecb00-b7d7-11e9-8584-ec8a3f07858d.png)

I probably should have printed the pre-emit diagnostics as they were quite insightful:
![imagen](https://user-images.githubusercontent.com/17855450/62498531-775dd300-b7d7-11e9-85ea

[2019-08-05 22:24] dsherret commented on #671
No problem! Yup, doing...

[code]

...can be very helpful for catching this stuff. I forget to do it all the time myself though :(

[2019-08-10 07:45] HamedFathi opened #677 "How to find out a property in class is static?"
I want to find out a property (PropertyDeclaration) in class is static or not?

[code]

Is it possible? I did not see any `isStatic()` .

[2019-08-10 10:56] HamedFathi opened #678 "How to get all details of an object argument of a decorator?"
I have the following code

[code]

How to get the argument of `@converter decorator` as a specific node not as a `string`?

[code]

The above code is good for non-object arguments but I need to access all details of an object argument like `{a: 'AAA', b: {c:1}}`.
[code]

How is it possible?

[2019-08-10 11:01] HamedFathi opened #679 "How to use ts-morph to make Typescript dependency graph?"
Hi,

Is it possible to define a directory and an entry point to create a Typescript file dependency graph?

![q](https://user-images.githubusercontent.com/8418700/62821058-cdd66300-bb83-11e9-9796-11670e61b7b7.png)

Any idea?

[2019-08-10 14:29] dsherret commented on #678
Hey @HamedFathi, you will have to inspect if the argument is an object literal expression. Using https://ts-ast-viewer.com can help here to find out what kind of node you want to be looking for.

So you could assert the argument as an object literal expression

[code]

[2019-08-10 14:31] dsherret commented on #677
That's strange. The method is [`isStatic()`](https://github.com/dsherret/ts-morph/blob/1f19e2e14544cfe328458c429fcf913b3e17c32f/lib/ts-morph.d.ts#L3047) and `PropertyDeclaration` nodes implement `StaticableNode` (see [here](https://github.com/dsherret/ts-morph/blob/1f19e2e14544cfe328458c429fcf913b3e17c32f/lib/ts-morph.d.ts#L4150)).

[2019-08-10 14:42] dsherret opened #680 "Add SourceFile#getReferencedSourceFiles() and similar methods"
From #679.

There currently exists the following methods:

* `getReferencingSourceFiles()` - Gets any source files that reference this source file.
* `getReferencingNodesInOtherSourceFiles()`
* `getReferencingLiteralsInOtherSourceFiles()`

...but the opposite of this doesn't exist (ex. `getReferencedSourceFiles()`). This is just hidden internally and could be easily exposed.

While doing this, `#g

[2019-08-10 14:42] dsherret commented on #679
There is currently a `sourceFile.getReferencingSourceFiles()` that returns all the source files that reference the current source file (assuming modules are used). I'm surprised I haven't exposed the opposite of that, so I opened #680.

[2019-08-10 18:24] HamedFathi commented on #679
@dsherret

Thank you so much for your help. :)

For my scenario, As you mentioned above, I need the opposite of `sourceFile.getReferencingSourceFiles()`;

`getReferencingSourceFiles` return the parent file but I need all `referenced files`.

[2019-08-11 12:19] ruscon opened #681 "[Help / Question] How to parse structure decorator's arguments ?"
Example

file
[code]

structure
[code]

[2019-08-11 17:10] HamedFathi opened #682 "Parse all types of Imports and require"
I need to get all parts of an `import` statement.
[code]

[code]

For number (1), I did this like the following
![qqq](https://user-images.githubusercontent.com/8418700/62837040-e2982100-bc7f-11e9-99d7-d8fb086a8cf6.png)

Can you help me with others? Does exist any general way to support all of those? (even for `require`)

[2019-08-11 17:34] dsherret commented on #682
Hey @HamedFathi, I recommend reading the docs on imports: https://dsherret.github.io/ts-morph/details/imports (let me know if anything is missing from there)

For `require` and `import` I don't think I'll be adding helper functions for those methods, but you can always get the information yourself from the compiler api using the library.

Here's an example:

[code]

[2019-08-11 17:51] HamedFathi commented on #682
@dsherret
OK, thanks, so I should try line by line.

[2019-08-12 21:09] dsherret opened #683 "Expression Structures"
From #681.

Perhaps structures should be expanded to include expressions as well. Currently they only include declarations.

This is something to consider for the future though... still a lot of work to do elsewhere.

[2019-08-12 21:13] dsherret commented on #681
Hey @ruscon, the structures currently only have declarations in them and not expressions. Maybe one day they will include expressions as structures, but for now they don't. I've opened #683 in the meantime.

In this case, it's currently best to just get the object literal expression from the AST instead. For example:

[code]

[2019-08-12 21:19] ruscon commented on #681
@dsherret Thank you :)

[2019-08-13 14:37] lazarljubenovic opened #684 "[Question] Easiest way to pick a free-to-use variable name?"
This might seem like a trivial task, but I'm not sure on what's the sanest way to accomplish this. I want to transform code, and introduce some intermediate variables. I don't really care for their names, but they must not clash with anything else in the scope. Sure, I'm going to pick `__INTERMEDIATE_VALUE_${i}__`, maybe even add some weird emoji character in there, so it's never going to clash in

[2019-08-13 21:58] dsherret commented on #684
Hmmm, yeah interesting question. What I usually do is basically the same as you—name the variable after the package name doing the change, add a globally incrementing value, and then also do the double underscore thing (`__myPackage${++id}__`).

A better way would be to maybe use the result of a guid in the name along with a prefix of something.

---

I think probably the theoretically correct way

[2019-08-14 03:50] lazarljubenovic commented on #684
Indeed, I gasped when you said "check for clashes along the way" in step 5. No way! :scream:

I guess it's perefctly fine for any codegen/codemod library to just assume that crazy things aren't used in code. The library name tip is a great idea, in case several code manipulation libs (especally of the same author) are chained together.

Thanks for sharing your thoughts.

[2019-08-14 03:54] lazarljubenovic commented on #661
Is this about bundling the distributed code of the library itself through npm? Does in-library `require` call really make much of a difference?

[2019-08-14 19:03] dsherret commented on #661
@lazarljubenovic Yeah, I found with another library that when I packaged everything into a single file the startup time was faster (maybe that was coincidence though... and I was using a spinning disk drive...). It would at least be good to test this out and it's pretty easy to try this out with rollup.

[2019-08-17 07:09] cancerberoSgx opened #685 "Tests broken in node 11 and node 12"
* Both in MacOs and archlinux with node 11 and 12 and also with yarn and npm fails the same way (see at the bottom)
 * node 10 works fine both using yarn and also npm :)
 * The errors seems to be related to an algorithmic change somewhere.
 * The same problem (at the bottom) happened with the following node/ npm / yarn versions.
 * only two tests failing I implemented and we discused at https://gi

[2019-08-17 08:16] cancerberoSgx commented on #685
Update, I confirm the same using official node.js docker images:

These two (node 10) works
[code]

But node 12 doesn't

[code]

The build.sh is simple:

[code]

BTW: I removed yarn.lock and updated all dependencies to latest in package.json, and run again and tests are green (yarn.lock regenerated) so I guess is safe to push this (?)

Regarding this issue, I left some comments for you

Also cross

[2019-08-17 11:23] lazarljubenovic opened #686 "Official testing framework/utilities"
**Is your feature request related to a problem? Please describe.**

A lack of clear way to test code that uses `ts-morph` to manipulate/generate code.

**Describe the solution you'd like**

Import something from `ts-morph/testing` or such, set it up with some configuration such as project configuration (ES version to use, etc), and then use its method to easily test code.

These functions would be

[2019-08-18 10:59] HamedFathi opened #687 "Why does 'node.getType().getText()' return import(file).TYPE?"
I wrote a sample like the following

[code]

The problem is `y.getType().getText()` returns `type` with `import(FILE PATH).TYPE` format.
How to return just the file type? (`ColorType`)
Although, I can replace the result with `/import\(.*\)\./g` regex but it is not my first choice!

![Screenshot_1](https://user-images.githubusercontent.com/8418700/63223546-79a73080-c1cc-11e9-80d5-951ea35e7776.png)

[2019-08-18 13:45] HamedFathi opened #688 "How to get 'questionToken' from getValueDeclarationOrThrow()?"
I wrote the following code:

[code]

How to get `QuestionToken` information for each parameter of `getCallSignatures()` ?

I can find it in the final result but no method found!

![Screenshot_2](https://user-images.githubusercontent.com/8418700/63225350-335dcb80-c1e4-11e9-9701-8edad0cad7c7.png)

[2019-08-20 21:29] dsherret commented on #687
Hey @HamedFathi, see my response here: https://github.com/dsherret/ts-morph/issues/453#issuecomment-427405736

[2019-08-20 21:33] dsherret commented on #688
The `getValueDeclarationOrThrow()` returns a `Node` type. In this case you should be able to just assert it as a `ParameterDeclaration`.

Also, there are more ways for a parameter declaration to be optional, so you'll probably want to use the `isOptional()` helper method, which will handle all the scenarios for you (ex. it could be a rest parameter or have an initializer):

[code]

[2019-08-20 21:42] LeonardKoch commented on #683
Thanks for giving the expressions some more attention.
This would allow me to move away from just doing a lot of this with just strings.
Until you get to this, is there a better way of adding expressions to modules or functions than strings?
So if for example inside a function I want to add the following code is there any more elegant way than strings to do this? Haven't found anything in the docs

[2019-08-20 21:44] dsherret commented on #685
Thanks for looking into this @cancerberoSgx! I definitely don't want to skip those two tests for now, but it is very strange they only fail on node 11 and 12. Perhaps this is something in the compiler api that is broken.

Sure. This is just a simple travis.xml update, right?

We should just fix the issue on node 11 and 12. I think people could just use nvm if they really wanted this? https://githu

[2019-08-21 00:23] donovanhiland opened #689 "Question: Is it possible to get the default export node?"
I would like to be able to `node.findReferencesAsNodes()` on whatever the default export is exporting. Is that possible?

[2019-08-21 06:50] HamedFathi commented on #688
@dsherret

Is `isOptional()` helper method available for `PropertyDecleration` and `PropertySignature` ?

![image](https://user-images.githubusercontent.com/8418700/63408880-35eb3b80-c405-11e9-8716-ff261733234d.png)

![image](https://user-images.githubusercontent.com/8418700/63409019-8ebad400-c405-11e9-8349-c51d979eb440.png)

[2019-08-22 21:12] dsherret commented on #689
Hi @donovanhiland,

Yup. For example an export like this `export default Something` can be retrieved like so:

[code]

In case a node doesn't have the `findReferencesAsNodes` on it, you can always pass the node to the language service method as a workaround `project.getLanguageService().findReferencesAsNodes(node)`.

[2019-08-25 22:37] Validark opened #692 "getParent type is incompatible with newest TS versions"
In the latest version of TypeScript, this will give you a compile-time error:
[code]

The errors look something like this:
![image](https://user-images.githubusercontent.com/15217173/63656789-b8099600-c75e-11e9-9fcc-4588d644bdd2.png)

This happens due to a change in the way TypeScript handles method unions. If you think this error is incorrect, perhaps a TypeScript issue should be made?

[2019-08-30 21:14] elizabethdinella opened #693 "getDefinitionNodes and findReferences crashes"
Hello,

I would like to traverse an AST and find all uses of all identifiers. However, calling the getDefinitionNodes() function causes a crash:

[code]
The error is as follows:
[code]

The file does exist, and just printing the identifier names works fine. Am I using the methods incorrectly?

[2019-08-30 22:13] elizabethdinella commented on #693
Figured it out: I needed to add the allowJs compiler option!

[2019-08-30 22:13] #693 closed

[2019-08-31 16:26] HamedFathi commented on #680
@dsherret

Any progress on this?
Any timeline?

[2019-08-31 21:08] dsherret commented on #692
I haven't figured out a way to fix this yet and I'm not sure it's possible in TS 3.6 without changing the method to always being nullable.

This is due to the issue you outlined here: https://github.com/microsoft/TypeScript/issues/32506

[2019-08-31 22:00] dsherret commented on #692
I'm so sad, but I'm probably going to do a code generation solution in the final declaration file to solve this :(

[2019-08-31 23:21] dsherret commented on #692
Yeah, this solution is no fun, but I don't see any way around it. This will be fixed in version 4.0 (I hope to get a release out by Tuesday).

[2019-08-31 23:21] #692 closed

[2019-09-01 13:42] dsherret commented on #679
Closing. Resolution will come in #680.

[2019-09-01 13:43] dsherret commented on #680
@HamedFathi I've been super busy over the past few weeks with some personal stuff. I'm going to get back at this very soon (probably today or tomorrow I will finish this one and try to do a 4.0 release very soon to fix some issues with TS 3.6)

[2019-09-01 13:59] HamedFathi commented on #680
@dsherret

I just say you are amazing man. thank you so much.
I did something with ts-morph. [Madeline](https://madeline.netlify.com/)

[2019-09-01 14:09] #672 closed

[2019-09-01 14:16] #666 closed

[2019-09-01 14:18] #669 closed

[2019-09-01 15:05] dsherret opened #694 "Improve error message when allowJs should be used"
It might be nice to somehow improve the error message when `allowJs` should be used.

See #693 for details.

[2019-09-01 15:13] dsherret commented on #693
Hey @elizabethdinella, thanks for opening this and then coming back once you figured out the solution. I opened #694 to explore ways of improving the error message here.

[2019-09-02 02:33] dsherret commented on #661
Well, if anything this has reduced the package size from of the scripts from 3MB to 900KB.

[2019-09-02 02:33] #661 closed

[2019-09-02 09:06] shakilsiraj opened #695 "Export declaration using a const"
How do I create an export declaration using const?

Here is what I wanted to create:
`export const taskActions = importedTasksActions;`

I tried this:
`
sourceFile.addExportAssignment({
    isExportEquals: true,
    expression: 'importedTasksActions'
  });
`

Which produces:
`export = importedTasksActions;`

How do i add a name to the export?

Thanks in advance. Awesome library by the way!

[2019-09-02 14:42] hediet opened #696 "Feature Request: Pattern Matching"
First of all: Thank you for this project! I really like it and I think it deserves more attention.
Something like this should be well known by every Typescript developer to automate medium to large refactorings. It is so sad that TypeScript's compiler API and its AST is such a mess.

Now to my actual feature request: It would be really great, if ts-morph has some kind of pattern matching support f

[2019-09-02 17:27] dsherret commented on #695
Hey @shakilsiraj, thanks!

That's a variable statement. See [here](https://ts-ast-viewer.com/#code/KYDwDg9gTgLgBAYwgOwM7xgQ1QawIIIwCWKqcAvHEQLaSzAAmAKtjqgcaQNxA).

![image](https://user-images.githubusercontent.com/1609021/64128493-d2f29080-cd84-11e9-838a-e990622aa110.png)

You can use `add/insertVariableStatement(s)`. For example:

[code]

[2019-09-02 23:24] dsherret commented on #680
This is implemented and will be in v4.0. The corresponding methods are:

* `#getReferencingSourceFiles()`
* `#getReferencedSourceFiles()`

* `#getReferencingNodesInOtherSourceFiles()`
* `#getNodesReferencingOtherSourceFiles()`

* `#getReferencingLiteralsInOtherSourceFiles()`
* `#getLiteralsReferencingOtherSourceFiles()`

@HamedFathi that's cool! The coverage feature is neat.

[2019-09-02 23:24] #680 closed

[2019-09-03 00:15] dsherret commented on #680
Ok, this is released now in 4.0.

[2019-09-03 00:17] shakilsiraj commented on #695
Worked like a charm. Thanks very much :).

[2019-09-03 14:04] hediet commented on #696
I've implemented a prototype by now that is already quite useable:

![image](https://user-images.githubusercontent.com/2931520/64179867-1f60cd80-ce64-11e9-9170-2bcb19907c0f.png)

This is the binary expression being matched:
[code]
Sadly, matching AST nodes is not well typed :(

[2019-09-04 03:59] lazarljubenovic commented on #696
You might wanna check out [`tsquery`](https://github.com/phenomnomnominal/tsquery).

[2019-09-04 06:38] hediet commented on #696
As said, I already tried tsquery but it was not powerful enough for me: Its not clear how to easily match against complex trees and how to extract the data I want at given positions.

[2019-09-04 23:42] jxom opened #697 "Question: Getting the text of direct child intersection types"
Hey!

I'm quite new to parsing ASTs, and I would very much appreciate some help! Anyway, I have a bunch of types that look like so:

[code]
or [see in the AST viewer](https://ts-ast-viewer.com/#code/KYDwDg9gTgLgBDAnmYcAicC8cDeAoOQhYAZxgC44yoBLAOwHM8BfPUSWBZVAYS3TgAyXASIAjAIYAvStXpNW7aPCQo4AIX59h+InElRZMWoxZtwyrmoCi-XUQBmECEZMKA3OY4rucAIL8msLW7kA)

Basically, I want to get the text of the intersect

[2019-09-05 14:48] dsherret commented on #697
Hey @jxom,

The `#getType()` method uses the type checker to get the type and the type checker does some inlining. I don't believe there's any way to undo what it does... this is somewhat related to 653#issuecomment-506003489

On ts-ast-viewer.com on the right side under `Type`, it shows the compiler api result of `#getType()`. If you want the AST node, then use `#getTypeNode()`:

[code]

[2019-09-05 23:40] jxom commented on #697
It works! Thanks so much 🙏

[2019-09-06 13:15] dsherret commented on #688
@HamedFathi no, there's only one way for a property to be optional. There only exists a `#hasQuestionToken()` method. If an `#isOptional()` method existed it would just do `return this.hasQuestionToken()`.

[2019-09-07 09:06] HamedFathi opened #698 "Detect Array/Object Destructuring"
Is it possible to add [Array/Object Destructuring](https://basarat.gitbooks.io/typescript/docs/destructuring.html) as a new feature?

**Object Destructuring:**
[code]

**Array Destructuring:**
[code]

It is hard to detect Destructuring from `VariableDecleration`.

[2019-09-07 11:52] lazarljubenovic commented on #698
What do you mean by "as a new feature"?

You should look for `BindingElement`, that means that descructing was used in code. "Name" and "property name" will give you what you're destructing (required) and how you've named it (optional). Presence of `dotDotDotToken` will tell if you if spread operator was used. `OmittedExpression` will be present in case you emit an element when destructing an arra

[2019-09-07 12:07] HamedFathi commented on #698
@azarljubenovic

Something like `getDestructionStatements()` method.

Anyway, You explained so good Thanks.

[2019-09-08 19:57] dsherret commented on #698
Thanks for answer this @lazarljubenovic!

@HamedFathi These are still variable statement's whose only variable declaration's name is either an `ObjectBindingPattern` or `ArrayBindingPattern`. I believe those nodes are implemented right now, but let me know if you find any gaps!

[AST Viewer Link](https://ts-ast-viewer.com/#code/MYewdgzgLgBA3gIgiAtgUxgBwE4k27KATwQC4Zl0AFXfQogXxgF4YQAjAKwG4BYAKABuAQ

[2019-09-09 03:07] HamedFathi commented on #698
@dsherret

Yes, but `Object literals` are a variable statement too but you have [documentation](https://ts-morph.com/details/object-literal-expressions) for those.

I think this is not bad to have a `Destructuring` section in the documentation.

Thanks

[code]

[2019-09-09 03:09] dsherret opened #700 "Add array/object destructuring to the documentation"
From #698.

[2019-09-09 03:10] dsherret commented on #698
@HamedFathi for sure! I've opened #700.

[2019-09-10 22:39] cancerberoSgx commented on #685
Maybe this is the reason for the change in this behavior:
 * https://bugs.chromium.org/p/v8/issues/detail?id=90
 *  https://www.reddit.com/r/javascript/comments/9sb87m/chrome_70_and_nodejs_11_no_longer_sort_arrays/
 * https://github.com/tc39/test262/pull/1977

If my previous statement is right then I don't think how we could support both worlds unless we sniff node.js version to run the correct no

[2019-09-10 22:51] cancerberoSgx commented on #685
I saw! and I'm glad, linters for me in general played against me, but formatters is that just format without asking are what I always use. BTW you package is interesting and I ended making something very similar to use in my own projects (more based on TypeScript Language service thouthg - based on ts-morph (https://www.npmjs.com/package/ts-refactor) - will take a look at  yours, and if I see some

[2019-09-11 23:02] cancerberoSgx commented on #685
Ajá  I was just putting some ifs() between the two broken tests (if(process.env.v8.version<7) or something like that but stopped immediately since was not elegant at all... I think v8 documentation, if this is really the cause which I think it is, should document somewhere some migration guide for this problem but didn't had the time to really dig in.

Also I',m right now working on a .travis.yml

[2019-09-15 15:55] lazarljubenovic opened #701 "Getting a concrete definition: getDefinitionNodePfKind(OrThrow)"
**Is your feature request related to a problem? Please describe.**

I find myself almost always expecting to find a definition of a certain kind. I expect that most use-cases have such a need.

**Describe the solution you'd like**

From:

[code]

To:

[code]

**Describe alternatives you've considered**

I can obviously wrap this myself in a function :smile:

[2019-09-17 16:57] dsherret opened #702 "Project#addSourceFilesAtPaths can be needlessly slow in some scenarios"
1. `FileUtilities.getDescendantDirectories` can be really slow. Look into improving it.
2. Look into whether this is necessary to be recursive (reason why it's slow)... I forget, but it should be documented in the code:

[code]

...the problem is when there is a descendant node_modules folder and then it just takes forever adding all those files. I'm just doing `project.addSourceFilesAtPaths("pack

[2019-09-17 16:59] dsherret commented on #701
@lazarljubenovic sounds good to me! Let me know if you'd like to implement this or I can get around to it very soon.

[2019-09-18 05:22] lazarljubenovic commented on #701
I'll check it out. It's been a while since I've peeked into source of this lib :sweat_smile:

[2019-09-19 19:09] brianzinn opened #704 "MethodParameters - not easy to import EnumDeclaration"
**Is your feature request related to a problem? Please describe.**
I cannot import classes and enums using the same or easily discoverable way.

**Describe the solution you'd like**
I would like to import enums and classes using the same code transparently.

**Describe alternatives you've considered**
I did find a workaround.  I will describe the original problem a workable solution and what I wou

[2019-09-21 18:46] HamedFathi opened #705 "How to get the exact file location from import("...").TYPE?"
Hi,

For a type, I used `type.getText()` and Typescript get the following result:

[code]

I want to access the exact location of `InterfaceSymbol` and `IObserverLocator` types.
What files have the definition of these types?

Or

[code]

Which file in `webpack` package has the definition of `LoaderContext`?

Is it possible to find the exact file location of a type definition? like VSCode `Ctrl + C

[2019-09-21 19:37] allenhwkim opened #706 "Question: purpose of this module"
I have been searching for a solution to generate test script with a typescript function. I made little success with only scaffolding it, https://github.com/allenhwkim/ngentest.
Your AST output will be super helpful for my project to generate a function test automatically although I haven't started using it yet.

Although I find parsing Typescript and having AST is very useful, I don't see compilin

[2019-09-21 21:26] dsherret commented on #704
Hey @brianzinn, I'm glad you enjoy the library! 🙂

The `#getText()` method just calls `TypeChecker#typeToString` in the compiler api.

Does the enum happen to be in the same file? If so, it won't have the import type. I believe it should if it's in a different file than the method parameter.

Maybe related: https://github.com/dsherret/ts-morph/issues/453#issuecomment-427405736

[2019-09-21 21:48] dsherret commented on #705
This is Ctrl + Clicking on a node—not a type. It's possible to do on an identifier node and that functionality is exposed with these two methods:

[code]

If you just have the type then you should be able to get it via the type's symbol:

[code]

Outputs:

[code]

To be honest though, I'm not sure if my answer is entirely correct.

[2019-09-21 21:56] dsherret commented on #706
Cool! Yeah, this sounds perfect for that.

This library isn't for compiling or running TypeScript code. It's only for inspecting code and then programmatically changing it. ts-node is useful for having node be able to load .ts, compile to javascript, and then run that in node. This library can't do that.

Let me know if that answered your question!

[2019-09-21 22:05] dsherret commented on #696
Hey @hediet, sorry for my delay in replying.

I think pattern matching is very useful, but I'd rather it be separate from the library. See #585 and #351.

Basically, it's a lot of work to maintain and get something like that right.

---

Regarding your comment about the TypeScript compiler API, the compiler API has the specific purpose of compiling TypeScript code and supporting the user's experie

[2019-09-21 22:06] dsherret commented on #689
Closing. Please reopen if this didn't answer your question.

[2019-09-21 22:08] dsherret commented on #683
@LeonardKoch nope. The only real way is to use `add/insertStatements` at the moment. It will probably be a while before I get to this issue.

[2019-09-21 22:13] dsherret commented on #673
Won't do this because of what I mention here:

It's better to do something like:

[code]

[2019-09-21 22:13] #673 closed

[2019-09-21 22:14] dsherret commented on #602
Closing for now.

[2019-09-21 22:14] #602 closed

[2019-09-21 22:16] dsherret commented on #578
@granmoe yeah sorry, there's not any that I know of other than what @cancerberoSgx mentioned. I feel like I barely understand it too... I mostly just play around with things until it works.

[2019-09-21 22:50] hediet commented on #696
@dsherret thanks for your reply ;)

Do you have an idea how to get the pattern matching fully typed?
Your (I assume hand written) AST facades are not very suitable for implementing typed patterns (e.g. using mapped/conditional types), as they all have getters and setters.

I noticed you have another typed data structure representing TypeScript ASTs (I think for generating ts code). Would that be s

[2019-09-22 17:36] dsherret commented on #696
I feel like it should still be possible? Could you present a specific simplified example? I unfortunately don't have the time right now to really dive into this.

No, those wouldn't be suitable for traversing the AST or doing any matching. They don't have expressions yet (#683). Yeah, they're written by hand... they were originally just meant to be used for the `#addClass` kind of methods, but the

[2019-09-22 17:44] allenhwkim commented on #706
Thanks for your answer. It's really helpful.

This means you want to change the code with program?

I don't normally have this situation to change the source code with program. When I want to change code, I code, unit-test it, save it, integrate it, and deploy it.

Can you tell me any examples or situation that you change the code programmatically.

[2019-09-22 18:16] hediet commented on #696
I'll do that in the coming days.

How come you invested *so* much effort in ts-morph when you are primary a C# dev?
Btw. they published the C# port [here](https://github.com/microsoft/BuildXL/tree/master/Public/Src/FrontEnd/TypeScript.Net/TypeScript.Net).

Sadly, I don't now, it has not been published. I tried to open source my work there, but it failed due to bureaucracy...

[2019-09-22 18:19] lazarljubenovic commented on #706
Here's a real-life example that I implemented during the previous week at work. Since the i18n module for Angular doesn't allow for dynamically translating strings (yet), we needed to have all the enumerations written in the templates with the `i18n` tag.

For example, the `MachineTypeEnum` is the following enumeration:

[code]

and it needs a component such as this:

[code]

Now for this kind of

[2019-09-23 03:31] dsherret commented on #696
Cool thanks! I'll try to sit down and take a closer look at this too.

Wow!! I really wonder why that was done. Thanks for sharing that!

At my old job in 2014 I worked a bit with asp.net (c#) so I did a bit of front end work because I had to. I got really excited about TypeScript after my boss showed me it and we adopted it right away. Since 2016 I've mostly been working on a c# desktop applicati

[2019-09-23 15:21] allenhwkim commented on #706
Thank you for your detailed explanation.

[2019-09-23 18:59] kazelone opened #707 "Support trailing comma"
**Is your feature request related to a problem? Please describe.**

A common use case for ts-morph is to add some element to an array, for example adding a new module to a `@ngModule` decorator. However, There doesn't seems to be an option to force a trailing comma.

It is a common practice to force trailing comma to minimize meaningless diff when adding new element; for example, it is the default

[2019-09-23 20:10] brianzinn commented on #704
That makes sense and then everything is working as expected.  I am using a combination of looping through namespaces, getFullyQualifiedName() and a hacky regex `/import\(\"([^\"]+)\"\)\.([^<>,;\|) ]+)/` to accomplish everything.  What I am doing is generating a project from another library typings, so this project has made that much easier.  Thanks again!

[2019-09-24 11:31] HamedFathi commented on #705
@dsherret

You help was so good thanks :)

[2019-09-27 23:18] ryanhaney commented on #240
This project is amazing! Great work! I'm wondering when this feature will be complete / if there is anything I can do to help. TSX files are all the rage these days. My project needs to load and manipulate them almost exclusively. LMK!

[2019-09-28 05:16] lamqson opened #708 "Else if statements and then statements error when removed"
**Describe the bug**

Version: 4.0.1
React: 16.10.0
MUI: 4.4.3

**To Reproduce**

[code]

**Expected behavior**
TS compilation should not fail here

[2019-09-28 17:51] dsherret commented on #708
@lamqson Could you provide some reproduction steps? Thanks!

[2019-09-28 19:17] dsherret opened #709 "Check manipulation errors for syntax errors"
If a manipulation error occurs, it should display any syntax errors in that file if they exist.

To implement, start up a new project with `useVirtualFileSystem: true`, create the file, then return the diagnostics.

[2019-09-28 20:14] #709 closed

[2019-09-28 20:23] dsherret commented on #708
@lamqson can you upgrade to 4.1.0 and re-run the code? After you upgrade, it should tell you about a syntax error in the code being created. Let me know if it helps you solve the problem. If not, then I have to improve that error message more somehow.

[2019-09-28 20:28] dsherret opened #710 "Manipulation error should throw custom error object"
The object should include details such as the previous file text, the new file text, and the file path.

~~This is technically a breaking change because it will throw a different kind of error object.~~ -- Will make this extend from `InvalidOperationError`.

[2019-09-28 21:01] dsherret commented on #240
@ryanhaney thanks for the compliments!

Yeah, I had stopped working on this because I wasn't sure about how to deal with these whitespace JSXText elements: https://ts-ast-viewer.com/#code/MYewdgzgLgBFCm0YF4YB4CiAbeBbeYUAfALABQMl62eBsA9KWWvTfoUQNxA

I think I know now, but it's a bit of work. I'm going to up the priority on this one and start work on it right away.

[2019-09-28 21:32] HoldYourWaffle opened #711 "Adding a 'getParentUntil' convenience method"
**Is your feature request related to a problem? Please describe.**
I want to easily search up the tree for tokens I'm interested in. It's already possible to accomplish this using `node.getParentWhile(node => !isThisNodeInteresting(node))`, but this feels awkward, especially if it's a kind comparison which requires an extra type assertion using this method.

**Describe the solution you'd like**
Us

[2019-09-28 21:47] HoldYourWaffle commented on #711
This could be extended beyond `kind`-comparisons.

To illustrate the difference between `getParentUntil` and `getParentWhile`:
[code]
If this program were to output something like this:
[code]
`getParentWhile` will return the `Boring` node, `getParentUntil` would return the `SuperInteresting` node.

I'm very tired and English is not my native language, so I hope I'm explaining myself good enough h

[2019-09-29 11:19] HoldYourWaffle commented on #711
Whoops I just noticed `getFirstAncestor`... I really shouldn't be doing this stuff late at night.

[2019-09-29 11:19] #711 closed

[2019-09-29 11:32] HoldYourWaffle opened #712 "getParentIf and getParentIfOrThrow"
**Is your feature request related to a problem? Please describe.**
There's already a `getParentIfKind` and `getParentIfKindOrThrow`, it would be nice if we could extend this convenience beyond kind comparisons, just like with `getParentWhile`.

**Describe the solution you'd like**
Two additional convenience methods: `getParentIf` and `getParentIfOrThrow`. They'd behave in the same way as their 'ki

[2019-09-29 12:23] HoldYourWaffle opened #715 "Providing custom messages to OrThrow methods"
**Is your feature request related to a problem? Please describe.**
It's currently not possible to provide specific error messages to the `XXXOrThrow` methods. This limits these "AST assertions" to generic error message that most likely won't help a user of your library.

To put it another way: the current error messages can only tell you *what* was expected, not *why* it was expected.

**Describe

[2019-09-29 14:26] HamedFathi opened #716 "How to get all exported blocks of code (nodes)?"
Is it possible to get all `exported` blocks of code (nodes)?

From the `export clause`, `export modifier`, `named export` and etc with any depth.
For example:
[code]

I want to access all nodes that are exported. `theAnswer` has no export modifier but it is exported so it is a public API. Is it possible to fetch all exported nodes from a package with any nested/recursive dependency? (nothing else)

[2019-09-30 00:06] jcmoore0 commented on #708
@dsherret @lamqson  - Here is a repository reproducing the error:  https://github.com/jcmoore0/Fuse-Ts-Morph

These 2 libraries both fail when making a production bundle (yarn start dist)

@material-ui/core: 4.4.3
react-final-form: 6.3.0

Thanks!

[2019-09-30 00:12] dsherret commented on #708
This is a fusebox issue. A syntax error is being inserted:

[code]

I will comment on that issue.

[2019-09-30 00:14] dsherret commented on #708
Oh, seems like the fusebox issue referenced is a different issue. Will look into it!

[2019-09-30 00:47] dsherret commented on #708
I've added two failing tests for this. Will look into it later though.

[2019-09-30 23:52] dsherret opened #717 "forgetNodesCreatedInBlock should allow return value"
Kind of weird that I never did this, but `project#forgetNodesCreatedInBlock` should support returning a value.

[2019-10-01 00:18] dsherret opened #718 "Fix removing a ThenStatement or ElseStatement"
Pretty sure it will error when doing something like `ifStatement.getThenStatement().remove()`.

[2019-10-01 00:22] dsherret opened #719 "Better handling of removing if statements"
Questions:

1. How would someone insert comments?
2. How would someone remove only a single `else if` block or just the first `if` block?

Note how the ast looks like:

![image](https://user-images.githubusercontent.com/1609021/65925674-c8490c80-e3bf-11e9-81da-b24a65eb817a.png)

I'm thinking this will most likely be an api on top of the existing one.

[2019-10-01 00:26] dsherret commented on #708
Will be fixed in 4.1.1.

[2019-10-01 00:26] #708 closed

[2019-10-01 00:40] dsherret opened #720 "Node#transform's current node should be specific type"
For example:

[code]

[2019-10-01 00:49] dsherret commented on #716
@HamedFathi is `sourceFile.getExportedDeclarations()` what you're looking for or is there something else more specific?

https://ts-morph.com/details/exports#getting-exported-declarations

[2019-10-01 03:56] dsherret commented on #720
Oh yeah, I wasn't thinking. The current node may not necessarily be `ifStatement.compilerNode` in this case because someone could call `const result = traversal.visitChildren()`.

[2019-10-01 03:56] #720 closed

[2019-10-01 04:12] HamedFathi commented on #716
@dsherret

I think `sourceFile.getExportedDeclarations()` is enough but
1. Does it resolve any kind of export? (Above samples)
2. It returns duplicate nodes however this is not wrong but I need just non duplicate nodes.

sample.ts
[code]

index.ts
[code]

It returns 2 records for `X` first from `sample.ts` and second `index.ts`.

I solved this problem with a hash code as an `id`.
[code]

Any bette

[2019-10-02 00:30] abirmingham opened #721 "Calling .replaceWithText(getFullText(...)) is inconsistent"
**Describe the bug**

Version: 4.0.1

Hello! I'm trying to migrate all `export default` cases in my codebase to named exports. In order to do so, I'm using the following code:

**ts-morph code**
[code]

Note the acrobatics in order to define `oldText`. This is because `getFullText()` returns both `SingleLineCommentTrivia` and js doc comments, but `SingleLineCommentTrivia` exist as sibling nodes wh

[2019-10-02 00:31] abirmingham commented on #721
Perhaps related to https://github.com/dsherret/ts-morph/issues/178

[2019-10-02 02:27] dsherret opened #722 "Wrap TypePredicateNode"
As title.

[2019-10-02 02:38] dsherret commented on #721
@abirmingham I'll read this and answer it sometime soon, but perhaps consider just doing the following:

[code]

Does doing that not work here?

[2019-10-02 02:39] dsherret opened #723 "Rename setIsExported to setIsNamedExport"
Should be a soft deprecation.

The reason for doing this is because it's not clear that `setIsExported` will remove the default keyword.

[2019-10-02 02:47] dsherret opened #724 "Wrap TypeChecker#getTypePredicateOfSignature"
I need this in ts-factory-code-generator-generator.

[2019-10-02 22:47] abirmingham commented on #721
@dsherret that did work! Thank you very much :)

[2019-10-03 17:52] dsherret opened #725 "Update `replaceWithText` docs to recommend using `getText(true)`"
From #721.

[2019-10-03 17:55] dsherret commented on #721
Just read this now. So when using `replaceWithText` you won't want to use `getFullText()`. `getFullText()` is the position from the compiler api position from the node's `getPos()` to `getEnd()`

See here: https://ts-ast-viewer.com/#code/GYVwdgxgLglg9mABFApgZygCgJSIN4CwAUMYmYgPQWICCwqATohADYwQDWMYA5sgBYpEYOABMhAIxQs4Ad1LkqiAG4wUsgUO7A4DALYBDWAkTdNiBjB78oCskoAOBsNORxEaFEKiCL6ECxQiHDAiAAGPChQAGIBLAA

[2019-10-03 22:36] abirmingham commented on #721
Thanks so much for the above-and-beyond explanation @dsherret ! I really appreciate that. I think that you see my confusion, but I wanted to give you a smaller example that illustrates how this can be confusing:
[code]

As a user I would expect this to be a no-op, but that only seems to be the case if there is no JSDoc comment. If there is a JSDoc comment, the comment is duplicated.

Anyway I thin

[2019-10-03 23:26] dsherret commented on #721
Yeah, it's slightly confusing, but that's what the compiler API does. In the compiler API and ts-morph it returns all the text from the last significant token of the previous node (comments not included) to the end of the node. So for example, calling `getFullText()` on the `FunctionDeclaration` node of `myFunction` would return the following:

![image](https://user-images.githubusercontent.com/16

[2019-10-03 23:34] #725 closed

[2019-10-04 00:42] dsherret commented on #712
Implemented by @HoldYourWaffle in #714.

[2019-10-04 00:42] #712 closed

[2019-10-04 00:48] dsherret commented on #715
Yeah, this is a really good idea. It should be possible to add this feature to the library using a programmatic refactor (so please if someone goes to implement this don't do it manually)

[2019-10-04 01:12] #722 closed

[2019-10-04 01:59] #717 closed

[2019-10-04 03:42] abirmingham commented on #721
@dsherret thanks again for the thoughtful response!

Here is an example. Note the duplicate comment that appears in the second and third printed blocks.
[code]

The following is printed:
[code]

[2019-10-04 21:46] HamedFathi opened #726 "How to ignore duplicate export results from sourceFile.getExportedDeclarations() ?"
`sourceFile.getExportedDeclarations()` returns duplicate (any number that has been exported) nodes however this is not wrong but I need just unique nodes.

**sample.ts**
[code]

**index.ts**

[code]
It returns 2 records for `X` first from `sample.ts` and second `index.ts` while both export one thing and one of them is enough.
I have a project and they export anything multiple times so I can not ge

[2019-10-05 03:29] lazarljubenovic commented on #726
If you're only interested in names, map the array to names and then create a Set out of it. This will remove duplicates.

[2019-10-05 03:54] HamedFathi commented on #726
@lazarljubenovic

What name exactly? I have some

Export default function
Destructuring object

And many without name nodes.

[2019-10-05 14:45] dsherret commented on #726
@HamedFathi I don't think I understand what you're asking because when I try this I only get one export as I would expect:

[code]

[2019-10-05 14:54] lazarljubenovic commented on #726
I was under impression that OP's running it for both files:

I guess this is why a reproduction is always a good idea :smile:

[2019-10-05 15:02] dsherret commented on #721
@abirmingham so in that scenario in the compiler api there is actually only one child that's the variable statement.

Using `forEachChild(...)` in the compiler api:

![image](https://user-images.githubusercontent.com/1609021/66256639-f2068880-e75d-11e9-85de-3bd641ed924a.png)

Then using `getChildren()`:

![image](https://user-images.githubusercontent.com/1609021/66256661-1d897300-e75e-11e9-81be-2b

[2019-10-05 15:19] #655 closed

[2019-10-05 16:23] #612 closed

[2019-10-05 16:32] HamedFathi commented on #726
@dsherret

So strange, I will check it again but because of duplicate exports, Even I made some `Id` for each node to find duplicates!!! [Here](https://github.com/HamedFathi/Madeline/blob/bb8d49bee70b552f9a037fc66a3d4811bf1ee6fe/extractors/class/ClassExtractor.ts#L29)

[code]

The project I'm handling is big and it's hard to find a good example, but I'm sure I had some duplicate exports.
Maybe, I

[2019-10-05 16:38] dsherret commented on #724
Oh... this is internal in the compiler api. Anyway, should be possible to get the type predicate via the signature's declaration.

[2019-10-05 16:38] #724 closed

[2019-10-05 16:43] #696 closed

[2019-10-05 16:44] dsherret commented on #685
Closing this for now. Should be fixed though.

[2019-10-05 16:44] #685 closed

[2019-10-05 16:45] dsherret commented on #662
Closing this for now. Please reopen if necessary.

[2019-10-05 16:46] HamedFathi opened #727 "How to find all the types involved in a node?"
How to find all the types involved in a node?
[code]

These types: `IContainer`, `Tracer`, `DebugTracer` for `TraceConfiguration ` node.

or

[code]
These types: `IBinding `, `BindingBehaviorExpression` for `BindingWithBehavior` node.

No matter what is the node (Variable, Class, Literal, ...) or where is the type (in Parameter, Block, Union, ... ).

I want to access all available `type.getText()`

[2019-10-05 17:05] dsherret commented on #726
@HamedFathi yeah, please let me know if you find duplicates! That would most likely indicate a bug and I'd like to fix it.

[2019-10-05 17:43] dsherret commented on #707
This will be implemented in 4.2 (releasing very soon).

It will just have basic support for trailing commas, so for anything more advanced I would recommend not bothering with this and just use a code formatting library (such as the one I am currently working on: https://github.com/dsherret/dprint -- that formatter will give you very fine control over trailing commas per ast node)

[2019-10-05 17:43] #707 closed

[2019-10-05 17:56] dsherret commented on #727
@HamedFathi I think you could just do:

[code]

Side note: Using `forEachDescendantAsArray` is slightly more efficient than using `getDescendants()` because `getDescendants()` will return parsed out token nodes.

[2019-10-05 18:03] HamedFathi commented on #727
May I ask you to give me an example for this?

Looks amazing.

[2019-10-05 18:09] dsherret commented on #727
Oh sorry, I misread your question originally. You may have to do:

[code]

That will get implicit types as well. You may want to filter out `any` types when you're done (check `Type#isAny()`)

[2019-10-05 18:12] cancerberoSgx opened #728 "TypeGuards isSemicolonToken, isInferKeyword negated will infer node as 'never'"
This two typeguards, isSemicolonToken, isInferKeyword , when used with negation logic operator will infer the node has type 'never' which I think is not correct, as shown :

<img width="444" alt="Screen Shot 2019-10-05 at 3 05 46 PM" src="https://user-images.githubusercontent.com/112746/66258968-c72e2b80-e781-11e9-848e-d12a4f97f07e.png">

snippet :

[code]

I think this could be a solution but I w

[2019-10-05 18:22] dsherret commented on #728
@cancerberoSgx oops! Yup, it should be that. Feel free to open a PR.

[2019-10-05 18:24] HamedFathi opened #729 "[Req] Add Typescript Type Guards documentation"
Do you support [User Defined Type Guards](https://basarat.gitbooks.io/typescript/docs/types/typeGuard.html#user-defined-type-guards)?

May I ask you to add documentation about this?

[code]

How to get `arg is Foo`? What is the relation to this block and `arg` as a parameter? How to get type of `Foo`.

It would be great if add this to your documentation.

[2019-10-05 18:26] dsherret commented on #729
See here:

https://ts-ast-viewer.com/#code/GYVwdgxgLglg9mABDAzgMTnAFAQwE4DmAXIjmAJ4CUJ+ByKiGciA3gLABQi3ieAplBB4ktAHTBMiAIQBeGYnAATPsBhg+igNycAvkA

It's a `TypePredicate`. I just wrapped that node in 4.2.0 (see #722).

I don't know if I'm going to add documentation for it though beyond what's in the JS docs (I need to revamp the documentation).

[2019-10-05 19:01] HamedFathi commented on #729
@dsherret

I can not find any `getTypePredicate()` or something like this.

![image](https://user-images.githubusercontent.com/8418700/66259617-d6cc6500-e7bf-11e9-9f3d-fbf31de17562.png)

May I ask you to share an example?

[2019-10-05 19:04] dsherret commented on #729
Use `getReturnTypeNode()` then check if that is a type predicate using `TypeGuards.isTypePredicateNode`.

[2019-10-06 00:12] cancerberoSgx opened #730 "getDescendantStatements considers arrow inner expressions as statements"
https://github.com/dsherret/ts-morph/blob/59d106b971e2fec7c0020ab87bd753995ee35d7f/src/compiler/ast/common/Node.ts#L797

[code]
output:

[code]
(expected only f(()=>a()))

But a() is not a statement but an expression. Some arguments:

 * inserting a semicolon token (empty statement) as next sibling of an existing statement,  should always result in valid code (syntax). Even with single statementts

[2019-10-06 00:16] cancerberoSgx commented on #730
Oh I'm sorry, I just read the jsdoc in the method `Gets the node's descendant statements and any arrow function statement-like expressions` explicitly mentioning this so I'm closing this. Thanks

[2019-10-06 00:16] #730 closed

[2019-10-11 17:39] abirmingham commented on #721
@dsherret sorry to keep pinging you on this, but I have a question that I think is related to comment nodes, and I'm not sure if it warrants opening up a new issue.

I'm writing a morph that aims to remove a selection of comments which disable the `no-any` tslint rule. The goal of the script is to identify cases where `// tslint:disable-next-line:no-any` occurs with no `any` on the subsequent line

[2019-10-13 01:13] meandmax opened #732 "How to resolve and inline dynamic imports?"
Am I able to resolve `import("myComponent")` and inline it with ts-morph?

[2019-10-13 13:42] lazarljubenovic commented on #732
Pretty inlining is not trivial mostly because of dependencies of the thing you want to import and name clashes when you copy over text. If you're sure that you can statically resolve some imports, I suggest doing a transformation where you change `const module = await import('module')` into `import * as module from 'module'`, then the code remains the same semantically, and you can use something l

[2019-10-15 02:01] dsherret commented on #610
I was talking with Titian at tsconf and it seems I could maybe take advantage of the incremental parser here. The function of interest seems to be `updateLanguageServiceSourceFile`.