[2018-02-24 03:26] Leooonard commented on #258
@dsherret after add tsconfig, everything works fine, thx a lot!

[2018-02-24 03:26] #258 closed

[2018-02-24 17:05] dsherret commented on #259
This is now available in v8.1.

[2018-02-24 17:05] #259 closed

[2018-02-25 09:09] kjpou1 commented on #259
Tested and works.  Thanks

[2018-02-25 19:41] dsherret opened #260 "isExported() should take into account if exported from an export declaration"
For example:

[code]

...for `MyClass` the `isExported()` method should return true.

[2018-02-25 20:42] gregjacobs commented on #199
Hey man, sorry for the delayed response. This sounds awesome, and nice job on that with fixing up all of the import and exports too!

I actually just ran into a situation a couple of days ago where this renaming will be super useful and simplify my code big time. Will let you know how it goes - thanks for this!

[2018-02-25 20:43] gregjacobs commented on #199
Btw, sounds good on having a quick lookup structure for figuring out how files relate in order to facilitate quicker renames. +1 on that :)

[2018-02-25 20:48] dsherret opened #261 "SourceFile.getRelativePathToSourceFileAsModuleSpecifier(...) for index.ts files should not strip file name in some scenarios"
Right now when doing:

[code]

...the module specifier returned will be `./some/folder` instead of `./some/folder/index` when `someIndexFile` is located at `some/folder/index.ts`.

If module resolution is classic then it should not strip the index file name.

Relates to #199.

[2018-02-25 20:51] dsherret commented on #199
No problem, I hope it works out!

Just another note... it currently doesn't work for `require` statements atm. I'll do that once the graph is implemented because otherwise moving would be way too slow. I feel that there must be some way to get how files relate from the compiler API though... I'd like to figure that out before implementing my own way of doing it.

[2018-02-25 20:53] gregjacobs commented on #199
Yeah that's a good question if it's possible to get from the compiler API or not. I do know there are some other npm modules out there though that will build and return an adjacency list dependency graph of all of the imports. Maybe you could leverage something like that?

[2018-02-25 21:19] dsherret commented on #199
I looked around a bit, but didn't immediately find anything using the TypeScript compiler. I also briefly just looked at the code for `findReferences` in the TypeScript repo, but I didn't find anything useful in there yet (maybe `getImportersForExport`). I'll have to look back again later.

[2018-02-26 10:27] gp187 opened #262 "adding parameters when inserting a method"
Maybe I'm doing something wrong, but I think this isn't working properly. I'm trying to add a method to a function and it isn't setting the parameters, but when I do it in a 2 step process, it works.

Input to
[code]
Result:
[code]

**parameters is gone**

Now, if after all of this I get the method and add parameters, it works

[code]
Now the function has the call parameters it should have had in

[2018-02-26 13:43] dsherret opened #263 "Write public keyword when specified"
Based on #262. Right now, if someone specifies a public scope, it won't write out anything as it prefers an implicit public. It should if specified and be less opinionated.

Also, allow providing undefined so that no scope gets written and a `removeScope()` method.

[2018-02-26 13:45] dsherret commented on #262
Hey @gp187, what version are you using? I just tested this out and it's working for me. One issue is #263, which I just opened.

This probably somehow relates to some performance improvements I'm slowly working on... it's doing things in two ways right now. Also, the structure being modified after being passed in is my bad. I should have been editing a copy. I'll fix that.

[2018-02-26 19:44] Anonyfox commented on #240
we can't wait to use it! keep up the good work! :)

[2018-02-26 22:54] gregjacobs opened #264 "createWrappedNode() seems to have broken?"
Hey David,

Getting an error when trying to create wrapped nodes in 8.1.0

Example:

[code]

I get the error:

[code]

[2018-02-26 23:34] dsherret commented on #264
Hey Greg,

In version 7 the TypeScript peer dependency was dropped for this library because it was getting impossible to support multiple versions of the compiler. The compiler API can still be accessed though and you shouldn't experience any loss of functionality ([read more here}(https://github.com/dsherret/ts-simple-ast/blob/master/versions.md#version-7)).

That `_tsSimpleAstBrand` property exi

[2018-02-27 04:40] dsherret commented on #240
Hey @Anonyfox, I'll have at least a `setBodyText` method up late tomorrow. Today I did some internal refactoring for this (basically, I'm trying to use [code-block-writer](https://github.com/dsherret/code-block-writer) more internally and it's leading to a lot of cleanup. I also added some features to it.).

I'm going to be pretty busy over the next two weeks, but after that I'll be able to work o

[2018-02-28 02:52] dsherret commented on #240
@Anonyfox there's now a `.setBodyText(...)` and `.setBodyTextInline(...)` method on `JsxElement`. I'll slowly add other methods (like adding/inserting/deleting jsx attributes and converting elements to self closing elements and vice versa), but it might take a few weeks because I'll be busy the next two weeks.

[2018-02-28 22:44] gregjacobs commented on #264
Ah, very interesting David! Thanks for the workarounds. And great call on using the library to convert my imports :) I have about 130 files!

I've found that I need a mix of using the wrapped nodes and the raw TS nodes. The cases where the raw TS nodes come in is when I do tree transformation using `ts.visitEachChild()`, and synthesizing new nodes for replacements in the tree. Here's the article o

[2018-02-28 22:55] coditect opened #265 "Error thrown when working with class containing semicolon-terminated constructor or method declaration"
A TypeError is thrown when `getInstanceMembers` or `getStaticMembers` is called on a class that contains a method or constructor whose body is followed by a semicolon, as shown in the example below.
[code]

I'm not sure why one would want to put a semicolon after a constructor or method declaration, but it happened on my project nonetheless.  The stack trace seems to indicate that such declaration

[2018-03-01 00:39] dsherret opened #266 "ClassDeclaration should mirror the compiler API more"
`ClassDeclaration` was one of the first parts added to this library and because of that it doesn't mirror the compiler as much as I would like it to.

Breaking changes:

* `getMembers()` - Should not return constructor parameters, but `getInstanceMembers()` should continue to do that. Also, maybe consider possibly returning a `SemicolonClassElement` and what else could be in there (see #265).

Whi

[2018-03-01 00:39] #265 closed

[2018-03-01 00:45] dsherret commented on #265
Interesting. Thanks for reporting this! The compiler in this case is creating a `SemicolonClassElement` node (see with [ts-ast-viewer.com](http://ts-ast-viewer.com/)):

![image](https://user-images.githubusercontent.com/1609021/36820814-c5c715bc-1cbd-11e8-9585-cdd0c36e089f.png)

I submitted a fix and it's now released in v8.2.1.

Sidenote: While looking at this I wasn't too happy with the state of

[2018-03-02 10:01] MrKou47 opened #267 "How to generate .ts file by using ts AST?"
[code]

Does `ts-simple-ast` expose an api to do this work like [babel-generator](https://www.npmjs.com/package/babel-generator)?

[2018-03-02 15:05] dsherret commented on #267
@MrKou47 do you mean something like `printNode`? See ["Printing a Node"](https://dsherret.github.io/ts-simple-ast/utilities).

Basically, you can separately use the [TypeScript compiler API](https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API#creating-and-printing-a-typescript-ast) (the `ts` export from this library) and generate an AST using its factory functions. From there, you

[2018-03-05 03:24] MrKou47 commented on #267
@dsherret Thanks! I got it😄

[2018-03-05 22:46] #262 closed

[2018-03-06 23:07] #263 closed

[2018-03-07 01:48] dsherret opened #268 "Ancestor directories should be lazily loaded"
For example, the following code:

[code]

...currently returns undefined for both `testSubDir` and `testDir`. It would be good if these were lazily loaded upon request so as to not affect the behaviour of `.getRootDirectories()` until they're requested.

[2018-03-07 15:51] dsherret opened #269 "Add tests for tsconfig.json that uses "extend""
I haven't tested this yet, but I feel like this won't work. Maybe the compiler automatically handles this. Anyway, it would be good to test this and see.

[2018-03-07 15:51] dsherret opened #270 "Fix file globs for relative paths"
Instead of doing:

[code]

Should be able to do:

[code]

[2018-03-07 20:30] dsherret commented on #270
`addExistingSourceFiles` works. It's actually `getSourceFiles` with a glob that doesn't. I've updated above.

[2018-03-08 00:43] #270 closed

[2018-03-08 17:38] dsherret opened #271 "SourceFile.move does not delete previous file on file system"
Can't believe I missed this. `SourceFile.move` does not delete the previous file on the file system when finally calling `save()`.

Related to #199.

[2018-03-08 17:42] #271 closed

[2018-03-10 21:54] lazarljubenovic opened #272 "Creating an empty file"
Thanks for the amazing library! Codegen has never been this easy and this fun.

Is there an "official" way of creating a new file and saving it? I want to generate TypeScript code based on my source files, which is then ready for the usual TypeScript compilation as a new project. I guess I could use `fs` for this, but was wondering if it's possible to do so via some nice wrapper utility from this

[2018-03-10 22:02] lazarljubenovic commented on #272
I'm stupid. There's a `createSourceFile`, but looks like it's documented only in the Readme of the repo and not on the docs site.

[2018-03-10 22:02] #272 closed

[2018-03-10 22:40] dsherret commented on #272
Sorry that’s my bad! In the future I will either be doing some analysis between the code and the documentation to identify gaps, or will be generating some documentation from the code.

I’m glad you are enjoying the library though! :)

[2018-03-11 12:51] lazarljubenovic opened #273 "Overwrite when calling createSourceFile"
After [a quick search](https://github.com/dsherret/ts-simple-ast/search?q=overwrite&type=Code&utf8=%E2%9C%93), I've found that apparently this option was considered for some operations but not for all, such as `save` and `saveSync`. It would be nice if we could overwrite when saving a file.

Seems to me like I have to manually delete the file, maybe there's another way?

[2018-03-11 14:36] dsherret commented on #273
Can you post a short snippet of code that shows the problem? It should be overwriting.

[2018-03-11 15:49] lazarljubenovic commented on #273
Oh? It tells me:

[code]

I'm just creating a file, writing a function into it and then saving it. I'll create a full repro tonight.

[2018-03-11 16:22] dsherret commented on #273
Oh ok. That makes sense. That error happens on createSourceFile (not on save).

I’ll think about this... probably will add an options object as the third parameter.

[2018-03-11 20:37] #260 closed

[2018-03-11 20:38] #266 closed

[2018-03-11 21:02] lazarljubenovic commented on #273
Oh, I didn't even notice where it happens. Sorry for the confusion and thanks! :sweat_smile:

[2018-03-13 06:08] dsherret opened #274 "Remove many method overloads"
Couldn't find an example of this in lib.d.ts, but managed to solve this via this test code:

[code]

I was trying to get this to work with `keyof` before (doesn't make sense why I was), which was the issue because `keyof` will be a string.

One downside is that people can provide a number like so, but this is still better than having so many overloads:

[code]

**Task**

1. Generate this type for

[2018-03-13 07:57] fbartho commented on #126
This is particularly valuable if you want to use 1 file as a template, and then fork it, replacing the content many times. Basically 1 exemplar of each thing you want to code-generate, and then rename each appropriate thing N times as you process your repo.

[2018-03-13 07:59] fbartho commented on #154
An alternate move might be to suggest emitting through something like prettier? That way the stylistic formatting is a distinct task than the AST manipulation.

[2018-03-13 18:22] BeardedDonut opened #275 "Get Methods JSDoc"
Hi I have read the documentation but I couln't find an answer for my question...
I was wondering how can get JSDoc for a method defined inside a class?
Thanks.

[2018-03-13 18:49] dsherret commented on #275
Hey, I’m not at my computer right now, but once you have the MethodDeclaration then you should be able to just call ‘method.getJsDocs()’.

Does that work? If not, let me know and I’ll look into it.

[2018-03-13 22:36] #274 closed

[2018-03-14 10:50] navid9675 commented on #275
Thanks for the reply.. I've checked what you have suggested but I get `MethodDeclaration.getJsDoc()' is undefined`. I've also tried `getJSDoc()` but it didn't help either.

[2018-03-14 10:58] navid9675 commented on #275
Thank you it worked very well...
great job BTW

[2018-03-15 02:46] dsherret opened #276 "Improvements to moving source files"
This is talked about a bit in #199.

Right now, `sourceFile.move`:

1. Needs to update...
    * [x] import equals declarations.
    * ~~[ ] Referenced files in the tsconfig.json.~~
    * ~~[ ] `<reference ... />` tags.~~
    * [x] Dynamic imports `ex. await import("./test");`
2. EDIT: DONE! - Does not use a graph to figure out the dependent files (This would also be nice as a standalone feature as

[2018-03-17 05:53] Gerrit0 opened #278 "type.isTupleType does not exist"
According to the [Type](https://dsherret.github.io/ts-simple-ast/details/types#telling-type) docs, I should be able to use `type.isTupleType()` in order to check if a type is a tuple type.

It looks like this method was added to the docs in 15360cb154f281c21e8d262179146244515c1ff8, but I can't seem to find if the `isTupleType` method ever existed. Am I missing something here?

(I'd open a PR, but

[2018-03-17 14:34] dsherret commented on #278
@Gerrit0 Sorry, it's added now. I'll do a release sometime later today. Thanks for reporting the issue with the docs!

By the way, I also just added a `getTupleElements()` method.

[2018-03-17 14:36] #278 closed

[2018-03-17 15:15] dsherret commented on #58
The necessary changes related to this were made in #266.

[2018-03-17 15:15] #58 closed

[2018-03-17 15:24] Gerrit0 commented on #278
Thanks much! I'll need to do a comparison once I've finished refactoring, but I started using this project in one of my own instead of using the compiler api directly and so far it seems to have cut down the code size by about 1/3 per file. Amazing :)

[2018-03-17 15:56] #250 closed

[2018-03-17 16:02] dsherret commented on #278
@Gerrit0 awesome! :D I've experienced similar improvements with some of my other code. It also makes it easier for other people to almost immediately understand and contribute to your code.

By the way, this is now published in 9.3.0.

[2018-03-18 17:28] dsherret opened #279 "Efficient way to get all descendant statements"
Would be nice if there was an efficient `.getDescendantStatements()` method.

[code]

[2018-03-18 18:03] dsherret commented on #279
This is good enough for now. Would be nice to make this more efficient in the future.

[2018-03-18 18:03] #279 closed

[2018-03-18 19:15] dsherret opened #280 "Add setLiteralValue to NumericLiteral, RegularExpressionLiteral, and BooleanLiteral"
This was just committed for `StringLiteral` because I needed it for something else internal to the library, but it would be nice to also have this functionality for these other literals.

[2018-03-18 22:29] #280 closed

[2018-03-18 23:11] dsherret commented on #199
FYI, it uses a lazy graph now in v9.4.0 so it should be way faster for moving lots of files.

I talked with the Typescript team and they told me about `getAllDependencies` in `BuilderProgram`, but it seems dependent on compilation (ex. returning all files when specifying the outFile or out compiler options). So I had to roll with my own implementation.

[2018-03-19 02:45] dsherret opened #281 "Use ts.forEachChild more"
I believe performance improvements could be gained by internally updating the library to use `ts.forEachChild` more.

[2018-03-19 15:40] kjpou1 opened #282 "Possible Error with TypeLiteralNode validation?"
When using TypeGuards.isTypeLiteralNode the kinds that are being verified are different from the value actually passed.

[TypeGuards.isTypeLiteralNode](https://github.com/dsherret/ts-simple-ast/blob/master/src/utils/TypeGuards.ts#L2189) is checking against TypeLiteral which is kind `164` but the TypeLiteralNode kind is `174`.

This may also affect [TypeGuards.isTypeNode](https://github.com/dsherre

[2018-03-19 15:51] dsherret commented on #282
Hey @kjpou1, `LiteralType` is 174 and `TypeLiteral` is 164. Very easy to mix them up! :) (Maybe I am mixing them up right now and not realizing...)

Here's the definition from the compiler for `TypeLiteralNode` and `LiteralTypeNode`:

[code]

Perhaps you mean to use `TypeGuards.isLiteralTypeNode(...)`?

[2018-03-20 06:17] kjpou1 commented on #282
@dsherret yes it looks like that was it !!!  Thanks for pointing that out.

[2018-03-20 06:17] #282 closed

[2018-03-21 14:27] dsherret opened #283 "Do not temporarily wrap new tree when doing a manipulation (internal)"
Right now for convenience, the library is calling `createTempSourceFile` when doing a manipulation, then filling the existing wrapped nodes with the compiler nodes from that temporary source file. It's a waste to be creating so many objects and so this should instead just pass around the new compiler nodes (instead of the new compiler nodes temporarily wrapped).

[2018-03-24 16:10] dsherret commented on #283
I didn't do any benchmarks, but this will create less objects than previously so it should be faster.

[2018-03-24 16:10] #283 closed

[2018-03-25 01:49] #268 closed

[2018-03-25 01:49] dsherret commented on #273
This will be in the next release (tomorrow evening probably).

[2018-03-25 01:49] #273 closed

[2018-03-25 02:56] dsherret commented on #243
The trick here was to ensure these "Base" variable statements aren't exported from the declaration file. Really easy to do with the `createDeclarationFile.ts` script.

[2018-03-25 02:56] #243 closed

[2018-03-25 18:08] dsherret commented on #154
I'm going to change spaces to be the default because it's the default in the compiler (will be done in v10).

The ability to configure this will be added soon. It's much easier to implement it now because I've done a lot of internal refactoring to separate out this functionality. The setting for this is the `insertSpaceAfterOpeningAndBeforeClosingNonemptyBraces` format code setting from the compil

[2018-03-25 18:26] lazarljubenovic opened #284 "Get the class where a method is declared"
Given a `MethodDeclaration`, can we get the class it's contained in? `getClasses` tries to get its descendant classes (when it this possible anyway?).

[2018-03-25 18:32] dsherret commented on #284
For sure. If you know the parent will be a `ClassDeclaration` (and not something like a `ClassExpression` or `ObjectLIteralExpression`) then use:

[code]

Also, minor correction: `.getClasses()` will get the child (not descendants) class declarations contained within the `MethodDeclaration`. If you want the descendant classes then use `const classes = method.getDescendantsOfKind(SyntaxKind.ClassDe

[2018-03-25 19:42] lazarljubenovic commented on #284
Man, with all these fancy things provided by the wrapper I forget that the basic tree structure is still at play. Thanks!

[2018-03-25 21:26] mitchlloyd opened #285 "project.getDirectories() and project.getDirectory('foo') don't finds directories when ancestors do not contain direct descendant source file"
From reading the documentation I was expecting `project.getDirectories()` to return all of the directories in my project setup like this:

[code]

When I run `project.getDirectories().map(d => d.getPath()` I would expect 3 entries:

[code]

But instead I get 1:

[code]

`project.getDirectory('foo')` cannot find dir2 either. This throws:

[code]

And this succeeds:

[code]

However if I add a sourc

[2018-03-25 21:51] dsherret opened #286 "Populate all directories as specified in tsconfig.json"
Instead of just populating the source files it should also correctly populate the directories (from #285).

For example with the following file system structure and `rootDir: "./src"`:

[code]

It will currently only add `./src/dir` in the list of directories, but it should add `./src` and `./src/other`.

[2018-03-25 21:52] dsherret commented on #285
Hey @mitchlloyd, in version 10 that's somewhat fixed... `project.getDirectory('dir1/dir2');` and `project.getDirectory('dir1')` will not throw (see #268).

Yes, the current design is to not add any directories that don't have source files. That might be a bad design though.

How are you setting up the project object? Are you using a tsconfig.json or something else? (Btw, based on this, I just open

[2018-03-25 21:58] mitchlloyd commented on #285
Just getting start and so far my code looks like this

[code]

I'm spiking out a script to modify some files and I created a "fixture" directory in my project to test things out:

[code]

[2018-03-25 22:02] dsherret opened #287 "Populate directories that match glob when adding source files"
This is kind of tricky to implement, but it would be good to populate all the directories that match the glob without the file specific parts of the glob.

For example...

[code]

...should populate the project object with the `fixture/src/` directory and all its descendants.

From #285.

[2018-03-25 22:05] mitchlloyd commented on #285
Updated my example code in the original post. I meant to use `getDirectoryOrThrow` to demonstrate that the middle directory could not be found but instead I had `getDirectory`. I'm using version 9.5.0.

[2018-03-25 22:08] dsherret commented on #285
Ok, I just opened #287. Will that solve your case?

By the way, until these issues are implemented, if you only need to modify source files then you could forget with dealing with directories and instead just get the source files in that pages directory:

[code]

Or alternatively, just get the source files returned from:

[code]

[2018-03-25 23:05] dsherret commented on #154
This will be implemented in v10 when it's released.

Be default it will write surrounding spaces, but you can set the `insertSpaceAfterOpeningAndBeforeClosingNonemptyBraces` manipulation setting to false to make it not add surrounding spaces.

[2018-03-25 23:05] #154 closed

[2018-03-26 14:14] dsherret opened #288 "Use ambient declarations for pulled out compiler enums"
Right now, the compiler enums are being regenerated from the declaration file and then exported from the library.

It would be better to make them ambient declarations and then provide an export of the syntax kind. So for example, change:

[code]

To:

[code]

**What does this solve?**

Will reduce the likelihood of strange behaviour if someone overrides the dependency of the typescript compiler t

[2018-03-26 14:39] lazarljubenovic opened #289 "The best way to grab the raw value of a declaration?"
Say I have the following source.

[code]

I can get the `ObjectLiteralExpression` whose `getText()` returns `'{\n foo: 1,\n bar: 2,\n}'`. To get the raw value of the object (not a compiler node), I could do `eval`.

But this brings to question, what if not everything is a constant? What if we have the following:

[code]

If I `eval` now, I'll get either get an error or whatever `foo` and `bar` are

[2018-03-26 15:53] vogloblinsky commented on #253
Thanks. All the code of compodoc has been fixed to only use ts-simple-ast TypeScript wrapper. Works fine.

[2018-03-26 16:48] dsherret commented on #287
Looks like https://www.npmjs.com/package/glob-parent would work well enough for this.

[2018-03-26 18:28] Gerrit0 opened #290 "Constant types break isXType functions"
I might be missing something obvious here... but getting types for constant variable declarations doesn't work as expected, getting the apparent type doesn't seem to resolve the problem.

Demo:

[code]

Output:
[code]

[2018-03-26 18:52] dsherret opened #291 "Add Type: isNumberLiteral, isStringLiteral(), and isBooleanLiteral()"
As title. See #290.

[2018-03-26 20:42] dsherret commented on #290
Found it! There's a `getBaseTypeOfLiteralType()` on `ts.TypeChecker`.

If you want, you can temporarily fall back to the compiler API...

[code]

...but I will open up an issue and wrap this soon.

[2018-03-26 21:09] dsherret opened #292 "Wrap TypeChecker.getBaseTypeOfLiteralType(...)"
From #290.

Also, expose this directly on `Type` for convenience.

[2018-03-26 23:33] #291 closed

[2018-03-26 23:44] #292 closed

[2018-03-26 23:45] dsherret commented on #290
Ok, I implemented all this. I'll comment back when v10 is released (sometime this week or next... feel free to clone the dev branch in case you need this now).

[code]

I'm going to close this issue for now, but let me know if there's anything else you need.

[2018-03-27 01:11] dsherret commented on #288
I ended up having to do this craziness:

[code]

That tricks the type checker into understand the code at compile time and then makes it work at runtime.

[2018-03-27 01:11] #288 closed

[2018-03-27 01:22] dsherret commented on #289
Hey @lazarljubenovic, it's definitely in scope for this library, but it is challenging!

You could get the properties of the `ObjectLiteralExpression` (`.getProperties()`) and for each `PropertyAssignment` get the initializer. From there, you'll need to inspect the initializer to see what it is.

**For the initializer...**

If it's a string literal, then call `.getLiteralValue()` on it. Done.

Oth

[2018-03-27 01:55] Gerrit0 commented on #290
Thanks much! I'm using the code you posted above for now, but will certainly switch to V10 once released. `type.isLiteralType` might be useful, but is also trivial to write myself.

[2018-03-27 02:31] dsherret commented on #290
Good point. I meant to add that. Thanks!

That will be in v10 as well.

[2018-03-27 03:46] dsherret opened #293 "Upgrade to TypeScript 2.8.1"
I’ll wait for TS 2.8.1 to be released before releasing version 10. Should be soon.

[2018-03-27 16:58] dsherret commented on #293
And it was soon. Released today. I'll try to do this tonight.

[2018-03-27 17:08] dsherret opened #294 "Wrap LanguageService.organizeImports"
This is new in TS 2.8. It would be cool to wrap this and then people could do:

[code]

I'll most likely push this to version 10.1.

[2018-03-28 00:16] #287 closed

[2018-03-28 00:24] #293 closed

[2018-03-28 01:30] #286 closed

[2018-03-28 01:32] dsherret commented on #285
The two issues are implemented for v10. I'll release it sometime this week (probably tomorrow) and will comment back here then.

[2018-03-28 01:32] #285 closed

[2018-03-28 23:29] dsherret opened #295 "Class Declaration name can be undefined"
Important to note:

[code]

Looks like I'm going to have to make this possibly undefined.

[2018-03-28 23:33] dsherret opened #296 "Rename FunctionLikeDeclaration to SignatureDeclaration"
This was deprecated in TypeScript 2.8.

[2018-03-28 23:37] dsherret commented on #296
Heh. I can't read. It's FunctionLike—not FunctionLikeDeclaration. It's not used in the library.

[2018-03-28 23:37] #296 closed

[2018-03-28 23:57] dsherret commented on #295
I learn something new every day!

[2018-03-28 23:57] #295 closed

[2018-03-29 01:24] #294 closed

[2018-03-29 02:17] dsherret commented on #154
This is available now in 10.0.1.

[2018-03-29 02:17] dsherret commented on #273
This is available now in 10.0.1.

[2018-03-29 02:18] dsherret commented on #285
This should be fixed in 10.0.1. Let me know if the behaviour needs some tweaking or if there are any issues.

Also, thanks for reporting this. I think it's much better now.

[2018-03-29 13:33] dsherret commented on #125
I think this is already done. Please open an issue if there's anything I forgot or comment here.

[2018-03-29 13:33] #125 closed

[2018-03-30 15:56] #261 closed

[2018-03-30 18:55] #237 closed

[2018-03-30 19:52] dsherret opened #297 "Add simpler findReferences and getDefinitions that only returns nodes"
Right now `findReferences` and `getDefinitions()` is the same as in the compiler API and it's kind of a pain to use if you only want to get the nodes:

[code]

Would be nice if there was also a method for getting just the nodes (ex. `classDeclaration.findReferencingNodes()` and `node.getDefinitionNodes()`).

[2018-03-31 18:34] #219 closed

[2018-04-01 14:30] lazarljubenovic opened #298 "How to catch errors in file when emitting?"
Check this out:
https://runkit.com/lazarljubenovic/5ac0e65c2fb4d100127222d1

Basically, I've created an invalid file (`Foo` is an unknown type), yet everything goes smoothly. I've seen Type Checked mentioned, but I do not understand what to do with it -- apparently it's a low-level utility and not a global `.typeCheckThisFile()` sort of thing.

Why do I not see error when emitting? The file is emi

[2018-04-01 14:37] lazarljubenovic commented on #289
Thanks a lot for the detailed explanation! It helped me understand the general direction of the flow and get a better overview of how things are expected to be done. Also, didn't know about `getDefinitions`. Why is it plural? Don't we know it has to be exactly one? I'm aware that two things with the same name can coexist in a project, but by knowing what kind of thing something is and by following

[2018-04-01 22:25] dsherret commented on #289
@lazarljubenovic it's plural because it's possible to have multiple declarations with the same name (new method is still plural `.getDefinitionNodes()` too). For example:

[code]

Anyway, I'm glad you solved the problem!

[2018-04-01 22:44] dsherret commented on #298
There are emit, syntactic, semantic, and declaration diagnostics. The error with `Foo` being an unknown type is probably a semantic error and so the emitter won't count that as an emit diagnostic.

Try using either `project.getDiagnostics()` or if you just want it for a single file, then use `sourceFile.getDiagnostics()`. That will return all the diagnostics except the pre-emit diagnostics which a

[2018-04-01 22:47] dsherret commented on #298
By the way, I just added a `project.createWriter()` method that will return a writer with the current manipulation settings.

[2018-04-03 04:07] cowchimp opened #299 "How to find method references?"
Hi.
Thanks for this great library.

I'm able to use `findReferences` for classes and parameters, but not for methods.
Am I doing something wrong?

Here's my code:

[code]

I'm using version 10.1.0.

Please let me know if you need more info.

[2018-04-03 04:20] dsherret opened #300 "PropertyNamedNode, BindingNamedNode, DeclarationNamedNode, etc.. - Add findReferences"
Based on #299.

[2018-04-03 04:25] dsherret commented on #299
Hey @cowchimp, I'm going to add a `findReferences()` for nodes that are `PropertyNamedNode`—nodes with a name that can be `Identifier | StringLiteral | NumericLiteral | ComputedPropertyName`. That's something I overlooked so thanks for bringing this to my attention. I just opened #300.

For now, a workaround that should work is to do:

[code]

[2018-04-03 08:11] cowchimp commented on #299
That workaround works. Thanks a lot 👍

[2018-04-04 17:08] ChuckJonas opened #301 "newLineIfLastNotNewLine() is deprecated. Use newLineIfLastNot() instead."
Keep getting this warning as well as `spaceIfLastNotSpace() is deprecated. Use spaceIfLastNot() instead.` when I'm generating classes.  Haven't quite narrowed down exactly what method it is yet...

[2018-04-04 17:09] ChuckJonas commented on #301
https://github.com/dsherret/ts-simple-ast/search?utf8=%E2%9C%93&q=newLineIfLastNotNewLine&type=

[2018-04-04 17:38] dsherret commented on #301
@ChuckJonas That's annoying. It was a problem down in code-block-writer. Can you try re-doing `npm install` and see if it doesn't do that anymore?

[2018-04-04 17:51] ChuckJonas commented on #301
@dsherret its says my package is already up to date... No change if I do rebuild and run

[2018-04-04 17:53] dsherret commented on #301
@ChuckJonas sorry, can you try deleting `node_modules/code-block-writer` and `node_modules/ts-simple-ast/node_modules/code-block-writer` if it exists, then try running `npm install`?

[2018-04-04 19:47] lazarljubenovic commented on #301
Try explicity installing the `@latest` version. The lockfile could be
keeping you from getting the new one, even if you delete it from
`node_modules`.

On Wed, Apr 4, 2018 at 7:53 PM, David Sherret <notifications@github.com>
wrote:

[2018-04-04 19:58] dsherret commented on #301
The lockfile uses an old version that wouldn't have the console.warn in it.

[2018-04-05 16:31] ChuckJonas commented on #301
doing a clean install fixed it.  Awesome package; keep up the good work!!!

[2018-04-05 16:31] #301 closed

[2018-04-05 20:40] dsherret commented on #301
@lazarljubenovic ah yes, I forgot about that. Good point! Thanks!

@ChuckJonas no problem! I'm glad that cleared it up. Sorry for introducing this.

[2018-04-07 01:52] dsherret opened #302 "Generate a type that maps compiler node types to wrapped node types"
It would be useful for a few things internally.

[2018-04-07 06:27] vogloblinsky opened #303 "Question - Replace function call"
Let say i have :

[code]

And i want to replace `utils.doWork()` with `'utils.doWork()'`, i don't want the final value of `doWork` call.

I managed to get the propertyAccessExpression `utils.` and the valueDeclaration `doWork` which is a MethodDeclation.

How to i manage that ?

Thanks

[2018-04-07 14:29] dsherret commented on #303
Hey Vincent, I think you'll want to get the `CallExpression` (`utils.doWork()`) then call `replaceWithText(...)` on it. For example:

[code]

Alternatively, if you don't want to be so specific:

[code]

^ Ohh! Maybe I should add a `.getFirstDescendantsOfKind(syntaxKind)` that would find the top-most descendants of a specified kind. Not sure about the name (maybe `.getTopMostDescendantsOfKind(synta

[2018-04-07 15:31] dsherret opened #304 "Improve getNodeProperty by using conditional types"
Looks like this:

[code]

But unfortunately only compiles in typescript@next due to bugs so I'll have to wait. Maybe it will work in the next 2.8.x version. In the meantime, I've checked this into the getNodeProperty branch.

[2018-04-07 22:42] dsherret commented on #262
I'm not sure why I referenced this in that previous commit. That was wrong... anyway, this should definitely not be happening in my latest commits for #224, but that will be released in (10.2.0 or 10.3.0)

[2018-04-08 17:22] dsherret opened #305 "Use cached factory to create StructurePrinter classes"
It would be best to have a cached factory that is passed around between all the StructurePrinter classes and other classes would access this factory to get these classes. They would be stored based on the state passed into the constructor (ex. one `ClassDeclarationStructurePrinter` for non-ambient and one for ambient).

The main motivation for this would be for easier to use code, but it would als

[2018-04-08 19:49] vogloblinsky commented on #303
Thanks David.

How can i easily find all variable statements with types `Routes` ? `sourceFile.getVariableStatement(s => ` ?

[2018-04-08 21:31] dsherret commented on #224
This is all implemented now. Obviously it's a risky change, but this should be a substantial performance improvement in some scenarios.

[2018-04-08 21:31] #224 closed

[2018-04-08 23:06] #300 closed

[2018-04-09 00:03] dsherret commented on #303
If you just want to use the AST then you can get the declarations like so:

[code]

But it's more reliable (and slower) to look at the type from the type checker:

[code]

Or even better:

[code]

[2018-04-10 13:59] dsherret opened #306 "Add Node.forEachChild and Node.forEachDescendant"
I should have added this a long time ago...

More information from the compiler API for reference:

[code]

[2018-04-11 01:30] #306 closed

[2018-04-11 01:35] dsherret opened #307 "NodeHandlers - Don't do .getChildren() unless the internal _children property exists"
Basically, first check if the internal `_children` (or whatever it's called) property exists... if so then use `.forEachChild` and if not then use `.getChildren()`.

This will help to not create the _children nodes (tokens) as much. This relates to #281.

[2018-04-11 18:51] dsherret commented on #248
Remember that this should be careful not to change behaviour:

[code]

[2018-04-12 01:25] dsherret opened #308 "Should not insert before the BOM"
I remember someone mentioned this in the past, but I never looked into it. I was able to reproduce this today. Basically do something like this:

[code]

This is easy to fix. Just need to update the TextManipulators to not insert before the BOM.

[2018-04-12 01:27] dsherret opened #309 "replaceWithText on a PropertyAccessExpression sometimes fails"
I'm not sure if this is the exact scenario. I could just run the script on my code again to find the problem. Basically, for example for the following:

[code]

Try calling `replaceWithText` on `this.writer` to replace with `writer`. It should throw an error.

[2018-04-12 23:38] dsherret opened #310 "Find identifiers in scope"
For example:

[code]

Given the node for `callExpr()`, it should be possible to call something like `getIdentifiersInScope()` and it would return these identifiers in the following order: `var3`, `innerFunc`, `var2`, `var1` (closest to furthest).

Use case: Figuring out what identifier to use as an argument in a call expression when refactoring an application.

[2018-04-13 01:02] dsherret opened #311 "Allow providing a string instead of a JSDoc structure"
For example:

[code]

Could be written as:

[code]

Also allow providing and using a writer for both cases.

[2018-04-13 01:08] #305 closed

[2018-04-13 18:13] dsherret commented on #104
Important to note that meta-data seems to be allowed to be stored after the specified language in the info string: https://github.github.com/gfm/#example-112

[2018-04-14 14:59] dsherret opened #312 "StatementedNode uses inconsistent source for child count"
I noticed when inserting incorrect syntax:

[code]

That when then calling:

[code]

It would throw this error:

[code]

The problem is that StatementedNode uses one source for the child count in the add methods and a different one when verifying the index is valid.

[2018-04-14 20:43] #308 closed

[2018-04-14 20:51] dsherret commented on #309
Unable to reproduce. I should have looked into this more when it happened.

[2018-04-14 20:51] #309 closed

[2018-04-14 21:15] dsherret opened #313 "Node - Add prependText and appendText methods"
As title. This would add text at the start position and end position respectively.

[2018-04-14 23:36] mitchlloyd commented on #285
I just checked this change in version 10.0.3 against my project. All the directories that I expected to see originally are now there! Hopefully this will save someone some confusion in the future.

[2018-04-15 18:09] dsherret opened #315 "Node - Add surroundWithText method"
Sometimes someone may want to do a manipulation that requires surrounding a node with text where doing it as two operations would create problems with the parsing.

Example:

[code]

[2018-04-15 23:42] dsherret commented on #104
This currently only works in `ts` or `typescript` code blocks.

Example using a "setup" for the code block:

[code]

Example of ignoring a compile error:

[code]

[2018-04-15 23:45] #104 closed

[2018-04-16 00:02] dsherret commented on #104
Hmmm... seems like github is not following https://github.github.com/gfm/#example-112 for how markdown should be displayed on github pages.

[2018-04-16 17:42] dsherret commented on #104
GitHub pages gave a very helpful reply. I need to add `markdown: GFM` to `_config.yml`.

[2018-04-16 23:45] dsherret commented on #104
This is all done now and the markdown files in this library have type checking in them.

Overall, found 19 bugs in the documentation... and surprisingly 2 bugs in the library ([this](https://github.com/dsherret/ts-simple-ast/commit/3715875322975c34695bc691c263d2572eef6c28) and [this](https://github.com/dsherret/ts-simple-ast/commit/11893528fae965052edd23c6a8723f037e614c7e#diff-1e4f8a1434d0a258f7fe

[2018-04-17 05:03] mitchlloyd opened #316 "sourceFile.getReferencingLiteralsInOtherSourceFiles() throws when using importHelpers tsconfig option"
Adding the `importHelpers: true` tsconfig option causes the `sourceFile.getReferencingLiteralsInOtherSourceFiles()` method to throw:

[code]

I believe this is because when using `importHelpers`, the first import in `compilerNode.imports` is a synthesized tslib import.

[code]

Then [this line](https://github.com/dsherret/ts-simple-ast/blob/219645154a04058f0e3e5a811882656ea446b2d4/src/compiler/fil

[2018-04-17 21:27] derolf commented on #125
Are you sure? I have an ambient module with classes. If I add a member function, I get “{}”, but I would expect just “;”.

[2018-04-17 23:08] #316 closed

[2018-04-17 23:12] dsherret commented on #125
@derolf thanks for bringing that to my attention! There was a bug where it wouldn't thoroughly check if it was in an ambient context when adding/inserting a class to an ambient module in a non-declaration file. This is released and should be fixed now in 10.3.3. I believe that was probably the issue you encountered? If not, could you submit a short example that shows the problem? Thanks!

[2018-04-17 23:14] dsherret commented on #316
@mitchlloyd hey, thanks again for reporting a bug and for so accurately describing what the problem is! It really helps me get these fixed fast.

I removed synthesized nodes being returned from that (because they have to do with emitting and aren't really relevant to the typescript code). This should be released and fixed in 10.3.3.

[2018-04-18 22:16] cowchimp opened #317 "Support `getReferencingNodes` for `Identifier`"
Hi.

I'm working on some code using ts-simple-ast that travels the AST and calls `getReferencingNodes` on many nodes it finds.
When it lands on an `Identifier` node it crashes because there is no `getReferencingNodes()` method.
I saw that `Identifier` nodes do have `getDefinitionReferencingNodes` which sounds similar.

Any chance to make `Identifier` support `getReferencingNodes` for conformity (m

[2018-04-20 10:57] navid9675 opened #318 "output TS file."
Hi first of all. great work thanks a lot.
I have a question, how can emit a source as a '.ts' file? cause when I save a project (after I make some changes) it outputs JavaScript files but I need TypeScript files.
Thanks.

[2018-04-20 23:36] dsherret commented on #318
Ok, actually I wrote it out just now. Try this:

[code]

[2018-04-21 07:12] navid9675 commented on #318
Thanks a lot.

[2018-04-21 07:13] #318 closed

[2018-04-21 16:41] dsherret commented on #318
@navid9675 I've been thinking about this a bit and I think this will be covered by #256. Basically the code would look like this:

[code]

I'll comment back here when #256 is implemented.

[2018-04-21 20:39] navid9675 commented on #318
Thank you @dsherret, that would be great. Should I reopen the issue?

[2018-04-21 20:57] dsherret commented on #318
@navid9675 no it's ok. I'm working on #256 right now and this will be covered by that.

By the way, it looks like there is a `directory.copy` method that currently exists, but there's a problem with it in that it doesn't update module specifiers appropriately when copying (I'm updating it for version 11 along with #256). I don't believe that matters for your scenario though so the above code shoul

[2018-04-24 06:52] punithnpg opened #319 "Licence"
Could you update the **licence** of this project? @dsherret

[2018-04-24 13:42] dsherret commented on #319
Hi @punithnpg, could you clarify what you mean?

[2018-04-25 10:35] derolf opened #320 "How to pass an ObjectLiteralExpression as an initializer to addVariableStatement?"
Right now, VariableDeclarationStructure exposes initializer just as a string, but I want to construct something like:

[code]

[2018-04-26 10:46] punithnpg commented on #319
Sorry, it wasn't this project.

[2018-04-26 10:46] #319 closed

[2018-04-26 10:49] punithnpg opened #321 "Importing multiples modules from a package."
Wanted to achieve something like this
`import { Component } from '@angular/core';`

[2018-04-26 10:54] punithnpg opened #322 "Default exporting of the class created"
How can we create a Class with default export?

[2018-04-26 13:37] dsherret commented on #320
Hey @derolf, yeah I've thought about that, but not sure what the best way would be at the moment. I still have to think about it a bit more. This is somewhat related to #148, but not exactly.

What I will do in the short term is improve `VariableDeclarationStructure` to accept a writer function and that would make doing this a little easier, but still not ideal. I'll get that done soon and comment

[2018-04-26 13:38] dsherret commented on #321
This can be achieved like so:

[code]

[2018-04-26 13:40] dsherret commented on #322
Like so:

[code]

You can also similarly insert classes to namespaces, functions, class method declarations, etc..

Let me know if that solves your question or if you have other ones.

[2018-04-26 15:52] punithnpg commented on #322
Thank you!

[2018-04-26 15:52] punithnpg commented on #321
thanks!

[2018-04-27 06:21] punithnpg opened #323 "Getting the name of methods inside a class"
`const members =classDeclaration.getMembers();`

How can i get the member name? @dsherret .
Thanks in advance.

[2018-04-27 14:09] dsherret commented on #323
Hey @punithnpg, are you using a code environment with code completion/intellisense? That will help understand the possible types returned by `getMembers()` and the other methods available on `ClassDeclaration`. On another note, I'd like to create a documentation page that's generated from the API, but at the moment the documentation generation libraries don't support some of the language features

[2018-04-29 17:45] dsherret commented on #256
That was hard to implement! It's still not perfect and I can think of some edge cases where things could be improved, but if people only use `project.save()` then they shouldn't run into trouble.

[2018-04-29 17:45] #256 closed

[2018-04-29 18:05] #312 closed

[2018-04-29 19:24] dsherret opened #324 "ClassDeclarationStructure should accept multiple ctors"
For example, a class declaration may have multiple constructors in the following scenario:

[code]

[2018-04-29 20:54] #324 closed

[2018-04-29 21:00] #311 closed

[2018-04-29 21:38] dsherret commented on #318
@navid9675 in version 11 the following code should work:

[code]

Let me know if you run into any issues.

[2018-04-29 22:28] navid9675 commented on #318
@dsherret  thanks a lot, it worked like a charm. Great job!

 if I found anything else I will let you know.  thank you

[2018-04-30 00:31] dsherret commented on #320
In v11 it's possible to use a writer when creating a variable declaration:

[code]

I haven't tested that, but it should be a little easier to use than before. You could even extract that out to a reusable function and then write something like: `initializer: writer => objToString(writer, { bar: 1, zoo: "test" })` and in that function call the code that formats things like above.

Anyway, I'm goin

[2018-04-30 09:46] derolf commented on #320
Hm, that’s kind of hack. Better would be to be able to pass a structured Initializer-Expression.

[2018-04-30 22:44] dsherret commented on #289
Closing this. Let me know if you have any other questions or if I missed answering something.

[2018-04-30 22:45] dsherret commented on #303
Closing this. Let me know if you have any other questions or if I missed answering something.

[2018-04-30 22:45] dsherret commented on #323
That should be the answer so I'm closing this issue. Let me know if you have any other questions :)

[2018-05-03 20:11] corsen2000 commented on #269
I tried this today and found that “extends” is not supported.

[2018-05-03 20:27] dsherret commented on #269
Thanks @corsen2000! I will try to fix this on the weekend.

[2018-05-05 17:25] dsherret commented on #111
I'm going to close this because I'll be moving away from gulp to ts-node for the tests. Just need to add support to ts-nameof so it can be used with transformations.

[2018-05-05 17:25] #111 closed

[2018-05-08 01:36] dsherret commented on #313
These methods are too general and it's too complicated to come up with a solution that would work well for multiple situations.  It would be better to add specific methods for specific actions. My main motivation for adding this was for prepending or appending whitespace so I'm going to add those methods instead (ex. `preprendWhitespace`/`appendWhitespace`)

[2018-05-08 01:36] #313 closed

[2018-05-08 01:42] dsherret commented on #315
Most likely I will constrain this method and instead implement methods like `node.surroundWithParens()`. `surroundWithText` is difficult to implement.

[2018-05-08 23:32] dsherret commented on #315
I recommend people use `.replaceWithText()` if they want to do this. It's very complicated to implement a feature like this that satisfies all scenarios.

[2018-05-08 23:32] #315 closed

[2018-05-10 17:09] dsherret opened #325 "Performance - Add documentation about using the typechecker or program between manipulations"
Currently, the program and type checker are cleared whenever a manipulation happens, then re-created when they're used again. Due to that, a **significant** performance improvement can be gained by doing the analysis first, then manipulating the code afterwards. In the future, I'll look to see if there's a builder program or something I could use to improve the speed here. For now, I should just a

[2018-05-12 22:21] cancerberoSgx opened #326 "Able to create Project from existent native ts.server.Project"
It will be very common that people use this library to facilitate LanguageService plugins development. There one already have a Project instance  and since you basically are wrapping objects should be easy and straightforward to have an api to build a ts-simple-ast.Project from a ts.server.Project directly.

THis is a very very small issue, is any, actually just wanted to thank you for the project

[2018-05-14 17:12] cancerberoSgx commented on #326
The way I found to do this is as follow, but is dirty. Can you think on a better way  ? Thanks:

[code]

[2018-05-14 17:20] cancerberoSgx commented on #326
And I guess the same apply for all the rest of your wrappers. For example, in my plugin I already have the ts.Node of what I want to refactor and I want to get your wrappers for use your helpers, for example, ClassDeclaration Nodes. Is that possible ? thanks

[2018-05-14 17:38] dsherret commented on #326
Hey @cancerberoSgx, the `Project` object (and this library in general) wasn't created with language service plugins in mind and internally it doesn't use `ts.server.Project`.

At the moment, for this scenario, it's probably best to just use the `createWrappedNode` function, though it's somewhat limiting:

[code]

I think perhaps there's a way forward that I could refactor some of the code so that

[2018-05-14 19:49] cancerberoSgx commented on #326
Thanks! No worries, I think I can make some helpers. Please don't waste time in this and keep working on your plan! :) I thought perhaps was an easy / straight forward way. When solving my problems, will share with you the helpers I have. Thanks again and keep it up

[2018-05-16 20:48] vogloblinsky opened #327 "[BUG] Barrel file support"
Starting with this issue : https://github.com/compodoc/compodoc/issues/566

With this files structure :

[code]

This file breaks in
[code]

with this error :

[code]

This works :
[code]

[2018-05-16 23:03] b4ckup opened #328 "How to turn automating code formatting off"
Is there any way to turn automatic code formatting completely off? My application (at least in the way I think of it now) relies on the added text during runtime staying the same.
For example
[code]
If I execute this code, the lambda will get reformatted by the compiler to something similar to this:
[code]
Setting indentation to zero does not do it because I need to turn the formatting completely

[2018-05-17 00:42] dsherret commented on #328
Hey @b4ckup, this library shouldn't really ever auto-format stuff so that's really strange that's happening for you. Could you post a simple example that reproduces this problem? See my latest commit that shows my attempt.

[2018-05-17 00:43] dsherret commented on #328
Also, I'm glad the library is working well for you otherwise 😄

[2018-05-17 01:07] dsherret commented on #327
Hey Vincent, how have you been? I took a look at [imports.util.ts](https://github.com/compodoc/compodoc/blob/11a742c13876794c45cd8e5bc8aaba62307bbb6e/src/utils/imports.util.ts#L110) and the problem seems to be in there.

[code]

After finding out that `importPath` doesn't exists, you'll want to check if `importPath` with `.ts` is a directory containing an `index.ts` file. Also, you'll want to use

[2018-05-17 02:47] cancerberoSgx opened #329 "Dependencies and building"
Hello, I'm having some trouble running tests which I want to do before any PR.
Basically, npm won't work for me (arch linux, node 10.1.0 - npm 6.0.0). I tried switching with nvm to node LTS and even to the same ones used in travis (which builds and test find): node --version  v6.14.2 - npm --version 3.10.10 but didn't work .

The only way I found to build and run tests is with yarn: "yarn install

[2018-05-17 03:03] dsherret commented on #329
Yeah, that was because that one dependency decided to do a very large breaking change on a minor revision. I fixed that earlier today in my dev branch, but now when I just tried to update to the latest version of that package there was another breaking change on a minor. I'm going to message them.

It works in travis because travis uses yarn which will install the same dependency versions I was us

[2018-05-17 03:17] cancerberoSgx commented on #329
Oh thanks! Will verify . It's OK to update .travis.yml and @types/node to node LTS instead of old 6.x ? WIll let you know, thanks again - great work ! keep it up

[2018-05-17 03:19] dsherret commented on #329
Only temporary... I opened up an issue asking if they could target ES5 instead of ESNext.

Thanks! 😄

[2018-05-17 03:36] cancerberoSgx commented on #329
Everything OK now, removing package-lock.json, node_modules and just exec npm i && npm test with node 10 and npm 6. Thanks .

Upgrading node version in .travis.yml shouldn't hurt right ? (I do understand @types/node we cannot yet)
Thanks! (I have /might have a couple of punctual questions do you think it's OK to ask here in issues ?) do we have other channels besides this ? - the last I want to do

[2018-05-17 03:36] #329 closed

[2018-05-17 03:45] dsherret commented on #329
Yeah, it only affects the CI and the tests are passing on there so should be ok. It won't affect anyone using the package. I'll hopefully be able to revert it back within a few days.

For sure! Any questions you may have about using the library, please feel free to open an issue and I will get around to them. I'm fine with people opening issues to ask questions because then it's searchable and mig

[2018-05-17 04:03] cancerberoSgx commented on #329
related PR: https://github.com/dsherret/ts-simple-ast/pull/330

[2018-05-17 15:02] b4ckup commented on #328
Hi, thanks for your quick response! I now debugged a little more and I think I know what the issue is (it's probably expected behavior but it would help a lot if you could point me in the right direction how to get the kind of behavior I am seeking).
So to give a little context I'm currently writing a very small and simple document scripting application for the purpose to script latex documents. I

[2018-05-17 15:34] dsherret commented on #328
Try doing this:

[code]

Perhaps I will add a `.resetIndentation()` method.

[2018-05-17 16:32] cancerberoSgx commented on #304
Hello, Just curious, I've noticed that sometimes is hard to access the AST using getters that return Node|undefined. I wonder if this issue try to attack that ? For example, because ts-simple-ast uses methods and not properties sometimes I end up using local variables and && like the following snippet if tsc is configure with strict=true:

[code]

[2018-05-17 17:13] cancerberoSgx commented on #45
Hey, I think is a great Idea  being able to generate structures from any node easily  so I can manipulate before add/insert/print. Was searching in the code about this, and this is what I've found:

* the most useful I found was  this : scripts/common/cloning.ts
 * there is something related here, but I don't think is for the end user: /src/manipulation/helpers/getStructureFunctions.ts
 src/manipu

[2018-05-21 09:40] gdavidkov opened #331 "Merging two declaration files in one"
I have one main module with own declaration file and one submodule with own file too.

- Is there a way to merge them in one file?

- Is there a way to convert for example ClassDeclaration to ClassDeclarationStructure and etc.?

[2018-05-21 16:59] cancerberoSgx commented on #331
I think it's easily doable.

This file has straight forward examples of how to convert classes, interfaces, functions std to its corresponding Structures: https://github.com/dsherret/ts-simple-ast/blob/master/scripts/common/cloning.ts

My two cents.

[2018-05-22 10:42] gdavidkov commented on #331
Thank you very much! Your help is appreciated.

[2018-05-22 11:11] cancerberoSgx commented on #326
Just in case I've improved the code. I find that the call always takes around 1.5 seconds no matter how big the project is. right now I'm always creating the object (each time the user actions a refactor) and I'm investigating the possibility of maintaining this object in a variable and update the source files that changed somehow before using it (or test if that is neccesary - will simple-ast pro

[2018-05-22 13:56] dsherret commented on #331
Note that linked to code isn't very good. It's made somewhat specifically for the scenario I'm using it for, but it could be adapted for other scenarios.

This is coming in #45.

You could just combine the texts directly for now:

[code]

Or just if you want specific parts of that other file:

[code]

[2018-05-22 13:57] dsherret opened #332 "SourceFile.appendText"
Would be useful to add this specifically for source file.

[2018-05-22 16:40] cancerberoSgx commented on #331
what about repeated imports ? I guess at the end you just call organizeImports ?

[2018-05-22 16:59] dsherret commented on #304
@cancerberoSgx that's a different issue than this one.

I've often wondered about switching this library to using properties instead of methods, but it would probably be too large of a breaking change at this point.

So with properties you would be able to do:

[code]

With methods you can do:

[code]

Basically, once typescript supports the null propagation operator then our troubles will go away

[2018-05-22 18:59] cancerberoSgx commented on #304
Didn't knew that one, nice! Also , a helper (at least temporary for debuging) is using ! for example, without "!" the following fails in strict=true:

`node.getExpression().getSymbol()!.getDeclarations()`

my two cents

[2018-05-22 19:12] dsherret commented on #304
Yes, or by using `getSymbolOrThrow()`.

[2018-05-22 19:57] cancerberoSgx opened #333 "_tsSimpleAstBrand and import typescript directly"
This is a question about the copy of typescript.d.ts inside simple-ast and basically the _tsSimpleAstBrand member:

[code]

First, I would like to make sure I understand correctly.

Is the idea that in my project I always reference the typescript native types declared on your library, and is not advisable to import typscript's declarations never ? Something like:

`import {  ts } from 'ts-simple-a

[2018-05-23 00:29] dsherret commented on #333
Yup. I highly recommend not using an imported version of TypeScript because it will most likely lead to bugs if the versions aren't the same.

Several reasons:

* There are very often breaking changes in the compiler API.
* Previously when this library referenced Compiler API declarations in its declaration file, that would throw compile errors when the user didn't have something this library refe

[2018-05-23 00:39] dsherret commented on #45
I believe I want to completely throw away the `cloning.ts` and `getMixinStructureFunctions.ts` functions in the future and instead use the mixins to help get the structures. It will be something similar to what's shown in `AbstractableNode.getStructure()`.

[2018-05-23 00:42] cancerberoSgx commented on #333
Thank you very much for the detailed explanation. Glad to know you already walked the path of depending on imported typescript and know the consequences! I have some replies but better leave them till tomorrow. Thanks again, great work! I'm following progress on ts team but seems only recently they have payed more attention to compiler API but still very little for my taste. For example they are j

[2018-05-23 00:44] dsherret commented on #45
@cancerberoSgx if you'd like to contribute, I think this would be pretty easy to do. If you'd like to take it on that would be much appreciated! :smile: We just need to add those `getStructure()` methods on each mixin where necessary then also on the classes where a `.getStructure()` method would be useful.

I'm not going to implement what I talked about in this issue with the parameters (ex. `{ e

[2018-05-23 00:46] cancerberoSgx commented on #45
will  take a look, I was about to add a couple of fixes in clonning.ts glad you told me this  - let's see....

[2018-05-23 04:58] punithnpg opened #334 "Error: Cannot read property 'kind' of undefined"
Getting this error
[code]
for the code:
[code]

[2018-05-27 06:15] lazarljubenovic commented on #304
I'm personally using `orThrow` variants so much I'd almost prefer them being the regular ones and the others `orNull`. :sweat_smile:

[2018-05-27 20:46] cancerberoSgx opened #335 "addStatements fails if containing block is only indented a portion of an indentation level"
I'm kind of short of time to investigate this further - so I just report it so I don't loose track of this: If you try to addStatement() to a target method/function/arrow that is already indented it will break:

[code]
calling addStatements on nonIndented function works nut on indentedF fails throwing this exceptino:

[code]

[2018-05-27 20:47] dsherret commented on #335
Thanks! I took a look and it's because the result of getting the indentation is 1.5. I didn't know it could be that. I'll fix code-block-writer to handle this situation.

[2018-05-28 01:40] #335 closed

[2018-05-28 01:43] dsherret commented on #335
Fixed in 11.2.1.

[2018-05-31 10:32] donaldpipowitch opened #336 "Calling `.remove()` removes comment which shouldn't be removed"
Hi there! This is my first try to use `ts-simple-ast`. We would like to convert certain interfaces to types. But in some cases "trailing" comments are removed and we don't know why.

Given the following example:

[code]

[code]

The output is this:

[code]

As you can see the comment `// foo` was removed. I wonder why? When I paste the same example to https://astexplorer.net/ with TypeScript selec

[2018-05-31 14:39] dsherret commented on #336
Hi @donaldpipowitch, yes this is a bug and thanks for reporting this! That comment is not [owned](https://github.com/Microsoft/TypeScript/wiki/Architectural-Overview#trivia) by the interface. In the beginning of this library comments were an afterthought so there are still a few areas like this that aren't correct.

[2018-05-31 22:29] cancerberoSgx commented on #45
Hello @dsherret  , I was trying to understand and implement something around getStructure() (starting with  MethodSignature) since I'm currently needing that, but I'm kind of blocked because of the following error I cannot understand. I'm pasting the stack when calling npm run package and npm test . These are the changes I did: https://github.com/cancerberoSgx/ts-simple-ast/commit/dc4a3a0af747c2dd

[2018-05-31 22:34] cancerberoSgx commented on #336
@dsherret  - just in case, this is the difference between ts.Node getText vs getFullText - and the same for other methods like getStart() getFullStart() getFullWidth(), etc - if internally the library use "Full" methods instead of non full then those trailing comments (tribia content as they call it) will be considered. - if not it will be discarded. My two cents.

[2018-05-31 23:26] dsherret commented on #336
@cancerberoSgx thanks, but no it's not related to that. I fixed a similar issue to this before so I'll have this fixed soon.

[2018-06-01 00:28] #336 closed

[2018-06-01 00:37] dsherret commented on #331
@cancerberoSgx yes, or copy everything except the imports and then write a script that analyzes the imports in both files and combines them accordingly.

Closing this. Please follow the progress in #45 or do something mentioned above.

[2018-06-01 00:37] dsherret commented on #336
Fixed in 11.2.2. Let me know if you run into any other issues.

[2018-06-01 00:50] dsherret commented on #333
Updated the documentation. Closing this issue.

[2018-06-01 01:41] dsherret commented on #327
Hi @vogloblinsky, very sorry... forgot to respond. I forget exactly what you're trying to do here, but calling `findReferences()` is a good way to use the language service to have a behaviour similar to "Find references" in an IDE. There's also `findReferencesAsNodes()` which will return the nodes that reference the definition (just released in latest minor... it will eventually deprecate `.getRef

[2018-06-01 01:55] dsherret commented on #45
@cancerberoSgx I left some comments on the code. Basically watch out for circular imports... I need to structure the code better in some scenarios.

Thanks again for working on this! 😄

[2018-06-01 08:10] vogloblinsky commented on #327
Thanks David, i will look that asap.

[2018-06-01 08:10] #327 closed

[2018-06-01 09:50] donaldpipowitch commented on #336
This is awesome. I'll test it. Thank you _very_ much for the quick fix.

[2018-06-01 21:58] cancerberoSgx commented on #45
@dsherret thank you a lot

[2018-06-02 03:03] dsherret opened #337 "Tasks for updating to TS 2.9"
- [x] Add new methods on type
- [x] Update DiagnosticWithLocation
- [x] Update DocumentSpan
- [x] Update DefinitionInfo
- [x] Add preferences to organizeImports

[2018-06-02 17:02] dsherret opened #338 "Easily get line number from diagnostic"
I was surprised this doesn't exist.

[2018-06-02 18:14] #337 closed

[2018-06-02 21:32] #338 closed

[2018-06-02 21:34] dsherret opened #339 "Add Directory.addExistingSourceFiles"
Similar to what is on Project, except allow doing this on a directory and make the globs relative from the directory.

[2018-06-03 18:07] dsherret commented on #304
@lazarljubenovic it might be nice in some scenarios, but it's good for people to prompted about something possibly being possibly null and then from there decide whether they want to handle it being null or do something else like throwing an exception.

[2018-06-03 18:07] #304 closed

[2018-06-05 01:58] cancerberoSgx commented on #45
Hello @dsherret - your suggestions did work and I was able to have something working. Now I have the following question since I feel I'm doing something wrong - or missing something. For ParameterDeclaration and in general concrete Node classes that use more than one mixins, I had to manually "join" all the structures. Seems that callBaseGetStructure won't do the job here. See

https://github.com/

[2018-06-05 22:26] cancerberoSgx opened #342 "remove PropertyAssignament from ObjectLiteralExpression"
Hello, before throwing myself to the water and implement it, I would like to know if there is some way of removing a `PropertyAssignament` from an `ObjectLiteralExpression`, example:

given an object literal `{name: 'seba', lastname: 'gurin'}`

and I want to remove property 'name' so the resulting object is `{lastname: 'gurin'}`

Thanks in advanced

[2018-06-05 22:34] dsherret commented on #342
Nope. Looks like that was never implemented (same for `ShorthandPropertyAssignment` and `SpreadAssignment`). It looks like that would be a good one to implement and add `.remove()` methods on them. Thanks for checking 😄

[2018-06-05 22:38] cancerberoSgx commented on #342
thanks! nice to know - will PR then.

Idea / suggestion - from my point of view (user manipulating the AST) exporting removeChildren() (/src/manipulation/manipulations/removal.ts) would give a lot of flexibility. I know is low level - and I know is one more signature to maintain backwards compatibility - but this would be very very useful for advanced users . These things could be exported in a "l

[2018-06-05 22:43] cancerberoSgx commented on #342
aside question - I feel like there should be a couple extra interfaces for this  kind of artificialities. For example, Removable (for this case), StructureFillable (fill), StructureGetable (getStructure)  (and a couple more that I can't remember now), Also typeguards for those would be nice. I wonder if you agree with this....

[2018-06-05 22:44] dsherret commented on #45
@cancerberoSgx In `ParameterDeclaration` you should just be able to do this:

[code]

That will work its way down the mixins getting the structure of each one because each mixin should call its base.

[2018-06-05 22:49] dsherret commented on #342
I'd rather implement it for the scenario and have people submit pull requests/report an issue when something's not implemented. That way everyone can benefit. Additionally, there can be a lot of edge cases and exposing `removeChildren` would just lead to people opening bug reports when it doesn't work the way they expect it to.

[2018-06-05 23:13] cancerberoSgx commented on #45
will try thanks! :)

[2018-06-06 01:14] cancerberoSgx commented on #342
https://github.com/dsherret/ts-simple-ast/pull/343

[2018-06-09 03:36] dsherret commented on #342
I missed a few things in the review so did a new commit. This should be good to go so I'm doing a release now.

[2018-06-09 03:36] #342 closed

[2018-06-09 04:00] cancerberoSgx commented on #281
regarding this, I think you are right - but take in account the semantics of getChildren and forEachChildren are different - even the returned structure is different, although you probably already know this.

Regarding performance, just in case read https://github.com/Microsoft/TypeScript/issues/23917#issuecomment-388176940
What that guy say to me, regarding performance, is to pass  the sourceFile

[2018-06-09 04:08] dsherret commented on #281
@cancerberoSgx yes, there's an option shown on https://ts-ast-viewer.com ("Tree mode") that shows the difference between the two.

The implementations in this library of methods that require a source file to be passed to them in the compiler API (`.getStart()`, `.getWidth()`, etc.) all pass the source file for you. For example:

[code]

One point about `.getChildren()` is that calling it requires

[2018-06-09 04:09] cancerberoSgx commented on #281
BTW I'm playing / learning to about vscode extensions and I'm making a AST outline view based on vscode TreeView and ts-simple-ast : https://marketplace.visualstudio.com/items?itemName=cancerberosgx.vscode-typescript-ast-outline

Have already working some stuff like remove node, rename node, and toggle AST mode. This last one clearly shows the difference between forEachChild and getChildren BTW.

[2018-06-09 04:12] cancerberoSgx commented on #281
Yes that previous issue link I shared with you is about that - it happened to me that getChildren was failing when climbing up the AST to find the sourcefile . The solution/workaround was or pass the sourcefile on the call or implement compilerHost.getSourceFile as shown in second comment. Thanks

[2018-06-09 04:15] dsherret commented on #281
@cancerberoSgx cool! That seems like a neat project. I hope it turns out well! 😃

[2018-06-09 10:34] nadavsinai opened #344 "PropertyAssignmentStructure name property does not allow for quoted strings"
Hey,

First of all thank you for this wonderful library. I find it very useful.

I was using ObjectLiteralExpression.addPropertyAssignment and tried to use a name wrapped in double quotes eg '"options"' (which is legal in JavaScript and allows for things such as reserved name properties such as '"class"' and dash joint words such as  '"some-others"', as well as necessary point to make an object va

[2018-06-09 13:56] cancerberoSgx opened #345 "ArrowFunction should be a FunctionLikeDeclaration to be consistent with typescript"
I don't see any reason why it we can easily add FunctionLikeDeclaration to ArrowFunction, am I missing something? This is typscript:

[code]

The main consequence I found because of this is that TypeGuard.isFunctionLikeDeclaration() will return false for ArrowFunction which is inconsistent with `function isFunctionLike(node: Node): node is SignatureDeclaration;`. If not possible, then perhaps can

[2018-06-09 14:30] dsherret commented on #345
Hi @cancerberoSgx, thanks for reporting this! I will take a look at this later because this is a breaking change and it requires some changing of where the mixins are placed.

For now, please continue to use `isSignaturedDeclaration`.

[2018-06-09 14:44] dsherret commented on #344
Hey @nadavsinai, there must be some kind of bug here, but I think it's probably the same as #334. I just committed some tests that pass when using single and double quotes for the name.

I never received word back in #334 about how to reproduce. Would you be able to provide a simple example that reproduces the bug? Thanks!

[2018-06-09 15:34] cancerberoSgx commented on #345
is not critical, more like a question I think - IMO you should take it as low priority and if you decide this should be tackled I would like to help you -  perhaps a little documentation note is enough to alleviate the problem...

[2018-06-09 21:02] #255 closed

[2018-06-10 16:46] dsherret commented on #247
Not going to bother doing this for now so closing. A few questions additional questions:

1. What should happen when the name being imported already exists?
2. What should happen if a namespace import exists for that node already?

I was thinking to do this, but not a fan:

[code]

I'm thinking it's better for people to implement this themselves.

[2018-06-10 16:46] #247 closed

[2018-06-10 16:54] dsherret commented on #55
Closing. Recommend doing the following:

[code]

Track the progress in #320 for improvements on setting the initializer.

[2018-06-10 16:54] #55 closed

[2018-06-10 17:19] #325 closed

[2018-06-14 03:07] dsherret opened #347 "Add .skip() and .up() method to forEachDescendant"
Right now, `forEachDescendant` looks like this:

[code]

It would be nice to add a `.skip()` function that skips looking at the descendants of only the current node and an `up` function that does the same, but also skips looking at the next siblings:

[code]

Inspired by: https://github.com/jamiebuilds/babel-handbook/blob/master/translations/en/plugin-handbook.md#stopping-traversal

[2018-06-19 10:30] crisbeto opened #348 "getSourceFiles returning multiple instances of the same file"
I'm sorry for the vague report, but this is part of a larger project and I haven't been able to isolate the issue. I have a setup that looks like this:

[code]

In the `console.log` at the end I get an array that has multiple instances of each file (for a 42-file project I get back 663 results), e.g. the array looks like `['foo.ts', 'bar.ts', 'foo.ts', 'bar.ts']`. A few notes:

* I'm confident tha

[2018-06-19 22:34] dsherret commented on #348
Hmmm that’s strange. Usually I’m really fast at fixing bugs, but unfortunately I’m moving this week so I’ll take a look sometime next week.

[2018-06-20 13:30] svallory opened #349 "Cannot find module './nodeToWrapperMappings'"
Hi, I'm trying to use v 12.4.0, but trying to import the package gives me this

[code]

[2018-06-20 15:40] svallory commented on #349
Looks like the filename was changed to `kindToWrapperMappings`

[2018-06-20 17:41] cancerberoSgx commented on #349
just out of curiosity, which npm / nodejs and typescript versions are you using  ? thanks

[2018-06-20 18:34] derolf opened #350 "Create object literal AST from JSON"
It would be nice to create a partial AST from a object literal tree.

This way, we could parse a JSON and directly emit a partial AST that represents the parsed JSON.

[2018-06-20 18:38] cancerberoSgx commented on #348
Hey @crisbeto , just out of curiosity, since I can't reproduce this, could you share the value of someFilePattern and more or less the structure of the current folder ? is it a TypeScript project ? does it have tsconfig.json and package.json files ? what happen if you run it using absolute glob from another folder ? What happens if you add a minimal compilerOptions  ? :
[code]
Thanks

[2018-06-20 18:42] cancerberoSgx commented on #350
Currently I'm working on providing node to structure support  (https://github.com/dsherret/ts-simple-ast/pull/346) . When that's finish and since 1) structures are data objects easily converted to JSON and 2) Nodes already support fill() from structure I think implementing this should be trivial. My two cents.

[2018-06-20 18:45] cancerberoSgx commented on #350
If you are in a hurry, I think you can accomplish it anyway with something like this : https://github.com/blakeembrey/javascript-stringify

If you security is a risk there are safe alternatives to eval() . my two cents.

[2018-06-20 18:50] derolf commented on #350
Yeah, that javascript-stringify looks nice, I can bake it into a string and fill an assignment with that stuff. Thanks!

[2018-06-20 18:52] cancerberoSgx commented on #350
if you try it tell us if it works or problems you had - I think it should handle circular dependencies OK but I never used - thanks!

[2018-06-20 19:34] cancerberoSgx opened #351 "Support node paths relative to its source file so I can query them later"
I would like to have a node path relative to its source file and ideally from any other node so I can locate it quickly later or have a mean of identification.  Before I take hands in the problem I would like to know if simple-ast already support something similar (didn't found anything) and author's opinion regarding if this is a good idea / should be in this library scope.

Motivation:

 * openi

[2018-06-20 21:07] svallory commented on #349
node v8.9.1
typescript 2.9.1

I modified `factories/index.js` to point do `nodeToWrapperMappings.js` and it worked

[2018-06-21 13:00] dsherret commented on #349
@svallory I think something went wrong with the install. Can you try deleting the `node_modules` folder and do a fresh install? I just looked at the source code and package and *index.js* is correctly pointing at *kindToWrapperMappings.ts*.

[2018-06-23 04:14] svallory commented on #349
@dsherret I have no idea how that happened. But indeed, I reinstalled the package and `factories/index.js` now has the correct code. I'm closing the issue.

[2018-06-23 04:14] #349 closed

[2018-06-29 10:50] dominique-mueller commented on #348
I am experiencing the same issue, suddenly 133 files become 135, two files are duplicate. Also, I can confirm that the workaround of selecting source files using `getSourceFiles( "**/*.ts" )` works.

[2018-06-30 07:55] GrandSchtroumpf opened #353 "Multiples Errors in main.d.ts"
Hi,
I would like to use `ts-simple-ast` in an Angular projet. When I serve my program with `ts-simple-ast` imported I've got a bunch (around 40) of errors in main.d.ts that make the compilation fails.
Like:
`node_modules/ts-simple-ast/dist/main.d.ts(3805,206): error TS1005: ';' expected.`
All the errors are in lines 3805 and 4433, and all about missing ";", "(" and ")".

[2018-07-01 14:45] GrandSchtroumpf opened #354 "fs module not available on the browser"
Hello,
I would like to use your module for a browser-based visual programing project. But I cannot use it because of "fs". Even if I use a custom file system wrapper my browser complains that "fs" is not available.
I investigate a bit and it's because you import "DefaultFileSystemHost" even in the case of custom FileSystem (with barrels for example).
Do you have any workaround for browsers ?

[2018-07-01 16:56] cancerberoSgx commented on #354
I'm on the same situation - wanted to test ts-simple-ast here : https://cancerberosgx.github.io/typescript-in-the-browser/typescript-compiler/ (just loading typescript.ts and implementing very basic LShost and CompilerHost) and also here https://cancerberosgx.github.io/typescript-in-the-browser/candombed/ (which uses monaco-editor typescript language service implementation but with no luck.

In th

[2018-07-01 23:12] dsherret commented on #353
@GrandSchtroumpf it's probably because I started using conditional types in the declarations. Are you able to upgrade your typescript version to 2.8+?

Kind of annoying, but if not then you could create a post install script to remove the conditional type information from the `main.d.ts` file until you have the chance to upgrade (using this library):

[code]

[2018-07-02 00:34] dsherret commented on #348
@crisbeto @dominique-mueller I didn't mean to close this just yet. Since I wasn't able to reproduce this could you see if the latest fix in 12.4.1 resolved this issue? Thanks!

Also, sorry for the delay. I finally got my desk setup last night.

[2018-07-02 00:36] dsherret commented on #344
I'm closing this as a duplicate of #334. I still don't know what causes this issue because I'm awaiting feedback on that issue.

[2018-07-02 00:36] #344 closed

[2018-07-02 00:37] dsherret commented on #334
@punithnpg any chance you could provide some code that reproduces the problem? I'm curious about this one. Thanks!

[2018-07-02 00:39] dsherret commented on #142
My opinion on this now is that this is too much work and too much code to maintain for probably marginal benefit. Closing.

[2018-07-02 00:39] #142 closed

[2018-07-02 02:39] #354 closed

[2018-07-02 02:45] dsherret commented on #354
@GrandSchtroumpf thanks for reporting this. I wasn't aware it wasn't working and should be fixed in 12.5.0. Just make sure to specify to use a virtual file system when creating the project:

[code]

@cancerberoSgx you can create your own `FileSystemHost` by implementing `FileSystemHost` on a class and then passing it into the constructor of `new Project({ /* options*/ }, specifyAnInstanceOfYourCla

[2018-07-02 03:04] dsherret commented on #351
@cancerberoSgx interesting idea! No, there's nothing like that in the library at the moment.

I think this feature would be a little bit complicated to implement, but maybe not too bad. It should probably work on the underlying TypeScript AST. I'm wondering if it may be better suited in its own library or part of tsquery though... (I'm not sure). What are your thoughts?

By the way, tsquery can be

[2018-07-02 03:28] dsherret commented on #156
I was recently reading/skimming a few chapters about comments from a book and it made me realize I don't do documentation comments well. I've made a few improvements, but this will be part of an ongoing effort to. I'll improve the comments over time. Closing this.

[2018-07-02 03:28] #156 closed

[2018-07-02 03:31] dsherret commented on #141
This is basically already done now in the methods. It's not worth using a temporary wrapped node for the delegates because people sometimes do crazy stuff in delegates:

[code]

[2018-07-02 03:31] #141 closed

[2018-07-02 09:20] dominique-mueller commented on #348
I did upgrade to `12.5.0` right away, and the issue no longer appears in my project! Thanks for the quick fix!

[2018-07-02 11:40] crisbeto commented on #348
I can also confirm that the issue is fixed. Thank you @dsherret!

[2018-07-02 11:40] #348 closed

[2018-07-03 13:37] dsherret opened #355 "Remove ability to get column and replace with getting character count from line start"
Silly mistake, but a column should be 1-indexed. For example:

[code]

This applies to `getColumnAtPos`, `getStartColumn` and `getEndColumn`.

[2018-07-04 01:18] dsherret commented on #355
Hmmm... I was looking in visual studio and noticed there's "col" and "ch"... looking it up: https://stackoverflow.com/questions/19226060/what-is-the-col-value-in-visual-studio-text-editor

So I have `getColumn-like` methods implemented completely wrong. I don't think it makes sense to have this function in ts-simple-ast because properly implemented it depends on how the character is displayed (ex.

[2018-07-04 01:28] #355 closed

[2018-07-05 15:11] joseph-whiting opened #356 "Setting isAbstract:true on a method still puts in a blank implementation"
When including a method in a declaration of abstract class, providing `isAbstract: true` still produces an empty implementation, like

[code]

instead it should not provide an implementation

[2018-07-05 17:50] dsherret commented on #356
Ah yes thanks! This was actually fixed by @cancerberoSgx in this PR https://github.com/dsherret/ts-simple-ast/pull/346/files#diff-9428f443549f69ecf41f4d9aeaa833daR31

@cancerberoSgx would you be willing to submit your fix to that as a separate PR? Otherwise I will fix this soon as I can.

[2018-07-06 01:06] #356 closed

[2018-07-06 01:08] dsherret commented on #356
Ok, this was too easy of a bug fix so I just fixed it now in 12.5.1.

[2018-07-09 14:34] lazarljubenovic opened #357 "Questions: check if type is assignable to other"
Need a bit of help here: how do I check if types assignable to one other?

Scenario 1: I have two nodes, I can get their types via `getType()`. How do I check if A is assignable to B and if B is assignable to A?

Scenario 2: I have one node, and I want to check if it's assignable to custom type that I will conclude based on a string (template in a framework). To give context, user does something l

[2018-07-09 14:43] dsherret commented on #357
Yeah, this would be very useful. We probably have to wait for this issue to be resolved in the TypeScript compiler API: https://github.com/Microsoft/TypeScript/issues/9879

In the meantime, you might have to roll with your own implementation :(

[2018-07-09 14:44] dsherret commented on #353
I'm closing this because I'm pretty confident the solution is what I described above. Please reopen if you have any issues.

[2018-07-09 14:44] #353 closed

[2018-07-09 14:51] lazarljubenovic commented on #357
Wow, I was almost sure there was something in the TS API for this. How crazy would it to be to print two types, create a project with a single file, try the assignment and then type check the file? Do you think it would work?

[2018-07-09 14:55] dsherret commented on #357
Haha! That would work. You could just create some temporary dummy file within your existing project then call `dummyFile.delete()` when you're done with it.

[2018-07-10 18:21] lazarljubenovic opened #358 "getDiagnostics throws when the filename does not have an extension"
Simple:

[code]

For stack trace check the details of the original issue below.

<details>
<summary>Original issue</summary>
Taking a stab at the silly #357, I'm getting an error.

# Idea

[code]

# Test

[code]

## Loaded file

[code]

# Stack trace

[code]

---

Sorry for vague description, I'll create a repro later if you need it.
</details>

[2018-07-10 18:31] dsherret commented on #358
Hi @lazarljubenovic,

There's definitely something going on here, but I wasn't able to reproduce when trying this:

[code]

Can you see something I'm missing in that?

[2018-07-10 18:33] lazarljubenovic commented on #358
Oh, wow. My filename did not have the `.ts` extension. That was it, changing `const FILENAME = '__a_stupid_way_to_type_check__'` to `const FILENAME = '__a_stupid_way_to_type_check__.ts'` fixed it.

[2018-07-10 18:54] dsherret commented on #358
I had a slight thought that might be the reason.

That would be nice, but right now the TypeScript compiler API doesn't error if supplying a file name without a `.ts` extension so I'd prefer to stick as close to its behaviour as possible. It would be better for the compiler API to not throw when calling `program.getSemanticDiagnostics(...)` on a file without an extension. It would be good for me t

[2018-07-10 19:00] lazarljubenovic commented on #358
Ah... TS internals are weird. Either way, thanks for helping.

[2018-07-11 02:53] cancerberoSgx commented on #358
@dsherret **seems** is not throwing:

[code]

You can copy&paste it in my playground and run it online:

https://typescript-api-playground.glitch.me/

[2018-07-11 03:13] dsherret commented on #358
@cancerberoSgx that code won't ever create a file because getSourceFile will always return undefined. This code shows the issue (btw, typescript-api-playground is sweet! Thanks for that!):

[code]

I noticed that the program in the compiler API will take file names without an extension and look for files like `no_extension.ts`, `no_extension.d.ts`, etc. from the compiler host.

[2018-07-12 01:58] cancerberoSgx commented on #358
aja ! nice thanks! I'm not 100% clear in pure TypeScript compiler API thanks for that tip

[2018-07-12 02:17] cancerberoSgx commented on #354
Wow! I miss this somehow. Testing it right now! Thanks! Awesome if this works!!! :=)

[2018-07-12 03:07] dsherret commented on #358
Me neither! 😄 I feel like I'm probably not doing something conventional here, but I'll look into it more later.

[2018-07-12 20:06] dsherret opened #359 "Manipulating nodes within forEachChild or forEachDescendant causes out of date nodes to be wrapped"
Obvious why this is happening, just have to find a solution:

[code]

Outputs:

[code]

[2018-07-12 21:16] cancerberoSgx commented on #359
Interesting couple of questions / thoughts:

do you think this is an issue that the library should tackle or should the user be responsible of first query all the nodes he wants to modify and modify them all together as suggested in the docs ? Thinking very roughly I don't see way of solving the problem besides visiting all source file's nodes and fix their ranges which could be very expensive. Wi

[2018-07-12 21:58] dsherret commented on #359
The node tracking between manipulations is one of the main features of this library and what makes it so easy to use.

For performance reasons, it's for this specific situation:

Anyway, this is a really easy fix. Will do it soon.

[2018-07-12 22:23] #359 closed

[2018-07-13 17:22] lazarljubenovic opened #362 "SyntaxList.insertChildText throws error when writing property"
# Repro

[code]

# Demo

https://runkit.com/lazarljubenovic/5b48dbd8c790e80012b9655c

---

In my original code I'm getting `Error: Error replacing tree! Perhaps a syntax error was inserted (Current: MethodDeclaration -- New: PropertyDeclaration).` but while trying to repro I've gotten the other one which I also don't understand so let's start from there.

It works if I add a comment `// p1 = 1`, s

[2018-07-13 17:31] dsherret commented on #362
@lazarljubenovic thanks for reporting. I'll look into this on the weekend.

I recommend using `classDeclaration.insertProperty` to insert a property.

[2018-07-13 17:34] lazarljubenovic commented on #362
Oh god, there's `getConstructor` included and everything... :heart_eyes: The disadvantage of this lib is that it's too awesome for its own good lol
Thanks!

[2018-07-13 17:37] dsherret commented on #362
Oh man, I know! I've wished there was a way I could tell the IDE how to prioritize what's shown in autocomplete. There's too many methods.

[2018-07-13 17:54] punithnpg commented on #334
@dsherret I changed the implementation of this to
[code]
and this worked well for me!

[2018-07-13 17:54] #334 closed

[2018-07-13 17:57] dsherret commented on #334
@punithnpg could you help me see the difference? Does the error happen when calling `.save()` on `project` instead of `sourceFile`?

It would still be nice to know what was going on here in case it arises again in the future. It was already reported before in #344.

[2018-07-13 18:43] punithnpg commented on #334
@dsherret Hi, I tried to replicate the same.  Couldn't produce the error on both save of project and save of sourceFile.

[2018-07-13 21:21] lazarljubenovic opened #363 "Methods like getFirstChildOrThrow should have typeguard overloads"
This should be possible to infer automatically, since `isBlock` is a type guard.

[code]

Right now, we have to explicitly cast it (with a simple `as Block` at the end).

[2018-07-13 21:51] cancerberoSgx commented on #362
@dsherret  that's a good idea for a TypeScript Language Service Plugin since autocomplete are handled by tsserver ! taking notes

[2018-07-13 22:48] lazarljubenovic commented on #362
That's exactly how it's done with WebStorm.

I just didn't even check and went straight for the [AST viewer](https://ts-ast-viewer.com/) where I've noticed the shape of what I'm working with. :sweat_smile:

[2018-07-14 02:37] #362 closed

[2018-07-14 02:45] dsherret commented on #362
This was because `const syntaxList = classDeclaration.getFirstDescendantByKindOrThrow(SyntaxKind.SyntaxList);` will return the first descendant syntax list, which in this case is the one for the modifiers.

![image](https://user-images.githubusercontent.com/1609021/42719999-98cf0f70-86ed-11e8-87c2-cd7e141d24ba.png)

The library was then accidentally inserting the text into what I call the "child s

[2018-07-14 02:54] dsherret commented on #363
True. Thanks!

[code]

I'll change this soon.

[2018-07-14 07:22] lazarljubenovic commented on #362
Ooh... In AST viewer I was using an example without `export` and completely missed the fact that I added it in the repro _and_ my code. :roll_eyes:

[2018-07-14 14:00] cancerberoSgx commented on #351
@dsherret Nice! - see it working : https://typescript-api-playground.glitch.me/#example=tsquery%20support%20for%20ts-simple-ast

I agree this should be implemented by tsquery or separate library - ts-simple-ast is a big project and adding more and more feature won't scale.

IMO adapting third party libraries based on native TS compiler API like tsquery is a common scenario. The fact that you neede

[2018-07-14 18:04] dsherret commented on #363
Hmm... on first try I can't seem to get it to work for both unless using an explicit type argument. I also can't use what I mentioned above because then it won't work for scenarios that don't determine the type.

[code]

Perhaps it's just better to use the kind in these scenarios? Not ideal though.

[code]

[2018-07-14 19:51] lazarljubenovic commented on #363
AFAIK, it's the order -- overloads are picked by the first-match strategy.

[2018-07-14 19:52] dsherret commented on #363
@lazarljubenovic thanks that works!

[2018-07-15 19:48] #363 closed

[2018-07-16 01:47] #339 closed

[2018-07-16 01:50] dsherret commented on #363
In 12.6.0.

[2018-07-16 20:03] gregjacobs opened #365 "Error while replacing identifier of a PropertyAccessExpression"
Hey @dsherret, long time no talk! How's it going?

I'm back doing ts transforms (yay!), but ran into an issue while trying to replace the object name (expression) in a PropertyAccessExpression.

I'm basically trying to convert `that.something` to `this.something`, but if the there are 4 chained PropertyAccessExpressions, I get an error. Try running this code:

[code]

I get the error: `Error: Erro

[2018-07-16 22:14] cancerberoSgx commented on #365
I think is an issue indeed. First of all I suggest you use rename() instead o replaceWithText(). Is safer, wont make the nodes obsolete and also it will rename all the references to that symbol in the whole project (just like TypeScript rename feature). Nevertheless rename() has the same problem.

Fortunately you can workaround it by renaming the Identifier definition node:

[play with the code](h

[2018-07-16 22:35] gregjacobs commented on #365
Interesting, I didn't realize there was a rename method. Thanks for that!

Although an interesting thing in this case might be that I'm "renaming" from an identifier node to a ThisKeyword node. Will that still work? (I haven't checked the code to see if there's a special case for the string "this")

And of course as you pointed out, the renaming still doesn't work on its own with this level of nes

[2018-07-16 23:32] #365 closed

[2018-07-16 23:42] dsherret commented on #365
Hey @gregjacobs! I've been doing well thanks. I hope you have been too. Nice to see you back, but sorry that it's because of a bug!

Thanks for reporting this. I've fixed it now in 12.6.1. Just use the return value of `replaceWithText` to get the new `ThisKeyword` as the previous `Identifier` will be forgotten.

[code]

[2018-07-17 01:00] gregjacobs commented on #365
@dsherret Thanks for the quick fix! Definitely good to be back - I really love this stuff and I missed it :)

Very good to know about the return value from `replaceWithText()` - didn't realize that it did that. Many thanks, and keep up the great work!

[2018-07-17 03:37] gregjacobs opened #366 "Issue when trying to set the question token on a function parameter with no explicit type"
Hey @dsherret. So my latest utility is to convert a js codebase to ts (and it's open source this time so you can actually see it! https://github.com/gregjacobs/js-to-ts-converter)

I'm basically trying to add the question token to function parameters that I know are optional, but I'm getting an error when trying to do so with parameters that don't yet have an explicit type. Take a look at this min

[2018-07-17 03:50] #366 closed

[2018-07-17 03:52] dsherret commented on #366
@gregjacobs you're correct! Thanks again for reporting this and sorry about that. Fixed and now published in 12.6.2.

[2018-07-17 03:54] dsherret commented on #366
By the way, that project sounds really cool. I will check it out tomorrow though... going to sleep now :)

[2018-07-17 03:56] gregjacobs commented on #366
Awesome, thanks! Much appreciated! Catch ya tomorrow :)

[2018-07-17 10:33] cancerberoSgx opened #368 "TypeGuards.hasName throws"
and is calling getName which in some situations could have negative impact on performance - typeguards should be lightweight:
[code]

[2018-07-17 13:13] dsherret opened #369 "FunctionDeclaration should have an optional name"
For the same reason that a class has an optional name the same should apply to a function declaration:

[code]

From #368.

[2018-07-17 13:16] dsherret commented on #368
Hi @cancerberoSgx, thanks for reporting this! The problem is that `FunctionDeclaration` is a `NamedNode` and not a `NameableNode`. I opened #368 and will do that one soon.

Also, it's calling `.getName()` to check if it has a name.

Anyway, this will be fixed in #368 so I'm going to close this issue and fix the root of the problem there.

[2018-07-17 13:16] #368 closed

[2018-07-17 15:04] lazarljubenovic commented on #368
@dsherret I legit thought I was drunk for a moment. (You meant to link to #369, just re-stating it for completeness :smile:)

[2018-07-17 15:09] dsherret commented on #368
@lazarljubenovic hah! Yeah, definitely meant #369. That was not supposed to be a self-referential supersession... though I wouldn't mind closing all issues that way :P

Thanks!

[2018-07-18 03:01] dsherret opened #370 "Add RenameableNode"
Based on #367.

[2018-07-18 08:33] gp187 opened #371 "typedoc error: expected ','"
_throws error when trying to generate documentation using typedoc_
Replicate:

*Install typedoc*
`npm i typedoc`

*Run typedoc*
`typedoc --out docs src/`

ERROR:
`Error: /project/super_project/node_modules/ts-simple-ast/dist/main.d.ts(4441)
 ',' expected.`

_Nothing else is special about the project. Even a brand new project same result_

[2018-07-18 14:34] dsherret commented on #371
What version of TypeDoc are you using? I bet it’s not using a version of TypeScript that will compile it (need conditional types—ts 2.9 probably is necessary)

[2018-07-18 17:34] #370 closed

[2018-07-18 19:53] #369 closed

[2018-07-19 00:18] #371 closed

[2018-07-20 00:47] #347 closed

[2018-07-20 15:59] gp187 commented on #175
`.getExportDeclarations()` doesn't return anything now
while `getExportedDeclarations()` returns correctly by `Node`s

[2018-07-20 18:47] dsherret commented on #175
@gp187 can you show an example of it not returning? The unit tests show it returning export declarations (ex. `export * from "./file"; export { somethingElse } from "./otherFile";`)

[2018-07-23 02:34] #207 closed

[2018-07-24 01:22] gregjacobs opened #373 "Adding a type to an optional parameter marked by a question token puts the question token in the wrong spot"
Hey @dsherret. Looks like I found another interesting one. Trying to add a type to an optional parameter marked by a question token seems to put the '?' token in the wrong place in the output code. Check out this reproduction:

[code]

Basically the original source code:

[code]

Gets changed into:

[code]

Where the correct output should be:

[code]

Best,
Greg

[2018-07-24 01:22] andreterron commented on #353
I was having this issue with the angular client, this is the postinstall script that worked for me, if anyone else runs into this:

[code]

and in the package.json:
[code]

[2018-07-24 01:51] #373 closed

[2018-07-24 01:53] dsherret commented on #373
As always, thanks for the excellent report @gregjacobs! Luckily for you I happened to be programming tonight so this is fixed now in 12.7.1.

[2018-07-24 01:55] gregjacobs commented on #373
@dsherret You're the man! Thanks so much for the fix, and so quickly! Much appreciated!

Best,
Greg

[2018-07-24 02:15] dsherret commented on #353
@andreterron awesome! Thanks so much for providing that!

[2018-07-24 02:46] gregjacobs opened #374 "Adding type to param of non-parenthesized arrow function throws error"
Now this one might be a bit of a challenge...

I tried to add a type annotation to a parameter of an arrow function where the arrow's single parameter is not surrounded by parenthesis:

[code]

Here's my reproduction of the error:

[code]

Which results in:

[code]

I think it may be ending up with this output text after the replacement:

[code]

Rather than:

[code]

[2018-07-24 02:48] dsherret commented on #374
Nice, I like this bug! It shows the benefit of the library and how it can abstract away these problems. I'll fix this tomorrow evening.

[2018-07-24 02:50] gregjacobs commented on #374
Hehe, sounds good! And yes, that is a good call and a huge benefit of ts-simple-ast!

Thanks for taking a look :)

[2018-07-24 03:49] andreterron commented on #353
Just as an FYI though, I wasn't able to get it running on the browser. I unfortunately decided to change my API for now, and run it server-side.

Here are the current errors I'm facing, for reference (I manually replaced the actual folder for the `{{project_folder}}`):

[code]

[2018-07-25 01:58] gregjacobs commented on #374
Very nice, thanks man! Nice implementation too :smile:

Appreciate it!

[2018-07-26 20:33] osyrisrblx opened #375 "ArrayBindingPattern not wrapped"
It would be useful to have for identifying destructuring statements/patterns.

[2018-07-26 22:21] osyrisrblx opened #376 "Cannot create new nodes"
Attempting to create a node gives the error:
```Error: Constructing a node is not supported. Please create a source file from the default export of the package and manipulate the source file from there.```

However, creating dummy nodes (not inserted into the AST) can be useful for passing into functions which operate on node data.

[2018-07-27 19:08] dsherret commented on #376
Hey @osyrisrblx, could you provide some example code that shows a use case of how this would be useful? Thanks!

[2018-07-28 00:16] osyrisrblx commented on #376
Might be better to explain my use case:

I'm working on a TypeScript -> Lua transpiler project.
Occasionally, I want to create a dummy node to pass into other functions. For example, I have the function "transpileConstructor" which takes a ConstructorDeclaration as an argument. However, some classes do not have constructors. For this case, it would be useful to pass in a blank constructor with a s

[2018-07-30 17:22] dsherret opened #377 "TypeScript 3.0 Support"
Add TS 3.0 support in version 13.

I was going to add this earlier, but ran into a problem with the build system.

Need to look through the changed definition file and do any changes.

[2018-07-30 20:35] igor-sky opened #378 "How to insert type export"
I have file called **index.d.ts**, want to add type export

[code]

 Actual:
`export = type Example = { a:number, has:boolean };`
 Expected
`export type Example = { a:number, has:boolean };`

[2018-07-30 20:49] dsherret commented on #378
Hey @igor-sky. Try exporting a type alias:

[code]

[2018-07-30 21:10] igor-sky commented on #378
@dsherret Thanks for a quick response, it works! :)
For some reason WebStorm did not show this method in autocompletion list.

[2018-08-01 13:06] SanthoshHari912 opened #379 "Query : How to add JSON object argument in a decorator"
Hi,
 I 'm using ts-simple-ast to generate an angular-component file. I wish to add the below decorator to the class declaration
[code]
If I use the below api, am not able to pass object as argument
 `classDeclaration.addDecorator({ name: "Component", arguments: [{ <json object here>}] });`

Any help is appreciated :-)
Thanks
Santhosh

[2018-08-02 01:42] dsherret opened #380 "Expose options to rename in comments and strings"
The `findRenameLocations` has the ability to rename in comments and strings. It would be nice to expose this:

[code]

[2018-08-02 02:30] dsherret opened #381 "getParent() should return the correct type"
For example, on `NamedExports` it should return `ExportDeclaration`.

Also, it should only be undefined on the source file.

[2018-08-02 11:10] SanthoshHari912 commented on #379
I have got it resolved by passing the object as string. It gets resolved as ObjectLiteralExpression in AST

[2018-08-02 13:58] dsherret commented on #379
Hi @SanthoshHari912, yes that's correct—you'll need to pass it as a string.

This is a similar problem to #320. I'll be looking at some better solutions than using a string in that issue.

[2018-08-02 14:46] lazarljubenovic opened #382 "About writing tests with functions returning AST objects"
**Is your feature request related to a problem? Please describe.**

Writing a test for a function which returns the following structure.

[code]

This is how I'm trying to test it.

[code]

(The function in question is `getDefinitionFromFile`).

The problem is, the internal structure of things change and messes up Jasmine's equality comparison:

![image](https://user-images.githubusercontent.com/7

[2018-08-02 14:51] lazarljubenovic commented on #382
Oooh boy I had

[code]

instead of

[code]

This is why so many things were different, it was a whole different project.

I guess this can be closed then... A question, though: the structures are guaranteed to remain the same as long as we only query the AST?

[2018-08-02 18:38] dsherret commented on #382
I recommend just comparing the node texts in the objects instead of the nodes themselves—so map those `RouteDefinition` objects to a new object that contains the node texts and not the nodes. When something is wrong, it's easy to tell what. Alternatively, once implemented, probably #45 would be useful for writing tests.

Each time after manipulating, the compiler API nodes that are created will be

[2018-08-02 19:15] lazarljubenovic commented on #382
Thanks!

[2018-08-02 19:15] #382 closed

[2018-08-06 18:49] dsherret commented on #377
Implemented in #383.

[2018-08-06 18:49] #377 closed

[2018-08-06 22:46] #345 closed

[2018-08-07 22:00] anurbol opened #384 "Question: what is the difference between "diagnostics" and "preEmitDiagnostics?""
Couldn't find the answer here: https://dsherret.github.io/ts-simple-ast/setup/diagnostics

In the link there are `project.getDiagnostics` and `project.getPreEmitDiagnostics`. They seem identical. Are there any hidden difference e.g. in performance?

[2018-08-07 23:17] anurbol commented on #384
BTW, thanks @dsherret this library saved my life. Default TS compiler API was pain.

[2018-08-08 11:23] SanthoshHari912 opened #385 "Question : How to create the AST for typescript file content passed as string"
I have an usecase where the ts file is in server and I get the string content of this. Is it possible to build an AST using the string content instead of the file path or tsconfig ?

[2018-08-08 11:47] lazarljubenovic commented on #385
I do this all the time in tests.

[code]

[2018-08-08 14:21] dsherret opened #386 "Deprecate project.getDiagnostics()"
Instead, favour `project.getPreEmitDiagnostics()`. This is based on #384.

Also, remove `.getPreEmitDiagnostics()` from program and add the other missing diagnostic methods.

[2018-08-08 15:09] anurbol commented on #384
Thank you for the response! Cool, I am glad I gave you idea on cleaning the library up. I ended up using
`getPreEmitDiagnostics()`. If I understand correctly, you will just deprecate the other method and add new methods to `Diagnostic` object item (of Diagnostic[], that is returned from `getPreEmitDiagnostics()`) so there would be no breaking change to API of `getPreEmitDiagnostics()` (I hope it w

[2018-08-09 00:39] dsherret commented on #385
Thanks @lazarljubenovic! That's exactly right. You can use the `createSourceFile` function on an instance of the default export—`Project`.

[2018-08-10 14:36] SanthoshHari912 commented on #385
Thanks a lot @lazarljubenovic  & @dsherret . It worked. My suggestion if this option can be mentioned in https://dsherret.github.io/ts-simple-ast/details/source-files it will be helpful.

[2018-08-10 18:47] dsherret opened #387 "Add link to adding source files to project on source files page"
Based on #385. Provide a link to https://dsherret.github.io/ts-simple-ast/setup/adding-source-files on https://dsherret.github.io/ts-simple-ast/details/source-files

[2018-08-10 18:47] dsherret commented on #385
@SanthoshHari912 thanks, that makes sense. I will provide a link there to https://dsherret.github.io/ts-simple-ast/setup/adding-source-files -- Opened #387.

[2018-08-11 17:33] cancerberoSgx commented on #376
@osyrisrblx just an idea, what about using structures instead of nodes? , i.e.   `aClass.addConstructor({bodyText: 'super()'})`

[2018-08-11 19:36] #387 closed

[2018-08-11 20:19] #386 closed, assigned to nobody

[2018-08-11 20:50] #358 closed

[2018-08-12 18:59] dsherret commented on #375
@osyrisrblx this will be in version 14. In the meantime, you can [fall back to using the compiler nodes](https://dsherret.github.io/ts-simple-ast/navigation/compiler-nodes), though the experience won't be so nice.

[2018-08-12 18:59] #375 closed

[2018-08-12 19:11] dsherret opened #388 "BindingElementNode should support name being a BindingName"
In the compiler api it possibly returns `Identifier | BindingName`, but so far I've only had it possibly returning `Identifier` and throwing an not implemented exception otherwise.

[2018-08-12 19:40] dsherret opened #389 "BindingElementNode - Support renaming to an identifier when name is a BindingName"
For example:

[code]

Renaming to `d` would do the following:

[code]

Same with `ArrayBindingPattern`.

[2018-08-12 19:44] #388 closed

[2018-08-12 20:38] #376 closed

[2018-08-13 10:09] lazarljubenovic opened #390 "getFirstAncestor with a lambda"
**Is your feature request related to a problem? Please describe.**

I need to get the enclosing method in a class -- but this could be a constructor as well. Looks like we're missing a way to provide a custom lambda for `getFirstAncestor`, as there is only `getFirstAncestorByKind` and `getFirstAncestorByKindOrThrow`.

**Describe the solution you'd like**

[code]

**Describe alternatives you've con

[2018-08-13 10:15] lazarljubenovic opened #391 "Special not-really-a-method name "constructor""
It's not really a bug (sorry for deviating from the template)... It's more of a conversation starter about thoughts on this.

Basically, when you do

[code]

it returns `undefined`. Which makes sense, because _technically_ (from AST POV) there's no method named `constructor`. I'm wondering, however, if people expect this to return the constructor, since you cannot have a method named `constructor`

[2018-08-13 14:16] dsherret commented on #391
Does it return the method declaration in this scenario? I don't think I've tested for this:

[code]

The other issue I see is that `.getMethod(...)` returns [`MethodDeclaration`s](https://github.com/dsherret/ts-simple-ast/blob/ce85b5b38660535282ff1236338c5462802d4fac/lib/ts-simple-ast.d.ts#L3436), while `getConstructors()` returns [`ConstructorDeclaration`s](https://github.com/dsherret/ts-simple-a

[2018-08-13 14:28] lazarljubenovic commented on #391
I had no idea you can define method names as strings :open_mouth: And yeah, the different type's somehow flown over me. Thanks for the response!

[2018-08-13 14:28] #391 closed

[2018-08-13 14:37] dsherret commented on #391
@lazarljubenovic no problem! It's good to explore these ideas.

Yeah, I've found out some things about the language I never knew was possible because of looking at the ast. I've never seen anyone define a method name with a string, but the support is there.

[2018-08-13 14:51] cancerberoSgx commented on #390
+1 and also for getDescendants (if it's not there yet). Ideally for all getters that might need refined filtering for example anInterface.getMethods() (signatures overrides have same name), getParameters, etc. @dsherret  Can I take this ? Also do you think the name should be getFirstAncestor or findAncestor ? What about filtering ( I don't think is important though since writing getDescendants().f

[2018-08-13 15:08] dsherret commented on #390
@cancerberoSgx I'm going to take a look. I need to re-evaluate the `getParentWhile` method. There's already a `.getFirstDescendant` method.

I definitely don't want to add it on everything because then the library becomes too bloated. This should be a case-by-case addition. For example, `.getParameters()` uses the `node.parameters` array already and there are lots of existing methods on an array t

[2018-08-14 01:18] cancerberoSgx commented on #390
I don't think I agree with that because I could be filtering using other information besides kind, for example, nodes with a certain Identifier text (name) - no matter its kind  - or am I missing something ?

[2018-08-14 08:09] SanthoshHari912 opened #392 "Question : Is there an option to add property value while adding property to class declaration"
Am using the below api to add a property to class
[code]

Am not able to specify value for the property. It will be nice if there is an option to  provide value.
I want to achieve the below usecase

[code]

[2018-08-14 08:47] lazarljubenovic commented on #392
The prop you're lookin for is called `initializer`.

[code]

[2018-08-14 08:48] SanthoshHari912 commented on #392
Thanks @lazarljubenovic . How do we update an exisiting property ?

[2018-08-14 08:53] lazarljubenovic commented on #390
Exactly. That's why I meant to remove "getters" which get only by syntax kind -- instead, always use a lambda -- and that lambda can be a type guard.

---

In the concrete example, my idea is to remove this type of call completely.

[code]

Instead, only provide a function which accepts a lambda and let me pass in any kind of predicate.

[code]

Or shorter:

[code]

Or shorter:

[code]

---

The p

[2018-08-14 08:58] lazarljubenovic commented on #392
First get the prop declaration with `getProperty` or similar.

[code]

Then use the method `fill` which accepts the same argument as `ClassDeclaration#addProperty` to change it.

[code]

[2018-08-14 08:58] SanthoshHari912 commented on #392
Thanks a lot :-)

[2018-08-14 11:49] cancerberoSgx commented on #390
@lazarljubenovic agreed, sorry I misunderstood your previous comment. IMO just the name "findAncestor" would be better than getFirstAncestorBy since Array.prototype.find returns the first item found and is the behavior people would expect for something named "find". Thanks!

[2018-08-14 11:54] lazarljubenovic commented on #390
Indeed, `find` sounds too. Didn't give the name much thought :smile:

[2018-08-14 13:56] dsherret commented on #392
Thanks @lazarljubenovic for answering this!

@SanthoshHari912 alternatively use `propDeclaration.setInitializer("newName")`.

[2018-08-16 23:08] dsherret commented on #351
I'm going to mark this one as out of scope for this library. It would be more beneficial for this to be implemented on the TypeScript compiler API's AST directly.

[2018-08-16 23:08] #351 closed

[2018-08-16 23:11] dsherret commented on #350
I believe #346 will cover this. Please reopen this issue if that's not the case.

[2018-08-16 23:11] #350 closed

[2018-08-16 23:20] #326 closed, assigned to nobody

[2018-08-16 23:22] dsherret opened #393 "Use DocumentRegistry when creating language service"
It looks like the memory usage and performance could be improved by using a `DocumentRegistry` and passing that to the source file. I'll investigate this.

Edit: This will be a huge improvement (way less parsing).

[2018-08-18 19:15] dsherret commented on #393
This should be a massive performance improvement in some scenarios.

[2018-08-18 19:15] #393 closed

[2018-08-18 20:59] dsherret commented on #381
Would have been difficult to do this without conditional types.

[2018-08-18 20:59] #381 closed

[2018-08-18 21:31] dsherret commented on #375
@osyrisrblx this is now released in v14.

[2018-08-19 12:10] rhys-vdw opened #394 "Inconsistent/incorrect file path case from getFilePath"
**Describe the bug**
Version: 13.0.0

Path returned by `SourceFile.getFilePath()` has incorrect case when retrieved via a `Type` -> `Symbol` -> `InterfaceDeclaration`, but not when retrieved via `Project#getSourceFiles`

Not sure if I'm doing something wrong, I'm very new to this library.

**To Reproduce**

[code]

**Expected behavior**

Paths are same as the file path, maintaining capitalization.

[2018-08-19 14:15] dsherret commented on #394
Hey @rhys-vdw, thanks for reporting this! I haven't been able to reproduce it in v13 though.

[code]

I also tried using a non-virtual file system on a linux machine, but no luck. Would you be able to provide a short example that reproduces it? Also, are you doing any manipulations in between?

Also, perhaps try to see if it still happens for you v14.0.1. I moved some functionality from the compil

[2018-08-19 14:37] dsherret commented on #189
@rhys-vdw Sorry that message is not so helpful. It's hard to make that scenario work because JS docs are actually children of the node they are above and that method is expecting to insert a statement (that is, a child of the source file in this case).

To fix that issue, change the code to use the JS doc insert/add methods on that node: https://dsherret.github.io/ts-simple-ast/details/documentati

[2018-08-19 23:48] rhys-vdw commented on #189
Ah right, I was trying to add a [module JSdoc](http://usejsdoc.org/tags-module.html), but perhaps that's not supported by TypeScript?

[2018-08-19 23:54] rhys-vdw commented on #394
Sure, I'll do my best. It may be a problem on my end (or an issue with MacOS maybe?), but I'm not sure what I could be doing to have this effect. The code above is the only stuff that's touching file paths.

[2018-08-20 01:34] dsherret opened #395 "Make the documentation page sections linkable"
Right now it's not possible to link to a specific part of the page.

[2018-08-20 01:35] dsherret commented on #189
Seems to not be. I was just trying it out here: https://ts-ast-viewer.com/

A way to work around this would be to do this:

[code]

But just make sure to do that last because it will forget any previously navigated descendant nodes. Read more [here](https://dsherret.github.io/ts-simple-ast/manipulation/).

[2018-08-20 03:16] rhys-vdw commented on #394
Yeah, sure. Sorry that I haven't trimmed it down, but if you're interested in having a look you can see the program [here](https://github.com/rhys-vdw/ts-auto-guard/tree/7635fcd280759b7f145b55fe09f6839c39daa985). The problematic line is [here](https://github.com/rhys-vdw/ts-auto-guard/blob/7635fcd280759b7f145b55fe09f6839c39daa985/src/index.ts#L212).

This is the input I used (two files in a `src`

[2018-08-20 03:32] dsherret commented on #394
Yeah, I was just thinking that. It's definitely related to that.

Thanks for the code! I can reproduce it on windows and I'll start diagnosing why this is happening soon. I have a feeling it might be in the compiler api though.

[2018-08-20 03:56] rhys-vdw commented on #394
Thanks, loving your library btw, it's made this project really easy. Open to any feedback on the code too if you see anything I'm doing wrong. I'm new to this.

[2018-08-20 13:03] couchcrew-thomas opened #396 "Documentation Update: How to use with webpack loaders?"
Is it possible to integrate this within a webpack build?
The ts-loader / awesome-typescript-loader support custom compilers, but this setting is explained nowhere.

If it is possible can you please document how to do it?

[2018-08-21 00:49] Gerrit0 commented on #395
I might be missing something, but this is already done, it just isn't immediately obvious as links aren't presented to the user. Example: https://dsherret.github.io/ts-simple-ast/details/classes#base-class

[2018-08-21 01:13] dsherret commented on #395
Oh cool. I didn't know that! I wonder if there's a way to make it automatically show those links on the page.

[2018-08-21 01:47] dsherret commented on #394
@rhys-vdw awesome! I'm glad it's working out for you. Also, that's a great idea for a library! It's a scenario this library is perfect for helping out with.

I'll take a deeper look sometime this week. This bug is lower priority than I initially thought.

[2018-08-21 02:17] rhys-vdw commented on #394
Absolutely. Me too. ;)

[2018-08-21 03:17] dsherret commented on #395
@Gerrit0 great idea! Would you be willing to do a PR? If not, I'll do this sometime later. Probably keep the styling/content looking the same (so add css for no link styling on the headers) and just nest the text within the header tags to be within an anchor element.

[2018-08-21 08:04] couchcrew-thomas commented on #396
Thanks for your reply. I was hoping it would support the same core API with an ability to add the ast manipulations.

I've already tried working with the transformation API, but its very cumbersome. E.g. I've managed to rename method declarations, but how to rename the calls of the same methods eludes me.

Are you using the transformation API as an entry point for your library or do you go a diffe

[2018-08-21 09:29] lazarljubenovic commented on #396
An idea which was wondering around my mind for some time, and could be
relevant now: Would a functional API be possible for this module? Could we
have something like a ts-simple-api/fp which just gives you helper
functions?

On Tue, Aug 21, 2018, 10:04 couchcrew-thomas <notifications@github.com>
wrote:

[2018-08-21 11:15] rhys-vdw opened #397 "Type.getProperties() throws TypeError"
**Describe the bug**
Version: 14.1.0

`Type.getProperties()` throws the following error:

[code]

**To Reproduce**

I've created [a repo that can reproduce the error](https://github.com/rhys-vdw/ts-simple-ast-test/blob/master/pick.ts) with full code to reproduce issue.

Run `yarn install && yarn run pick`.

Strangely it only fails if I set the config file which I copied from my other project.

Ess

[2018-08-21 13:55] dsherret commented on #397
Thanks a lot for the detailed instructions. I'll have this fixed when I get home from work. Looks like a case of the compiler api saying something will not be undefined, but it actually may be undefined.

Note to self: Need to also ensure these eagerly retrieved nodes from a symbol are memoized.

[2018-08-21 17:50] fenduru opened #398 "Questions: does this support incremental building"
I tried code digging a bit, but was unable to tell if this project will use the incremental building features of Typescript language service. For instance, if I call `project.createSourceFile('existingFile.ts', 'newContents', { overwrite: true })`, will this cause recompilation of all unchanged files? Or just the ones that are downstream of the changed file?

I'm really interested in trying to bui

[2018-08-21 23:44] rhys-vdw commented on #397
FYI when I use the config supplied by JS the `type.getText()` is `any`, when I use my config file it is `Pick<Foo, "a">` and the error occurs.

[2018-08-22 00:26] #395 closed

[2018-08-22 00:33] #397 closed

[2018-08-22 00:36] dsherret commented on #397
Fixed in 14.1.1 (just released).

The reason it's `any` when using the virtual file system is because the `lib.d.ts` files need to be loaded in manually to the virtual file system. Read here: https://dsherret.github.io/ts-simple-ast/setup/file-system#virtual-file-system

[2018-08-22 00:57] dsherret commented on #398
Hey @fenduru, yes, in version 14 it should now properly be using the incremental building features of the language service (assuming this is the way to do it: https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API#incremental-build-support-using-the-language-services). Previously it wasn't implemented properly.

Some additional notes:

* When calling `project.createSourceFile(...)` or

[2018-08-22 01:02] rhys-vdw commented on #397
Ah, thanks!

So, looking at [your change](https://github.com/dsherret/ts-simple-ast/commit/80787725318c88b9f83ef57b3ac1ee46f011af00#diff-0c07e6e27ea821fe6baab27fdd642bb2R109). Just out of interest, was this an upstream error?

How would one actually handle the properties of `Pick<Foo, "a">`? I'd like to treat it as if it were exactly this code:

[code]

[2018-08-22 01:40] dsherret opened #400 "Symbol - Add globalExports"
Not sure what the `globalExports` property is, but look into adding it.

[2018-08-22 01:51] dsherret commented on #397
Yeah it was because that property (`this.compilerSymbol.declarations`) was nullable when the compiler api's definitions say it won't be. I'm too lazy to create a simple reproducible example and report it to them at the moment though (it will probably be fixed sometime in the future anyway because they've been doing some analysis on where they do suspicious non-null assertions).

What do you mean b

[2018-08-22 02:11] rhys-vdw commented on #397
Oh, yeah. Awesome. It does do what I want. Misinterpreted the change. Think I'm close to finishing my lib now.

[2018-08-22 22:14] sajal50 opened #403 "Emit changes without saving to filesystem"
Is it possible to `emit()` changes without calling `project.save()`? `save()` commits all the changes to the filesystem. I wish to `emit()` without saving the changes to the filesystem.

[2018-08-22 22:22] fenduru opened #404 "List `typescript` as `devDependency`"
**Is your feature request related to a problem? Please describe.**

I'm trying to create build tooling for other teams at my company, however I would like each project to be in control of which version of typescript is used so we do not have to coordinate every project upgrading their typescript version at the same time.

**Describe the solution you'd like**

The simplest solution would be to remo

[2018-08-23 00:59] dsherret commented on #404
This library used to support a broad range of typescript compilers, but it turned out to be a nightmare. Libraries like `ts-loader` and others use a very small stable subset of the compiler API so it's easy for them to do that. This library, however, depends on a very large portion of the API and the specific functionality of the compiler its depending on (when upgrading typescript compiler versio

[2018-08-23 01:04] dsherret commented on #403
I see you found out.

For anyone else: it's actually a commonish question and the answer is yes. Just call `.emit()` without calling `.save()` 😃

[2018-08-23 01:14] fenduru commented on #404
Gotcha. Honestly I'm really only interested in the easier-to-use compiler API and was hoping to avoid needing to roll it myself. Looks like I'll be giving that a try :)

[2018-08-23 01:37] dsherret commented on #404
Yeah, you will get better performance for builds out of just using the compiler API, but it may be very complicated to do certain tasks. If you're only doing AST transformations then using the compiler API is not too bad.

By the way, in most scenarios you'll be able to get away with using this library to analyze/manipulate code written for a lower version of the compiler. There's not many breakin

[2018-08-23 04:46] fenduru commented on #404
Yeah, I'm really just trying to do typechecking/emitting without any sort of AST modifications. I have the language service emitting and whatnot, but as soon as the script I'm compiling uses something from node modules, it fails to find the types from package.json. I know this is not really a ts-simple-ast issue, but was wondering if you happen to know how to get package.json typings working when

[2018-08-23 13:45] sajal50 commented on #403
Yeah, that was my bad.
Thanks :smiley:

[2018-08-24 01:01] gregjacobs opened #405 "Error when renaming a file when @types exists"
Hey @dsherret. Looks like another interesting one for you. Getting an error when renaming a file. Check out this reproduction:

[code]

This script on its own does not produce an error. However, when the `@types/jquery` package is installed, it produces an error on the *second* file rename.

[code]

This is happening in v14.2.0, but actually didn't happen in v12.x.

Any ideas? :X :)

[2018-08-24 16:00] gregjacobs commented on #405
Btw this one took me quite a while to track down :) Was a stroke of luck that I figured out it was the typings!

[2018-08-25 00:07] dsherret commented on #405
Crazy! It's because of the memoizing I added on symbol. That must mean symbols are mutated by the compiler.

Thanks a lot for the reproduction steps and your comment about it only recently happening allowed me to quickly find the problem.

Fixed in 14.2.1.

[2018-08-25 00:07] #405 closed

[2018-08-25 00:18] gregjacobs commented on #405
Very interesting! It's too bad that the compiler mutates things behind the scenes. Wish it followed more of an immutable pattern.. Oh well!

Thanks for the quick fix!

[2018-08-25 03:24] dsherret opened #406 "Wrap ParenthesizedTypeNode"
Look into other similar types and wrap them too.

[2018-08-25 04:09] dsherret opened #407 "Add script to ensure all array inputs are ReadonlyArray"
To ensure this library is compatible with `ReadonlyArray`s, write a script that verifies all the inputs in the public declarations are `ReadonlyArray`s.

[2018-08-25 15:44] #406 closed

[2018-08-25 16:11] dsherret commented on #407
This is good enough for now.

[2018-08-25 16:11] #407 closed

[2018-08-25 16:37] dsherret commented on #390
Will be in the next release. I don't want to use `find` because it wouldn't be consistent with the rest of the library.

[2018-08-25 16:37] #390 closed

[2018-08-25 16:55] #380 closed

[2018-08-25 17:18] #307 closed

[2018-08-26 03:13] dsherret opened #408 "No blank line printed between abstract class and non-abstract class"
**Describe the bug**
Version: 14.3.0

When generating the declaration file, it did not include a blank line before the abstract class:

[code]

**Expected behavior**
Should have a blank line.

[2018-08-26 16:33] dsherret commented on #408
This is not a bug. When creating the declaration file I'm using a crude method to combine the files by essentially copying and pasting the text (so it's faster). I forgot how it worked, but there's nothing wrong with the printers.

[2018-08-26 16:33] #408 closed

[2018-08-26 16:50] dsherret commented on #404
Is that a problem when using ts-simple-ast or you're having when using the compiler API? If using the compiler API, there's probably something slightly wrong in the setup. I believe the compiler host passed in when creating the program will be called to search for the module.

Maybe try to copy the code here, but try without implementing the custom module resolution: https://github.com/Microsoft/T

[2018-08-26 16:50] #404 closed

[2018-08-26 16:52] dsherret commented on #281
Implemented in #307. Will update code as I see it.

[2018-08-26 16:52] #281 closed

[2018-08-26 17:05] dsherret opened #409 "Expose custom transformers when emitting"
Would be nice to do this:

[code]

[2018-08-26 17:38] #409 closed

[2018-08-26 18:29] dsherret commented on #126
Will be in the next version. For speed, this just plainly creates an object holding the text (without parsing it):

[code]

And if you want to manipulate before saving, then load the file texts into a new project and manipulate that before saving:

[code]

That said, for speed you may want to use the custom transformers instead. See #409.

[2018-08-26 18:29] #126 closed

[2018-08-26 23:09] ihorskyi opened #410 "getExportedDeclarations() throws exception if file is empty"
Version: 14.2.1

Error is:
[code]

**To Reproduce**
just call `typingsFile.getExportedDeclarations()` on empty file

**Expected behavior**
return empty array

[2018-08-27 00:48] #410 closed

[2018-08-27 00:57] dsherret commented on #410
Thanks for reporting this @ihorskyi! This is now fixed and available in 14.4.1.

By the way, that `.getExportedDeclarations()` is one of my favourite methods. Let me know if you run into any more problems with it.

[2018-08-27 12:13] rhys-vdw opened #411 "How to create a `Type` instance"
Hey, had a poke around in the source and couldn't work out how to do this. (Nor could I work out how to make the `typescript` `Node` class.)

This is what I'm trying to achieve:

[code]

I need to create a `Type` instance for the `undefined` instance. Am I going about this the right way? Is it possible? My best guess so far is to actually create a new source file with an undefined export and get i

[2018-08-27 14:49] dsherret commented on #411
Hey @rhys-vdw, when using the `strictNullChecks` compiler option, the type will include the undefined type:

[code]

There's no way to create types/nodes except from what's provided to you from the library (see #376). I recommend creating your own abstraction of a type and using an undefined version of that.

[2018-08-27 19:55] sajal50 opened #412 "Possible to change structure of source files in memory"
Is it possible to move/copy files around after `project.addExistingSourceFiles("*.ts");` in memory rather than committing to the file system and then build? Current `sourceFile.copyImmediately("foo.ts");` makes changes to the file system.

[2018-08-27 19:56] dsherret commented on #412
Yes, use `.copy` instead of `.copyImmediately`.

[2018-08-27 19:59] sajal50 commented on #412
And `.move()` is available as well?

[2018-08-27 20:00] dsherret commented on #412
Yup.

[2018-08-27 20:02] sajal50 commented on #412
Thanks for the quick reply! :smiley:

[2018-08-27 20:03] dsherret commented on #412
No problem! Let me know if you run into any issues or unexpected behaviour. The internals of that part of the library is extremely complex, but it should work well.

[2018-08-27 20:05] sajal50 commented on #412
Sure, will do!

[2018-08-27 21:37] sajal50 opened #413 "addExistingSourceFiles error"
**Describe the bug**
Version: 14.4.1

 When adding source files through `project.addExistingSourceFiles(["*.ts", "bar/*.ts"]);`, I get the following error -

[code]
It works fine when I do  `project.addExistingSourceFiles(["foo/*.ts", "bar/*.ts"]);`, or just `project.addExistingSourceFiles(["*.ts"]);`

**To Reproduce**

Set up a dir structure as

[code]

And then run `project.addExistingSourceFile

[2018-08-27 23:45] #413 closed

[2018-08-27 23:46] dsherret commented on #413
Thanks for reporting @sajal50! I had internally named a method incorrectly then used it according to its incorrect name (classic). Fixed and released in 14.4.2.

[2018-08-28 03:11] rhys-vdw commented on #411
Great, thanks for answering the question and also showing me that I didn't need to ask it. ;)

[2018-08-28 13:43] sajal50 commented on #413
Thank you, @dsherret, for the quick resolution!

[2018-08-29 21:42] csbenjamin commented on #148
I have tried the above code and got `Type 'VariableDeclaration' cannot be converted to type 'ObjectLiteralExpression'`. What am I missing? Also, I would like to create a ObjectLiteralExpression for later to use it as a initializer value. For now I am doing something like that:

[code]
How can I achieve that in a simpler way?

[2018-08-29 21:51] dsherret commented on #148
@csbenjamin whoops! Sorry, that should be `.setInitializer("{}").getInitializer()`. I forgot the return type of that.

It's only possible to modify source files with this library so using a temporary file that you create, get the text from, and then delete might be useful. Another way is to just do the code for the object literal expression yourself:

[code]

Sorry that this isn't so easy at the m

[2018-09-06 00:54] ihorskyi opened #414 "insertText() not working for namespace"
Version: 14.4.2

**index.d.ts** file contents:
[code]

Code I'm using to insert new interface into **global** namespace:

[code]

Expected: new interface to be inserted

Actual: Error thrown: _"Cannot insert or replace text outside the bounds of the node. Expected a position between [36, 41], but received 42."_

I also tried to use `globalNode.getEnd() -1` - it just gives different error.
FYI, jus

[2018-09-06 01:40] osyrisrblx opened #415 ""typeRoots" option is ignored"
In tsconfig.json, the compilerOptions.types option seems to be ignored by ts-simple-ast.

ts-simple-ast API doesn't seem to get any type info from .d.ts files outside of the source root directory when using "types" option.

[2018-09-06 18:03] ihorskyi commented on #414
I wonder if there any quick workaround? In my case I just need to add new interfaces to **global** namespace, but I have them as string like this:

[code]

I could use `globalNode.addInterface()` which works fine, but I need to
* Convert properties with types from that string to object
* Comments attached to each of those lines should be preserved

So may be there is a way to provide a string like

[2018-09-06 19:45] ihorskyi commented on #414
@dsherret `addStatements()` works perfect, thanks!
Just in case if I'll have to use `insertText()` anywhere else, how do I get correct position of namespace at the end of the block to add text to?

[2018-09-06 23:46] osyrisrblx commented on #415
@dsherret looks like if a .d.ts file is outside of the "rootDir", all of the defined types are picked up by ts-simple-ast as type "any".

Attempting to use `Type.getSymbol();` returns `undefined` as well.

VSCode's built-in TypeScript seems to understand the types just fine which makes me think it's a ts-simple-ast bug.

[2018-09-06 23:48] dsherret commented on #415
@osyrisrblx how are you specifying the `types` compiler option in ts-simple-ast? I'll take a look soon.

[2018-09-06 23:50] osyrisrblx commented on #415
@dsherret My tsconfig.json looks like this:
[code]

[2018-09-06 23:51] dsherret commented on #415
@osyrisrblx are you specifying to use the `tsconfig.json`?

[2018-09-06 23:53] osyrisrblx commented on #415
@dsherret Yes, I supply a path to it when I create a Project object.

You can find the code here if it helps:
https://github.com/roblox-ts/roblox-ts/blob/master/src/class/Compiler.ts#L22

FWIW, I've been able to read properties like `"baseUrl"` from `Project.getCompilerOptions()`.

[2018-09-06 23:54] dsherret commented on #415
@osyrisrblx ok thanks! Just making sure :)

[2018-09-06 23:58] dsherret commented on #414
@ihorskyi I just tried this out and you're right that this wasn't working properly! It should just be by doing -1 to go to the left of the close brace like you said.

It's a little difficult because you have to handle the spacing yourself:

[code]

That doesn't work right now, but it will be working in the next release.

[2018-09-06 23:58] #414 closed

[2018-09-07 03:04] dsherret commented on #414
Fixed in 14.4.3.

[2018-09-07 03:04] dsherret commented on #415
You will want to use the "typeRoots" option and not "types". Read more here: https://www.typescriptlang.org/docs/handbook/tsconfig-json.html#types-typeroots-and-types

There was a bug with "typeRoots" not working though. That's fixed now in 14.4.3.

[2018-09-07 03:04] #415 closed

[2018-09-08 00:09] ihorskyi opened #416 "This code causes unexpected behavior for 'getProperties()' & 'getFullText()'"
Version: 14.4.3

**To Reproduce**: Run code below

**Expected behavior**: described in code comments

[code]

[2018-09-08 00:33] dsherret commented on #416
@ihorskyi `props.length` returns 2 for me as expected. Are you sure that's the correct code?

Should be `"\nuuid: string"` and `" // .guid(version:uuidv4).trim()\nbit: 0 | 1"`. Note the result of `pos`, `end` and `getFullText()` on the `PropertySignature` nodes after pasting the code into this website: https://ts-ast-viewer.com

Additionally, `.replaceWithText()` will only replace from the positio

[2018-09-08 00:39] dsherret commented on #416
Hmmm... I'm just thinking that it should probably be doing `.getStart()` instead of `.getStart(true)` since `.getText()` only returns the text from `.getStart()` to `.getEnd()` (btw, it having the boolean parameter is copying what's done in the compiler api... I would never choose that).

[2018-09-08 00:40] dsherret opened #417 "replaceWithText should not replace jsdocs"
I'm thinking that `replaceWithText` should probably do `.getStart()` instead of `.getStart(true)`. The reason for this is because `.getText()` returns `.getStart()` to `.getEnd()` and there is no easy way to get the text from `.getStart(true)`.

[2018-09-08 01:48] dsherret opened #418 "Filling a Node - Arrays of structures should replace the existing nodes"
Once #46 is merged, filling a node like so:

[code]

...should remove all existing parameters. To keep the nodes, use `.addParameter`/`.addParameters` instead or provide the parameter structures:

[code]

[2018-09-08 05:12] osyrisrblx commented on #415
@dsherret Unfortunately, it looks like I 🎉'd prematurely. This bug is still occurring for me, and I made a small repro to demonstrate it with 14.4.3:

https://github.com/osyrisrblx/415-repro

[2018-09-08 14:30] dsherret commented on #415
@osyrisrblx I was looking into this and the `typeRoots` option is not relevant in that situation. For example, when the `typeRoots` option is removed it will still work. I think perhaps `tsc` is being a bit generous in what it includes, but I'm not sure why. Perhaps it includes all `.d.ts` files regardless of the `rootDir`.

`typeRoots` is supposed to work on packages like `@types` packages (see [

[2018-09-08 21:28] ihorskyi commented on #416
You right, `props.length` returns 2, just `console.log(prop.getFullText())` shows like there 3 lines instead of 2 because it parses it with additional `\n` and chopped up comment.

Thanks for suggestion about `prop.getText()`, it works well for my case :)

I also tried
[code]
but it says `error TS2554: Expected 0 arguments, but got 1.`

and seems that's expected b/c in `main.d.ts` it's declared as

[2018-09-08 21:34] dsherret commented on #416
Yeah, there's no `.getText(true)`. The `.getStart()`, `.getStart(true)`, `.getText()`, `.getFullText()`, and a few other methods just call those exact same methods on the nodes in the compiler api.

[2018-09-08 21:55] ihorskyi commented on #417
BTW, is there a way to add/replace jsdocs/comments using `ts-simple-ast`?

[2018-09-08 21:59] dsherret commented on #417
@ihorskyi yeah, nodes that can have jsdocs like properties, classes, etc. will have methods for adding or inserting them (ex. `addJsDoc(...)`, `insertJsDoc(...)`). To replace the comment within the jsdoc, use `jsDoc.setComment(...)`.

[2018-09-09 17:56] dsherret opened #419 "Make "Specific" structures internal in declaration file"
The "Specific" structures should be changed so they're not exported from the declaration file.

I believe that just means just not exporting them from the file, but if not it will be easy to just inline their use.

[2018-09-09 18:05] dsherret opened #420 "Setting enum as a default export should be done with a separate export assignment"
The AST of the following:

[code]

Is:

![image](https://user-images.githubusercontent.com/1609021/45267348-b0ab8880-b438-11e8-9283-7a0c510764be.png)

And so, when specifying that an enum is a default export, it should do the following:

[code]

Additionally, probably a similar thing should happen when an enum is filled as a default export from a structure.

[2018-09-09 18:08] dsherret commented on #418
With this change, I think it might be best to deprecate the `.fill` method and rename it to `.set`.

[2018-09-11 01:27] dsherret commented on #420
Same happens when exporting a variable declaration.

[2018-09-14 21:59] dsherret opened #421 "Adding a child to an empty namespace with dot notation in the name causes brace to be lost"
[code]

[2018-09-15 00:01] #421 closed

[2018-09-15 14:44] dsherret opened #422 "Analyze public api to find out what's not directly tested"
When adding the new `.getStructures()` methods, I've wanted to ensure every one of these has corresponding tests for that specific class. Code coverage doesn't help to spot unwritten tests because other code will often call `.getStructure()` on other nodes transitively in other tests.

This would be simple. Iterate over every public api method/property and see if it has a reference in the ~/src/te

[2018-09-15 22:02] #45 closed

[2018-09-15 22:46] dsherret commented on #422
This is pretty cool. 231 problems. I'll leave acting on these results for the future.

[2018-09-15 22:46] #422 closed

[2018-09-15 23:02] #419 closed

[2018-09-15 23:24] dsherret opened #423 "Add ability to get text with js docs"
Code would look like this:

[code]

Which patterns off what's done in the compiler api with `.getStart(true)`. I'm not a fan of these ambiguous boolean flags, but going to do it here for consistency.

[2018-09-15 23:29] #423 closed

[2018-09-16 01:17] #420 closed

[2018-09-16 20:01] #418 closed

[2018-09-16 20:12] dsherret commented on #46
Run `ts-node scripts/verification/main ensure-classes-implement-structure-methods` to see the remaining work on this issue.

[2018-09-17 14:47] dsherret opened #424 "UTF-8 bom causes incorrect indentation to be inserted"
A UTF-8 bom at the beginning of the file causes the incorrect indentation to be inserted.

[code]

Outputs: `﻿module*Test*{\n****export*enum*Test*{\n*********member*=*5\n********}\n}\` -- too many spaces after the new enum member.

[2018-09-18 01:33] dsherret opened #425 "ImportSpecifier/ExportSpecifier - Add renameAlias"
Instead of having `.setAlias` perhaps unexpectedly rename the alias, it would be better to add a separate `.renameAlias` method.

[2018-09-18 02:02] dsherret opened #426 "Reduce code duplication between Import and Export specifier"
A lot of the code could be moved out to a common mixin.

[2018-09-19 14:28] elclanrs opened #427 "How to make getKind() future-proof?"
Version: 14.4.5

I have the following expression:

[code]

Before I upgraded ts-simple-ast and typescript this used to work, and would get inlined as `152 === 152`.

After the latest upgrade this stopped working because now it inlines as `152 === 151`.

I think this is related to a mismatch between the version of TS this library uses VS what my own package.json version is.

How can I make this exp

[2018-09-19 16:48] Gerrit0 commented on #427
You should import everything from `ts-simple-ast`. I'm not on a PC right now but I'm pretty sure it exports the `SyntaxKind` enum that it uses.

There are also type guards `isPropertyDeclaration`

[2018-09-19 20:08] elclanrs commented on #427
Thank you! That's just what I needed.

[2018-09-22 18:08] #46 closed

[2018-09-22 18:48] #424 closed

[2018-09-22 18:49] dsherret commented on #424
Ryan pointed me in the right direction to help fix this one: https://github.com/Microsoft/TypeScript/issues/27191#issuecomment-423621491

[2018-09-22 22:06] dsherret opened #429 "IndexSignatureDeclaration - Return type should be nullable"
`.getReturnTypeNode()` of `IndexSignatureDeclaration` should be nullable to mirror the compiler api.

Edit: Not `.getKeyType()` because a key type is necessary for it to be parsed as an `IndexSignatureDeclaration`. Otherwise it's a `PropertySignature` with a computed name.

[2018-09-23 13:14] bigopon opened #430 "[Doc Request]: Add example how to find reference of a named import in a source file"
I tried to look for different parts of the documentation but failed to find the instruction how to find references of `Klass` in a source file, via following example:

[code]

Is there a way to find all 2 references to `Klass` ?

[2018-09-24 02:00] dsherret commented on #430
@bigopon do you mean something like this?

[code]

Read more on finding references [here](https://dsherret.github.io/ts-simple-ast/navigation/finding-references) and let me know if you have any ideas for how it can be improved.

[2018-09-24 02:13] bigopon commented on #430
It works if we control both source file. What I was asking is close to what you shown, but different.
1. Supposed we import something from an external module, we probably don't have the source file to include it in the project, so the above approach is not suitable I guess.
2. We already have `Klass` as "local variable" declared on top of the find, I was thinking maybe there is a way to find all r

[2018-09-24 02:41] dsherret opened #431 "SourceFile - Allow passing in a string to .getImportDeclaration and .getExportDeclaration"
Instead of this:

[code]

It would be nice to do this:

[code]

[2018-09-24 04:43] bigopon commented on #430
`1.` sounds good, I will need to try `2.`. For me, it's the lack of a way to find references of a local variable within a scope that I think the lib needs to tackle.

[2018-09-25 10:47] gp187 opened #432 "memory leak: getVariableStatements & getExportedDeclarations"
**Describe the bug**
Version: 15.1.0
Node: 10.9.0

**To Reproduce**

Loop `.ts` 10 files from a directory, read each one of them and run `getExportedDeclarations` on the `sourceFile`

**Expected behavior**

It returns correctly the resulting classes and `Nodes` but it takes so much RAM it often crashes node.

For looping 10 files I had to add `--max-old-space-size=8192` to make it work. And it tak

[2018-09-25 23:51] bigopon commented on #430
@dsherret Another reason to have this is the error resilience, when you specify wrong import name in consumer source file, but all local reference are right. It should work just fine without having to go back to find the class in declaration source file
[code]

[2018-09-27 19:40] maximelkin opened #433 "Rename variable which used for build object"
**Describe the bug**
Version: latest

Trying to rename variable which used to build object with shortand property acces
**To Reproduce**

const a = 2;
const b = {a};
// after rename a -> a_renamed
const a_renamed = 2;
const b = {a_renamed};
**Expected behavior**

// after rename a -> a_renamed
const a_renamed = 2;
const b = {a: a_renamed};

[2018-09-27 19:48] dsherret commented on #433
That makes sense, but it's what the TypeScript language service does. Same thing happens in my editor. See these two bugs: https://github.com/Microsoft/TypeScript/issues/15787 https://github.com/Microsoft/TypeScript/issues/16435

That said, I believe I could do some additional checks on the identifier and if it's a shorthand property access expression I can convert it to a property assignment.

[2018-09-27 20:12] maximelkin commented on #433
Can I try to solve this problems? (I fill another bug in separate issue)

[2018-09-27 20:16] maximelkin opened #434 "Rename property renames also destructuring declaration"
**Describe the bug**
Version: latest

**To Reproduce**
[code]
**Expected behavior**
change structure of b variable

[2018-09-27 20:24] dsherret opened #435 "Deferred memoize"
There are several parts of the code that will memoize on creation to prevent becoming out of date when a manipulation happens (ex. `.getNode()` on `DocumentSpan`). These should instead only memoize when a manipulation happens.

This would increase the performance for renaming.

[2018-09-27 20:30] dsherret commented on #433
I'm wondering if we should fix this or just wait for it to be fixed in the compiler api because it would impact the performance of `findReferences` since we'd have to traverse the tree for every result (it's already mistakenly doing that though and will be fixed in #435).

How do you feel about solving this problem in the compiler api rather than ts-simple-ast? That way more people will get the be

[2018-09-28 00:32] #435 closed

[2018-09-28 05:01] kitsonk opened #436 "NamespaceDeclaration should support import and export declarations"
**Is your feature request related to a problem? Please describe.**

Yes,`NamespaceDeclaration` can have import and export declarations, especially in an ambient context.  Currently it is only `SourceFile` that supports those.  For example the following is valid TypeScript:

[code]

But the `NamespaceDeclaration` does not have the API to add or access the import or export declaration nodes.

**Desc

[2018-09-28 13:41] dsherret commented on #436
Hey @kitsonk! Nice to see you here. Good point! I feel like I may have seen code like that a couple times, but I don't spend much time in ambient declaration land and it didn't occur to me to check that when implementing. I'm learning something new about the language all the time maintaining this library :)

I'll have a fix for this over the weekend.

[2018-09-28 17:02] dsherret commented on #434
Related to #433.

[2018-09-28 18:34] maximelkin commented on #434
No, it;s different problem
Bug not reproducing if `const {test} = b;` (removed type declaration for left side)

[2018-09-28 18:47] maximelkin opened #437 "findReferencesAsNodes undefined entry"
**Describe the bug**
Version: latest

findReferencesAsNodes for property which is used via ['prop'] syntax returns undefined for this place
**To Reproduce**

const f: {a: string} = {a: '23'};

f['a'];

**Expected behavior**

Not undefined

[2018-09-28 19:01] dsherret commented on #434
@maximelkin true, but still related.

I didn't look at this in detail until now, but I'm not sure this is a bug because that's not semantically correct typescript code (it has a compile error in it).

[2018-09-28 19:11] dsherret commented on #437
Thanks for reporting this! Bug on my side. I'll fix it this weekend.

[2018-09-28 19:16] maximelkin commented on #434
Sorry, redundant ''
[code]
After rename test in A test property of b not renamed

[2018-09-28 19:31] dsherret commented on #434
@maximelkin ah, ok. Sorry, didn't notice the string literal type (I'm focusing on a different task at the moment). Thanks!

Yeah, this will need to be fixed in the compiler API as well. Same behaviour happens to me in the editor.

[2018-09-28 21:46] kitsonk commented on #436
@dsherret cool... just to let you know too what I am using it for: denoland/deno#729 we need to generate a core library for deno that is a bit more user friendly than the code that generates it, as people will likely get their best view of how to use deno via its type library.  I found one other issue that I will open an issue for as well.

[2018-09-29 04:51] dsherret commented on #436
@kitsonk that's awesome and I'm excited to see that! I noticed a few weeks ago that you were contributing to deno when I was looking around the repo.

If I understand correctly (it's late here and I'm sleepy 😃), this library is perfect for what you're doing—I do something similar to generate the declaration files for this library. In addition, I [commit the declaration files into the repo](https:/

[2018-09-29 11:23] kitsonk opened #438 "Special global namespace does not parse properly"
**Describe the bug**
Version: 14.4.3

The special `global` module/namespace does not parse properly, and you cannot author it properly.

The following is valid TypeScript in an ambient context:

[code]

It is properly a module node, and `ts-simple-ast` parses it with the appropriate kind and assigns it a namespace declaration, but the methods on the node don't return as expected.

**To Reproduce**

[2018-09-29 16:31] dsherret opened #439 "Improve type guards to use extension type for mixins"
For example, the signature of the new `ModuledNode` is generated as the following:

[code]

`ModuledNode`s have the following extension type though:

[code]

Which means the type guard should be generated to include the extension type:

[code]

[2018-09-29 16:39] dsherret opened #440 "Split up internal "src/compiler" folder"
Right now `src/compiler` has nodes, types, symbols, and tools like the language service. It would be nice to split up this folder so these aren't all mixed together.

[2018-09-29 17:42] dsherret opened #441 "Make ExtensionType type aliases internal"
They should be changed from...

[code]

...to...

[code]

...in the declaration file. They're not necessary for use outside the library and only create noise in the named exports.

[2018-09-29 18:39] dsherret commented on #438
I'm thinking I'm going to make some breaking changes here to properly support this scenario. Let me know your thoughts.

This patterns off `VariableDeclarationKind`.

Deprecating:

* `.setHasNamespaceKeyword`
* `.setHasModuleKeyword`
* `hasModuleKeyword` and `hasNamespaceKeyword` in `NamespaceDeclarationStructure`

Will add enum:

[code]

Adding:

* `setDeclarationKind(kind: NamespaceDeclarationKi

[2018-09-29 20:26] #438 closed, assigned to nobody

[2018-09-29 20:35] #441 closed

[2018-09-29 21:06] dsherret commented on #437
Will be fixed in v16.

[2018-09-29 21:06] #437 closed

[2018-09-29 22:10] kitsonk commented on #438
That certainly would meet my requirements. 👍

[2018-09-30 00:05] #429 closed

[2018-09-30 00:31] dsherret commented on #438
@kitsonk cool. Everything is available now in 16.0.0. Let me know if you run into any problems.

[2018-09-30 00:36] dsherret opened #444 "Do not publish empty files"
Files that only have type information in them seem to be placed in the `dist` folder and published. They contain the following text:

[code]

I wish TypeScript wouldn't emit these files in the first place though.

[2018-09-30 17:29] dsherret opened #445 "Add moveToDirectory and similar methods"
Instead of doing:

[code]

It would be nice to be able to do:

[code]

Same with on `Directory` and with `copy`.

[2018-09-30 23:29] #440 closed

[2018-10-01 12:46] kyyash opened #446 "API to Update an array objects"
**Is your feature request related to a problem? Please describe.**

If I want to add one more entry to this Routes array, how do I do it with simple AST APIs.
const appRoutes: Routes = [{
  path: 'page_oua3w50nhrjmq0bb6r',
  component: Page_oua3w50nhrjmq0bb6rPage
}, {
  path: 'page_roxxmc4c62jmq0csgf',
  component: Page_roxxmc4c62jmq0csgfPage
}, {
  path: '',
  redirectTo: '/page_oua3w50nhrjmq0bb6

[2018-10-01 13:32] dsherret opened #447 "ArrayLiteralExpression - Add ability to add elements with writer"
As title. Seems like people can only pass in a string (except for `insertElements`—inconsistent).

[2018-10-01 13:33] dsherret commented on #446
Hey @kyyash, that's an `ArrayLiteralExpression` (paste code into https://ts-ast-viewer.com to see) and on `ArrayLiteralExpression` there are some methods for adding elements (see [here](https://github.com/dsherret/ts-simple-ast/blob/e2a8d2efec2e9c98ecadadb93fe08ad540709cc6/lib/ts-simple-ast.d.ts#L4988)).

That said, it seems I've missed the ability to use a writer to write the elements, which woul

[2018-10-01 15:32] vogloblinsky opened #448 "Analysis only version of ts-morph"
I tried to use ts-simple-ast in a project in a browser.
I convert it using browserify, and the generated file, minified, is around 4.5Mb.
This issue is here to discuss how we can achieve a lightest build, for example i didn't need the manipulation part of the library.

[2018-10-01 21:05] dsherret commented on #448
As discussed earlier, the idea here would be to see if it's worthwhile to produce an analysis only version of the library that only allows adding source files. This process would be automated from the existing library.

Right now on disk, ts-simple-ast itself seems to be 2.14MB unminified so I think the TypeScript compiler itself takes up most of that 4.5MB. Not sure if it's worth it to go through

[2018-10-01 23:07] dsherret opened #449 "Wrap ImportClause"
As title. Then find everywhere it's used in the code and update that.

[2018-10-03 15:09] elclanrs opened #450 "How to get non-qualified type text?"
I'm not sure what changed in my setup, perhaps a TypeScript upgrade, or a ts-simple-ast upgrade, but today I noticed that my script no longer works as intended, and when I get the text of the type of a class property I get an import path in front of it.

I wasn't able to find how to just get the non-qualified type. I must be missing something basic. Any help is appreciated.

This is my code:

[cod

[2018-10-03 15:20] Gerrit0 commented on #450
I believe this would have changed as of TS 2.9, when [import types](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-9.html) was introduced. Sorry - not sure how to get back to the original behavior...

[2018-10-03 15:27] elclanrs commented on #450
@dsherret Thank you for the quick response! I was about to do some string manipulation but this solution is perfect.

[2018-10-03 15:28] dsherret commented on #450
@elclanrs and thanks for asking! I was actually using string manipulation in some of my other code to get rid of it, but now I'll change that code to this 😄

[2018-10-04 07:03] maximelkin commented on #444
Importing empty file !== importing no file, because second will throw
If someone wants to make stub file for dynamic import - this logic can break his code
For example
[code]

[2018-10-04 13:58] dsherret commented on #444
@maximelkin not sure what you mean. This is regarding some published js files by this library. For example, [this file](https://github.com/dsherret/ts-simple-ast/blob/176825d03a866146231c5d4b1c589c9503a6e05f/src/structures/function/FunctionDeclarationStructure.ts) published looks has the output above. From my understanding, it's needless to publish them as part of the library.

[2018-10-04 17:59] maximelkin commented on #444
Oh, I misunderstood your issue, sorry

[2018-10-04 19:29] dsherret commented on #444
@maximelkin that's ok! I wasn't too clear in the description.

[2018-10-05 00:03] asingh3886 opened #451 "How to get method or function name if I know the expression used in it."
I got the list of all the expressions using below code.
sourceFile.getDescendantsOfKind(SyntaxKind.CallExpression)
How to get the name of method or function from above expression name. In other words, I wanted to know the parent of the expressions used in the method.

[2018-10-05 01:38] dsherret opened #452 "Should write type with queued child indentation"
See how this code does not indent properly:

[code]

[2018-10-05 13:38] dsherret commented on #451
Try something like the following:

[code]

Note that call expressions can have expressions that are not just identifiers (ex. `MyIdentifier`) or property access expressions (ex. `MyModule.MyIdentifier`). For example, the following is not handled by the code above: `someObj["someMethod"]()`

Btw, using https://ts-ast-viewer.com is useful to help understand this.

[2018-10-05 13:39] dsherret commented on #452
Marking this as breaking change because some people might be relying on this bug. I'll need to evaluate all the other places in the printers to see where it's not correctly using queued child indentation.

[2018-10-05 14:51] vip30 opened #453 "getReturnType().getText() is returning inline import"
Firstly, this repo is really good.
It fit my use cases but just one thing I can't figure out.

This is my target class file
[code]

This is my pseudo builder file
[code]

What I want to do is base on the class, to build a interface with some extra character in the method name

This is what I want
[code]

This is what I finally get
[code]

Sorry about putting a question on here as I don't know wher

[2018-10-05 15:30] dsherret commented on #453
Hey @vip30. Thanks! I'm glad it's working out for you.

Yeah, this is because of [import types](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-9.html) introduced in ts 2.9. So it's a compiler api behaviour of getting the type text.

Similarly to #450, it seems it's possible to remove this by passing in the enclosing node to `returnType.getText()`. See this example:

[code]

[2018-10-05 23:38] dsherret opened #454 "Wrap NamespaceImport"
As title.

Then find where it's used in the code and update those places to use the wrapped node.

[2018-10-06 00:22] dsherret opened #455 "getExportedDeclarations() - Behaviour when exporting a namespace import?"
Currently if doing the following:

[code]

And then calling `.getExportedDeclarations()` it will return the `NamespaceImport` (`* as myImport`). This was done mostly by accident because I didn't think about this scenario.

Is this ok? Or should it just return the Identifier of `myImport` or perhaps do something else?

[2018-10-06 18:19] dsherret commented on #453
Closing. Let me know if you find a better way of doing this or you have any more questions.

[2018-10-06 18:57] #445 closed

[2018-10-06 19:19] #454 closed

[2018-10-06 20:35] #447 closed

[2018-10-06 20:48] dsherret commented on #400
Seems like it's used for `NamespaceExportDeclarations`, which I am not too familiar with:

[code]

https://github.com/Microsoft/TypeScript/wiki/What's-new-in-TypeScript#support-for-umd-module-definitions

[2018-10-06 20:55] #400 closed

[2018-10-07 04:30] calebeby opened #457 "Question: How to get the type of an interface property"
Say I had this code that I wanted to analyze:

[code]

How would I get a `Type` for each property?

I have tried using `Type.getProperties()` in order to retrieve the types of the properties, but I am given `Symbol`s, with which I am unsure how to get a type from.

[code]

How would this be possible? I couldn't find this in the documentation (maybe I'd be willing to make a PR to the docs for if yo

[2018-10-07 09:28] kyyash commented on #446
@dsherret  It was helpful. Thank you.

[2018-10-07 13:41] kyyash opened #458 "Unable to append statements to a function"
**Describe the bug**
Version: X.X.X

Unable to append statements to a function.
**To Reproduce**

Add a statement to MethodDeclaration, works for first time but we try to append one more statement with add statement method or insert statement method, I get,
doManipulation.js:11 Uncaught Error: Cannot read property 'compilerNode' of undefined
Text: "...t() {\r\n  }\r\n  /*functions*/\r\n  handleMet

[2018-10-07 13:48] dsherret commented on #458
Hey, could you add some code that reproduces the problem? I may be able to figure it out as-is, but reproduction code would help. Thanks!

[2018-10-07 13:58] kyyash commented on #458
let methodDeclaration = classDeclaration.getMethod(functionName);
					let statementArray=<Statement[]>methodDeclaration.getStatements();
					methodDeclaration.insertStatements(statementArray.length,bodyText);

this adds the console log for the first execution, if these statements execute again on the same ast model,

i get this stack trace,

typescript.parser.ts:422 Error: Cannot read property '

[2018-10-07 20:30] dsherret commented on #153
This will be a lot easier in the next post-16.0.x versions. You will be able to insert named exports and imports using a writer:

[code]

That's probably the best it's going to get. If you use that a lot, then I recommend extracting out the writing to a reusable function within your own code like so:

[code]

[2018-10-07 20:56] dsherret commented on #457
Interesting. Seems like `getDeclaredTypeOfSymbol` is defined this way in the compiler api, so it will always return `any` for properties:

[code]

You could do the following, though I'm not sure if it's the right way of doing things:

[code]

Alternatively, stick with the interface declaration and iterate over its properties in the ast:

[code]

Also, thanks! I'm glad it's working out for you. As

[2018-10-07 21:02] dsherret commented on #458
@kyyash could you modify this code until the problem happens?

[code]

In that error message, the code in there like `/functions/\r\n` seems very suspect. Why are there regular expression literals like that in the code?

[2018-10-07 21:07] calebeby commented on #457
Ok... I think this will present another problem:

Say I want to loop over the properties of a mapped type:

[code]

Now I can't get the value declaration because it is not explicitly created...

I had some luck in getting a type using this:

[code]

(which seems to not be documented, and also returns a TS type rather than a wapped type)

[2018-10-07 21:32] dsherret commented on #457
Yeah, the `compilerSymbol` is the symbol from the compiler api so it will only have compiler api objects on it.

`ts.Symbol` in the compiler API doesn't have that property as part of the public api so it can't be relied on:

[code]

Try this out. I've found the following code works:

[code]

[2018-10-07 23:12] calebeby commented on #457
Awesome, that worked, thanks!

[2018-10-07 23:27] dsherret opened #459 "Manipulation Error Messages - Do a text diff with colours"
This was prompted by #458. It would be best to show a text diff of what changed when an error happens. It should use red for removed text and green for added.

Additionally, messages like "Error replacing tree! Perhaps a syntax error was inserted (Current: JSDocComment -- New: FunctionKeyword)." should list the start positions of both the nodes.

[2018-10-08 04:39] kitsonk opened #460 "setHasDeclareKeyword does not work on all ambientable nodes"
**Describe the bug**
Version: 16.0.2

The `.setHasDeclareKeyword()` does not work on all "decarable"/ambientable nodes.

**To Reproduce**

A full reproduction repo is available here: https://github.com/kitsonk/ts-simple-ast-bug

Given the following input in **example.d.ts**:

[code]

And operating on it with the following code:

[code]

Will output the following:

[code]

Where both the type alias

[2018-10-08 04:49] #460 closed

[2018-10-08 04:53] kitsonk commented on #460
Awesome! 👍 I should have looked at the code... 😁

[2018-10-08 04:54] dsherret commented on #460
@kitsonk usually I would take the safe side and consider this kind of bug fix a breaking change, but this was a decision I made probably in the first few days when starting the library that makes no sense. I'm surprised it's been around this long. This is fixed and released in 16.0.3. Thanks for reporting!

[2018-10-08 04:54] dsherret commented on #460
Yeah me too haha

[2018-10-08 05:06] kyyash commented on #458
Here is the function code that changes step by step after manipulation,
1. initial state
  /*functions*/
  handleEvents(event) {
  /*events*/
  }

2. After invoking addStatements or insertStatement API using MethodDeclaration,
  /*functions*/
  handleEvents(event) {
      if(event.eventType === "UPDATE_CHART"){this.inputCtrlext_charte1bz6m77qojmztz4pb=event.payload;}
  /*events*/
  }
3. After invo

[2018-10-08 05:11] dsherret commented on #458
@kyyash why does the code have the regular expression literals in the middle of it (ex. `/events/`)? Are you meaning to use comments? That's not syntactically correct js/ts code. For example, look at this AST:

![image](https://user-images.githubusercontent.com/1609021/46593093-db6c1980-ca96-11e8-93fc-6049d31d3361.png)

[2018-10-08 05:30] dsherret commented on #458
@kyyash oh ok. Code blocks are helpful to use on github. There might be some useful information that was stripped from your previous posts: https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code-and-syntax-highlighting

I will see if I can reproduce this sometime this week, but a reproducible example using the code I previously posted in [this comment](https://github.com/dsherret/ts

[2018-10-11 00:38] #452 closed

[2018-10-11 00:39] dsherret commented on #452
Fixed in #461.

[2018-10-11 11:39] no-more opened #462 "Question: get recursively extended class names"
Hello,

First of all this project is amazing ! Thanks a lot.

I'm building a tool that loads several projects, in those projects I need to identify which file contains a class that extends a named class "MyRootClass", directly or indirectly(through one or more intermediate classes).
For example I have in project A
[code]
in a project B I have
[code]
I want to be able to detect that class B extends

[2018-10-12 02:47] dsherret opened #463 "Add cron job to test TypeScript release candidate"
Would be simple to do. Just needs to yarn install the latest rc version as an alias (similar to the ones currently in the package.json file) and then run the `yarn run test-ts-versions` or whatever it's called.

This shouldn't use typescript@next because I've found that to be too unstable.

[2018-10-13 17:15] dsherret commented on #458
@kyyash I'm not able to reproduce so I'll need a reproducible example in order to fix this. Please use [github code blocks](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code-and-syntax-highlighting). Here's a template to help start from (please modify this code until the problem happens so that I am able to reproduce the problem):

[code]

Note: That does reproduce the same bug

[2018-10-13 17:27] dsherret commented on #462
@no-more sorry for the long response.

Generally, if they are in the same project, this can be done by using `.getDerivedClasses()`:

https://dsherret.github.io/ts-simple-ast/details/classes#derived-classes

[code]

...or alternatively, recursively calling `.getBaseClass()` on classes like `B` to see if they inherit from `MyRootClass`, but I think that will be a lot slower than the above (I haven'

[2018-10-13 17:37] terotests opened #464 "Possible string / number literal printing bug"
**Literals not printed with printNode**
Version: 5.6.0

function printNode does not print string literals like "hello" or number literals like 555
**To Reproduce**

[code]

**Expected behavior**

Should print the function code
[code]
currently prints
[code]

[2018-10-13 17:45] terotests commented on #464
Tested with 17.0.0 with same results.

[2018-10-13 17:46] dsherret commented on #464
Weird. I guess the printer can't figure out the literal text. You'll need to pass in the source file:

[code]

Or call `.print()` on the node itself, which will handle that for you:

[code]

[2018-10-13 17:47] terotests commented on #464
Ok, thanks a million! I will try that 👍

[2018-10-13 17:48] dsherret commented on #464
What I could do here is check if the node has parents. If it does I can work up the tree to find the source file. I'll go ahead and do that.

[2018-10-13 17:53] dsherret commented on #464
Oh wait, there's definitely a problem here with `printNode`. Passing in the source file is a temporary workaround though. Thanks for reporting!

[2018-10-13 18:48] dsherret commented on #455
Closing. Will reopen in case anyone has any objections.

[2018-10-13 18:48] #455 closed

[2018-10-13 19:42] dsherret commented on #432
@gp187 I'm not sure if this is a memory leak. Perhaps it is just using a lot of memory?

Here's an example script that I believe should demonstrate a memory leak, but I'm not seeing one. All the numbers are holding fairly stable:

[code]

Honestly, I'm not that experienced running memory profiles in node.js/javascript (I am only used to doing it with c# and there are some pretty good tools there t

[2018-10-13 20:46] dsherret commented on #148
Added `WriterHelpers` class for doing this:

[code]

Outputs:

[code]

I'm not going to go with specific methods for doing this because it should be sufficient to use the writer function.

[2018-10-13 20:47] dsherret commented on #320
Added `WriterHelpers` class for doing this:

[code]

Outputs:

[code]

I'm not going to go with specific methods for doing this because it should be sufficient to use the writer function.

[2018-10-13 20:47] #320 closed

[2018-10-14 20:02] #444 closed

[2018-10-14 20:53] dsherret commented on #430
There is now a `const moduleSymbol = project.getAmbientModule("module-name")` method (https://dsherret.github.io/ts-simple-ast/navigation/ambient-modules). From that symbol, the source file or source files can be found.

By the way, it should be possible to do the following:

[code]

[2018-10-14 21:09] dsherret commented on #396
I don't believe the transformation api has the language service/symbols available so it would be difficult to figure out how to rename everything at that point.

No, I'm not using the transformation API anywhere in the library.

@lazarljubenovic I think using and developing on something like https://github.com/ajafff/tsutils would be more appropriate for that?

Anyway, closing this issue. The way

[2018-10-15 10:43] no-more commented on #462
Thanks for you response,

I'll try this later this week and tell you if it's working as expected.

[2018-10-15 23:29] dsherret commented on #332
I can't remember the reason for this. Right now people can use the `addStatements` method.

[2018-10-15 23:29] #332 closed

[2018-10-15 23:33] #235 closed

[2018-10-16 01:16] dsherret opened #465 "Add trim trailing whitespace option to FormatCodeSettings"
From #155. It would be useful to add a `trimTrailingWhitespace` option to `FormatCodeSettings`.

[2018-10-16 01:19] dsherret commented on #155
Not going to add support for this. I recommend people parse editor config files themselves and then pass the options into the [manipulation settings](https://dsherret.github.io/ts-simple-ast/manipulation/settings). I will be adding a `trimTrailingWhitespace` option to `FormatCodeSettings` (ex. `sourceFile.formatText({ trimTrailingWhitespace: true })`) in #465 (a `ensureNewLineAtEndOfFile` already

[2018-10-16 01:19] #155 closed

[2018-10-16 01:27] dsherret commented on #465
Looks like I can't do this because the TypeScript compiler will always trim trailing whitespace (so no way to turn it off).

[2018-10-16 01:27] #465 closed

[2018-10-16 01:29] #139 closed

[2018-10-17 16:05] dsherret commented on #432
Closing. Please reopen if I'm mistaken and this actually is a memory leak.

[2018-10-17 16:05] #432 closed

[2018-10-20 16:13] dsherret opened #466 "Add SourceFile and Directory.remove()"
Right now there is a `project.removeSourceFile(sourceFile)`, but it would be nice to just have a `.remove()` method on source file and one on directory in order to easily remove remove an entire directory from the project.

[2018-10-20 16:18] dsherret opened #467 "Wrap ClassExpression"
Right now there's not any support for class expressions, but I need to wrap them in order to implement #448.

[2018-10-20 16:20] dsherret opened #468 "Removing MethodDeclarations should not assume it's in a class"
[code]

[2018-10-20 16:31] #468 closed

[2018-10-21 21:29] dsherret commented on #466
There already exists a `.forget()` method that does this and `.forget()` makes more sense.

[2018-10-21 21:29] #466 closed

[2018-10-21 22:06] dsherret opened #469 "ClassDeclaration - Add "Extract Interface""
It would be useful to be able to extract an interface structure from a class declaration.

Probably something like this:

[code]

[2018-10-23 02:51] dsherret opened #470 "Add ability to get text without leading indentation"
Right now it's possible to get the text without the leading indentation from the structure:

[code]

...but this should be exposed some other way. Perhaps `namespaceDec.getBody().getText({ trimLeadingIndentation: true });` but that's kind of verbose though...

[2018-10-23 02:57] dsherret opened #471 "Easier way to format all diagnostics with color and context"
Right now, diagnostics can be formatted with the following code (assuming not using a virtual file system and wanting the OS's newlines):

[code]

It might be better to instead have the following:

[code]

[2018-10-23 03:54] dsherret commented on #470
Actually, this could probably be a function called `.getBodyText()` that exists on `ModuleBlock` (need to wrap that), `BodiedNode`, and `BodyableNode`.

[2018-10-23 04:01] dsherret opened #472 "Add getBodyText()"
Related to #470.

Add a method called `.getBodyText()` that exists on `ModuleBlock` (need to wrap that), `BodiedNode`, and `BodyableNode`.

[2018-10-24 02:54] #472 closed

[2018-10-24 07:37] elclanrs commented on #450
This broke again in my project and that workaround is not working anymore as it is showing the full qualified import again.

Can anybody confirm that this is the case? I'm running ts-simple-ast@17.1.1 and typescript@2.9.2

If this is the case, is string manipulation the only way around it?

[2018-10-24 16:35] dsherret commented on #450
@elclanrs what typescript compiler api version are you using?

Run this to check:

[code]

[2018-10-24 16:40] dsherret commented on #450
@elclanrs I tested this with ts 3.0.1, 3.0.3, 3.1.1, and 3.1.3 and it worked fine. Could you provide some reproduction steps and let me know what compiler version it's using?

[code]

[2018-10-24 16:42] dsherret opened #473 "MethodDeclaration should extend QuestionTokenableNode"
As title. In ambient contexts it could have a question token.

[2018-10-24 16:55] elclanrs commented on #450
Damn, it is working in isolation, but not in my project. I even went back to the exact commit where I made the change, removed node_modules and reinstalled all the dependencies, and still doesn't work. It is so weird because there haven't been any changes to the script ever since that change nor any updates to ts-simple-ast or TypeScript.

I'm going to need more time to test this to try to find wh

[2018-10-24 17:19] dsherret commented on #450
That is strange! I'm not too familiar with this part of the typescript compiler API. Maybe I'll ask someone on the ts team what the proper thing is to do here, but for now you may want to resort to just manipulating the string :/

[2018-10-24 17:28] dsherret commented on #473
It seems this is on `FunctionLikeDeclaration` in the compiler API, but the compiler doesn't parse the question token for the other nodes... this only seems to work on `MethodDeclaration` so only going to put this on there for now.

[2018-10-24 17:35] #473 closed

[2018-10-24 23:41] cancerberoSgx commented on #469
nice! go structures! :) I think there's no problem with having unused imports since if users are trying to build a sourcefile for interfaces they can always execute organizeImports. I was thinking about suggesting to add "exclude" or "include" member names since for big classes users will probably want to split it into several implemented interfaces but then I thought, KISS, I can filter the resul

[2018-10-25 19:29] elclanrs commented on #450
@dsherret I was able to reproduce it. It took me a while to figure out the issue, but I have a simple example so you can see the bug.

1) Clone this repo https://github.com/elclanrs/ast-qualified-name-bug
2) Run `node ast.js`

Notice that the output is wrong:

[code]

The first input type is correct `size: AvatarSize`, but notice that the second input is not correct, and in addition the outputting

[2018-10-26 11:02] elclanrs commented on #450
I've done some more experimentation, and it seems like the bug can be tracked down to `getTypeAtLocation`. You can see that the `type` in the expression below is already wrong:

[code]

While `prop` contains the right type, `getTypeAtLocation` returns the wrong type.

TypeScript seems to think that since the `CardAvatarSize` has the same type as `AvatarSize` it should grab `AvatarSize`. I know bec

[2018-10-26 11:37] RWOverdijk opened #474 "Blank line between properties"
First things first, amazing work 👌 I'm really happy you built this.

That being said, there's one teensy tiny thing that I can't seem to get working.

Whenever I add properties _(or update using `.set()` with a new structure)_ all newlines are removed.

Here's a tiny example:

**testrun.js**

[code]

And the source file (**User.ts**) I'm manipulating:

[code]

After the save, I end up with the fol

[2018-10-26 16:15] TigerWest opened #476 "getAmbientModule does not work on no quote declare module"
**Describe the bug**
Version: 17.1.1

getAmbientModule does not work at no quote declare module

**To Reproduce**
[code]

**Expected behavior**

getAmbientModule should be worked on no quote module

[2018-10-26 17:28] dsherret commented on #476
Hey @TigerWest, this is working as intended. That method is filtering the results of `ts.TypeChecker`'s `.getAmbientModules()` method ([see here](https://github.com/Microsoft/TypeScript/blob/14c328e706f37446306484cb5770fa2d06c6875c/lib/typescript.d.ts#L1947)).

See here for terminology: https://www.typescriptlang.org/docs/handbook/namespaces-and-modules.html ...basically, this is equivalent to a n

[2018-10-26 20:05] RWOverdijk commented on #474
**Update:** I found writers, so I could write but I can't get in between properties when creating a class.

`file.insertText(magicalNumberIHaveYetToFind, writer => writer.writeLine('\n));`

So.. I could find the index and write a newline afterwards but I'm confident I'm just missing something.

[2018-10-26 20:11] dsherret commented on #474
Hey @RWOverdijk, right now the default setting between properties is for a newline and not a blank line. I'd have to either add a global manipulation setting to control spacing between properties and/or add another parameter to `.addProperty`-like methods that allows you to set the spacing.

For the time being, you could probably use the `appendWhitespace` method that exists on every node.

For ex

[2018-10-26 20:17] RWOverdijk commented on #474
That does work. Thanks. :)

[2018-10-27 21:14] #476 closed

[2018-10-27 22:37] dsherret opened #480 "Why does the ts type checker return structurally equivalent types as the first one requested?"
From #450. For example:

[code]

I bet this is by design, but logging it anyway.

[2018-10-27 22:40] dsherret commented on #450
That's very interesting! It seems what matters here is what type is requested first to the type checker and that's the main problem here. I bet that's probably by design, but opened #480 to investigate further.

Closing this for now.

[2018-10-27 23:10] dsherret commented on #480
Here's a compiler api example:

[code]

[2018-10-27 23:17] dsherret commented on #480
I think this is by design. For example, when changing it to this:

[code]

It will always output `string`. Closing...

[2018-10-28 02:18] cancerberoSgx opened #481 "useVirtualFileSystem breaks typechecking"
Creating a Project with useVirtualFileSystem: true the getType() seems to be broken or atleast working differently than not using that configuration. See the example :

[repro code in my playground](https://typescript-api-playground.glitch.me/#__editor_code__=%0Aimport%20Project%2C%20%7B%20ClassDeclaration%2C%20FunctionDeclaration%2C%20InterfaceDeclaration%2C%20MethodDeclaration%2C%20MethodSignatu

[2018-10-28 11:15] cancerberoSgx opened #484 "organizeImports throws"
The following code will throw an error when trying to execute sourceFile.organizeImports() after sourceFile.addImportDeclaration().

In my case is important that organizeImports() not to throw because I'm using it for refactor tools that must work on any arbitrary project, this is a simple one with two files:

[code]

the error is on SourceFile.manipulation() :

[code]

This error is an injection,

[2018-10-28 16:17] dsherret commented on #481
Does it work when you include the lib.d.ts files in the virtual file system? https://dsherret.github.io/ts-simple-ast/setup/file-system#virtual-file-system

[2018-10-28 17:36] dsherret commented on #484
Thanks for reporting @cancerberoSgx! Will be fixed in the next release (which I will do probably sometime today).

[2018-10-28 17:36] #484 closed

[2018-10-28 17:38] dsherret commented on #458
Unfortunately I have not been able to reproduce this one so I'm closing it for now. See my last comment for details on how reproducing the bug could be helped. Please reopen this if you can provide those details.

[2018-10-28 17:38] #458 closed

[2018-10-28 17:39] dsherret commented on #462
Closing for now. Please reopen if this doesn't work or you need more details.

[2018-10-28 18:02] #471 closed

[2018-10-28 21:11] dsherret commented on #480
Note the following behaviour of the compiler:

[code]

Outputs the following declaration file:

[code]

I'm going to reopen this issue for now.

[2018-10-29 00:03] cancerberoSgx commented on #484
Thanks, just in case, this is my workaround:

[code]

[2018-10-29 00:05] cancerberoSgx commented on #481
Yes I've also noticed that when reading the compiler diagnostics - it's clear now, thanks and sorry for the trouble and missing that docs.

[2018-10-29 00:38] dsherret commented on #481
@cancerberoSgx it's no trouble! It's a bonus to have this information in the issue tracker too because then people can find the solution easier when they run into the problem.

[2018-10-29 01:16] cancerberoSgx commented on #469
I agree with that structures shouldn't be polluted with dependencies. But I can see where you want to go with structures as refactoring tools . IMO structures shouldn't know anything about type binding or execution context. Maybe we need to introduce another concept for representing dependencies - BTW I'm just working on a related problem - I want to implement a "move declaration to another file"

[2018-10-29 07:46] RWOverdijk commented on #474
@dsherret What do you mean? You want me to extract the update, or this snippet?

[2018-10-29 07:48] RWOverdijk opened #485 "Decorator factory in structure"
I just tried adding decorators, and they show up as decorators rather than factories (missing brackets). I know there's a `setIsDecoratorFactory` but when working with structures it'd be nice if they also work.

I wouldn't mind helping if you could point me in the right direction because right now creating these decorators is a bit of a pita in my implementation.

[2018-10-29 09:10] RWOverdijk commented on #485
**Update:**

Here's an example of what I've been able to generate vs what I want to generate:

[code]

**What I want:**

[code]

[2018-10-29 10:55] sosoba opened #486 "SourceFile top level comment"
Hello. I use ts-simple-ast to generate the code like this:
[code]
Because output code is not written by man, it should not be analyzed by the linter.
How can I add top level comment like
`// tslint:disable`
to prevent analysis?

[2018-10-29 13:44] Gerrit0 commented on #486
You can use `addStatements`, `insertStatements` or `addStatement` with a writer. See [docs](https://dsherret.github.io/ts-simple-ast/manipulation/#adding-inserting-and-removing-statements)

[code]

[2018-10-29 13:49] dsherret commented on #485
Sorry that's not so clear. The way to do it is to provide an empty arguments array:

[code]

[2018-10-29 14:00] dsherret commented on #486
Yup that's it. Thanks @Gerrit0!

@sosoba I recommend doing that as the last step because of #189. That has to do with how comments are not stored in the ast.

[2018-10-29 14:10] RWOverdijk commented on #485
I think I love you. Don't tell my wife.

[2018-10-29 14:20] RWOverdijk commented on #474
Ah! Yes that's exactly what I did.

[code]

[2018-10-30 03:11] dsherret commented on #485
I had a good chuckle about that earlier.

Just wanted to follow up on this now that I have more time to explain for anyone reading in the future...

I thought about doing this:

[code]

But then it would be strange if someone provided something like the following:

[code]

I could have also added another type that doesn't have the `arguments` array when `isDecoratorFactory` is `false`, but I didn'

[2018-10-30 03:20] dsherret commented on #469
@cancerberoSgx yeah, I agree with what you said.

Cool! That's an interesting idea. For moving a declaration to another file that might get complicated... for example, what should happen in the following scenario?

[code]

Or in this scenario?

[code]

Anyway, something to think about.

[2018-10-30 10:16] RWOverdijk commented on #485
You're right, it does make more sense. Perhaps renaming it to argumentsOrFactory and allowing true to be passed in would make it more discoverable. Otherwise adding it in a doc somewhere?

[2018-10-30 17:03] cancerberoSgx commented on #469
In the second scenario what I'm diong is only moving test and making someVar exportable. The first one is a little bit tricky - what I'm doing is not doing anything is there are compilation errors. This is another complicated scenario: moving a declaration that is default export to a file that already has a default export. In that case I'm just aborting.  But yes, you are right, is not a simple pr

[2018-10-31 13:01] kyyash commented on #458
`import { Component, OnInit } from '@angular/core';
import { HttpClient, HttpHeaders, HttpParams } from '@angular/common/http';
import {ActivatedRoute} from '@angular/router';
import {RestService, EventBus, Authentication, IGadgetConfiguration} from '@sag-asd-modules/gadget-framework';
import {NotificationsService} from 'angular2-notifications';
import { ISNGGridOption } from 'asd-common/icommon.m

[2018-10-31 13:02] kyyash commented on #458
vdom.page.service.ts:578 Error: Debug Failure. False expression.
    at Object.setTextPos (typescript.js:7526)
    at addSyntheticNodes (typescript.js:110819)
    at createSyntaxList (typescript.js:110841)
    at processNodes (typescript.js:110804)
    at visitNodes (typescript.js:15128)
    at Object.forEachChild (typescript.js:15358)
    at SourceFileObject.NodeObject.forEachChild (typescript.js

[2018-10-31 13:05] kyyash commented on #458
I had posted the ts content and the error message i get

[2018-10-31 13:59] dsherret commented on #458
@kyyash I fixed the code in those posts to properly format the code. You need to use three backticks like this when editing the markdown...

[code]

...but the code above still shows regular expression literals in it (ex. `/_functions_`).

I'm still unable to reproduce this problem though. If you would like this fixed, then please take this template and edit it until the error message occurs:

[co

[2018-11-01 02:03] cancerberoSgx opened #489 "Project.applyFileTextChanges()"
There is SourceFile.applyTextChanges that accepts TextChanges[].

Would be great to have a project.applyFileTextChanges() that accept a FileTextChanges[] .   This objects contains information about which files should be modified or created and are returned by LanguageService. This way I don't have to apply the changes manually to each file.

Alternatively, if the resulting file text is empty, proj

[2018-11-01 02:42] cancerberoSgx opened #490 "Question: API to print a structure"
Is there a public API to print an Structure as a string without having to touch the AST or create a source file ? Thanks!

[2018-11-01 21:35] dsherret commented on #489
@cancerberoSgx sounds good! Based on the interface of `FileTextChanges` this probably shouldn't ever remove a file though. People can manually go through the files from the `FileTextChanges` objects and decide themselves if they want to remove them.

[2018-11-01 21:38] dsherret commented on #490
Nope, not at the moment. The printing of structures can be dependent on the context of where they're printed. Could you provide a use case for how this would be useful beyond what's currently possible?

[2018-11-02 06:45] kyyash commented on #458
@dsherret  I didnt understand your comment.

I can tell you that issue with code formatting, same code works if it is in different format.
I am trying to add a property at class level,
it works for this ts file,
`import {
  Component,
  OnInit
} from '@angular/core';
import {
  HttpClient,
  HttpHeaders,
  HttpParams
} from '@angular/common/http';
import {
  ActivatedRoute
} from '@angular/router'

[2018-11-02 06:47] kyyash commented on #458
works fine for same ts content but with slight different code formatting,
`import {
  Component,
  OnInit
} from '@angular/core';
import {
  HttpClient,
  HttpHeaders,
  HttpParams
} from '@angular/common/http';
import {
  ActivatedRoute
} from '@angular/router';
import {
  RestService,
  EventBus,
  Authentication,
  IGadgetConfiguration
} from '@sag-asd-modules/gadget-framework';
import {
  Noti

[2018-11-02 14:32] dsherret commented on #458
@kyyash I'm sorry, but I can't reproduce. Please ensure you are using the latest version of ts-simple-ast and then try out this code:

[code]

Please modify that example, change it to reproduce the bug, then repost it back here. I can't help without proper reproduction steps and a contained example. Thanks!

[2018-11-02 18:43] cancerberoSgx commented on #489
Nice! I already have it implemented and tested in a separate project. I will integrate those changes in ts-simple-ast after https://github.com/dsherret/ts-simple-ast/pull/488 is integrated since I need a couple of features from there and both kind of intersect. Thanks

[2018-11-03 18:12] dsherret commented on #480
Response from the compiler team in https://github.com/Microsoft/TypeScript/issues/28197:

[2018-11-03 21:10] dsherret commented on #485
@RWOverdijk thanks! I updated the docs.

[2018-11-05 08:50] kyyash commented on #458
@dsherret
I tried to upgrade the typescript version in the package.json, for some reason it still shows 3.0.1
this is the output I get when execute the generated js file using 'node'
Adjust glob pattern(s) in the 'outFiles' attribute so that they cover the generated JavaScript.
node --inspect-brk=29111 ts.parser.test.js
Debugger listening on ws://127.0.0.1:29111/a783c819-93f8-4619-9c25-05046d3b761

[2018-11-05 10:57] kyyash commented on #458
I was able to run your code snippet after upgraded simple ast to 18.0.

In addition,

I see that simple ast is not backward compatible with its own versions may be due to its ongoing changes.

if (importDeclnStructure.namedImports.indexOf(element.getText()) !== -1)

indexOf does not work here anymore after upgrading to simple ast 18.0.0

[2018-11-05 13:05] kyyash commented on #458
one more observation,
When I try to add a statement to a function, second time i face the issue,
typescript.parser.ts:460 Error: Cannot read property 'compilerNode' of undefined
-- Details --
Path: /__temp__.ts
Text: "...= \"UPDATE_CHART\"){this.inputCtrlext_charth5r7p0w0qjo4bgiiw=event.payload;}\r\n  /*events*/\r\n  }\r\n\r\n}\r\n\n      if(event.eventType === \"UPDATE_CHART\"){this.inputCtrlext_

[2018-11-05 14:35] dsherret commented on #458
@kyyash yes, between version 14 and 18 there will be breaking changes. The project uses semantic versioning: https://semver.org

Please post the error messages and code in github code blocks: https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code-and-syntax-highlighting -- the error messages you're posting show regex literals.

I've still been unable to reproduce this bug. Were you

[2018-11-05 14:44] kyyash commented on #458
`core.js:1449 ERROR Error: Cannot read property 'compilerNode' of undefined
-- Details --
Path: /__temp__.ts
Text: "...\"UPDATE_CHART\"){this.inputCtrlext_chartlq3dt5mrebsjo4f142u=event.payload;}\r\n  /*events*/\r\n  }\r\n\r\n}\r\n\n      if(event.eventType === \"UPDATE_CHART\"){this.inputCtrlext_chart07qs1oqgxtvhjo4f1gai=event.payload;}"
    at InvalidOperationError.BaseError [as constructor] (Ba